Repository freifunk-gluon/gluon, changes with the labels that .github/labeler.yml gives for each.
All labels: 3. topic: babel, 3. topic: batman-adv, 3. topic: build, 3. topic: config-mode, 3. topic: continous integration, 3. topic: docs, 3. topic: fastd, 3. topic: firewall, 3. topic: hardware, 3. topic: multidomain, 3. topic: package, 3. topic: respondd, 3. topic: status-page, 3. topic: tests, 3. topic: tunneldigger, 3. topic: wireguard, 3. topic: wireless

tunneldigger: add back group option
  patches/packages/packages/0002-tunneldigger-add-group-option-to-UCI-config.patch
Labels: none

mpc85xx-p1010: add support for Enterasys WS-AP3715i
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/mpc85xx-p1010
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

modules: update openwrt
  modules
Labels: none

modules: update packages
  modules
Labels: none

modules: update routing
  modules
Labels: none

modules: update gluon
  modules
Labels: none

modules: update openwrt
  modules
Labels: none

modules: update packages
  modules
Labels: none

modules: update gluon
  modules
Labels: none

docs: remove remaining CSS workaround
  docs/_static/css/custom.css
Labels: 3. topic: docs

docs: remove remaining CSS workaround (#2737)
  docs/_static/css/custom.css
Labels: 3. topic: docs

modules: update openwrt
  modules
Labels: none

modules: update packages
  modules
Labels: none

mpc85xx-p1010: add support for Enterasys WS-AP3715i (#2993)
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/mpc85xx-p1010
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

ramips: add support for TP-Link Archer C50 v6
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware

docs, readme: Gluon v2023.1.1
  README.md
  contrib/ci/minimal-site/site.conf
  contrib/ci/olsr-site/site.conf
  docs/conf.py
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: continous integration, 3. topic: docs

modules: update openwrt
  modules
Labels: none

modules: update packages
  modules
Labels: none

modules: update routing
  modules
Labels: none

patches: openwrt: revert latest mt76 bump
  patches/openwrt/0014-Revert-mt76-update-to-the-latest-version-from-the-22.03-branch.patch
  patches/openwrt/0015-Revert-mt76-update-to-the-latest-version-from-the-22.03-branch.patch
Labels: none

docs: add v2023.1.1 release notes
  docs/releases/index.rst
  docs/releases/v2023.1.1.rst
Labels: 3. topic: docs

treewide: replace luabitops with lua-bit32
  package/gluon-core/Makefile
  package/gluon-core/luasrc/usr/lib/lua/gluon/iputil.lua
  package/gluon-core/luasrc/usr/lib/lua/gluon/util.lua
  package/gluon-hoodselector/Makefile
  package/gluon-hoodselector/luasrc/usr/sbin/hoodselector
Labels: 3. topic: package

gluon-mesh-babel: remove luabitop dependency
  package/gluon-mesh-babel/Makefile
Labels: 3. topic: babel, 3. topic: package

modules: update openwrt
  modules
Labels: none

modules: update packages
  modules
Labels: none

modules: update routing
  modules
Labels: none

modules: update gluon
  modules
Labels: none

docs, readme: Gluon v2023.1.1
  README.md
  contrib/ci/minimal-site/site.conf
  contrib/ci/olsr-site/site.conf
  docs/conf.py
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: continous integration, 3. topic: docs

docs: add v2023.1.1 release notes
  docs/releases/index.rst
  docs/releases/v2023.1.1.rst
Labels: 3. topic: docs

lantiq-xrx200: mark target as broken
  .github/filters.yml
  targets/targets.mk
Labels: 3. topic: hardware

Revert "github: filters: build x86-64 target on Dockerfile change"
  .github/filters.yml
Labels: none

workflows: check that the generated CI filters are up-to-date
  .github/workflows/check-ci.yml
Labels: 3. topic: continous integration

ipq40xx-generic: add support for ZTE MF289F
  package/gluon-core/luasrc/lib/gluon/upgrade/250-cellular
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ipq40xx-generic
Labels: 3. topic: hardware, 3. topic: package

modules: update gluon
  modules
Labels: none

modules: update openwrt
  modules
Labels: none

modules: update packages
  modules
Labels: none

modules: update routing
  modules
Labels: none

modules: update gluon
  modules
Labels: none

github: limit container push action
  .github/workflows/build-container.yml
Labels: 3. topic: continous integration

modules: move Gluon packages to front of module list
  modules
Labels: none

.github/labeler.yml:

---
"3. topic: babel":
  - package/gluon-l3roamd/**
  - package/gluon-mesh-babel/**
  - package/gluon-mmfd/**
"3. topic: batman-adv":
  - docs/package/gluon-mesh-batman-adv*
  - package/gluon-alfred/**
  - package/gluon-cient-bridge/**
  - package/gluon-mesh-batman-adv/**
  - package/libbatadv/**
"3. topic: build":
  - Makefile
  - scripts/**
"3. topic: config-mode":
  - docs/dev/web/config-mode.rst
  - docs/package/gluon-config-mode-*
  - packge/gluon-config-mode-*/**
  - package/gluon-web*/**
"3. topic: continous integration":
  - .github/workflows/*
  - contrib/actions/**
  - contrib/ci/**
"3. topic: docs":
  - docs/**
"3. topic: fastd":
  - docs/features/fastd*
  - package/gluon-mesh-vpn-fastd/**
"3. topic: firewall":
  - package/**/*-firewall
  - package/gluon-nftables-*/**
"3. topic: hardware":
  - package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  - package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  - targets/*
"3. topic: multidomain":
  - docs/features/multidomain*
  - docs/multidomain-site-example/**
  - package/gluon-config-mode-domain-select/**
  - package/gluon-scheduled-domain-switch/**
"3. topic: package":
  - package/**
"3. topic: respondd":
  - package/**/*respondd*
  - package/gluon-respondd/**
"3. topic: status-page":
  - package/gluon-status-page/**
"3. topic: tests":
  - tests/**
"3. topic: tunneldigger":
  - package/gluon-mesh-vpn-tunneldigger/**
"3. topic: wireguard":
  - package/gluon-mesh-vpn-wireguard/**
"3. topic: wireless":
  - package/gluon-mesh-wireless-sae/**
  - package/gluon-private-wifi/**
  - package/gluon-web-private-wifi/**
  - package/gluon-web-wifi-config/**
  - package/gluon-wireless-encryption/**
