Repository freifunk-gluon/gluon, changes with the labels that .github/labeler.yml gives for each.
All labels: 3. topic: babel, 3. topic: batman-adv, 3. topic: build, 3. topic: config-mode, 3. topic: continous integration, 3. topic: docs, 3. topic: fastd, 3. topic: firewall, 3. topic: hardware, 3. topic: multidomain, 3. topic: package, 3. topic: respondd, 3. topic: status-page, 3. topic: tests, 3. topic: tunneldigger, 3. topic: wireguard, 3. topic: wireless

.github/labeler.yml:

---
"3. topic: babel":
  - package/gluon-l3roamd/**
  - package/gluon-mesh-babel/**
  - package/gluon-mmfd/**
"3. topic: batman-adv":
  - docs/package/gluon-mesh-batman-adv*
  - package/gluon-alfred/**
  - package/gluon-cient-bridge/**
  - package/gluon-mesh-batman-adv/**
  - package/libbatadv/**
"3. topic: build":
  - Makefile
  - scripts/**
"3. topic: config-mode":
  - docs/dev/web/config-mode.rst
  - docs/package/gluon-config-mode-*
  - packge/gluon-config-mode-*/**
  - package/gluon-web*/**
"3. topic: continous integration":
  - .github/workflows/*
  - contrib/actions/**
  - contrib/ci/**
"3. topic: docs":
  - docs/**
"3. topic: fastd":
  - docs/features/fastd*
  - package/gluon-mesh-vpn-fastd/**
"3. topic: firewall":
  - package/**/*-firewall
  - package/gluon-nftables-*/**
"3. topic: hardware":
  - package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  - package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  - targets/*
"3. topic: multidomain":
  - docs/features/multidomain*
  - docs/multidomain-site-example/**
  - package/gluon-config-mode-domain-select/**
  - package/gluon-scheduled-domain-switch/**
"3. topic: package":
  - package/**
"3. topic: respondd":
  - package/**/*respondd*
  - package/gluon-respondd/**
"3. topic: status-page":
  - package/gluon-status-page/**
"3. topic: tests":
  - tests/**
"3. topic: tunneldigger":
  - package/gluon-mesh-vpn-tunneldigger/**
"3. topic: wireguard":
  - package/gluon-mesh-vpn-wireguard/**
"3. topic: wireless":
  - package/gluon-mesh-wireless-sae/**
  - package/gluon-private-wifi/**
  - package/gluon-web-private-wifi/**
  - package/gluon-web-wifi-config/**
  - package/gluon-wireless-encryption/**

gluon-core: dont fail on unset interface role
  package/gluon-core/luasrc/lib/gluon/upgrade/021-interface-roles
Labels: 3. topic: package

ath79-generic: add support for AVM Fritz!Repeater 1750e
  targets/ath79-generic
Labels: 3. topic: hardware

ipq40xx-generic: add support for AVM Fritz!Repeater 3000
  targets/ipq40xx-generic
Labels: 3. topic: hardware

target: remove package-removal NOPs (#3047)
  targets/generic
Labels: 3. topic: hardware

generic: fix removal of mbedtls
  targets/generic
Labels: 3. topic: hardware

generic: fix removal of mbedtls (#3053)
  targets/generic
Labels: 3. topic: hardware

modules: update openwrt
  modules
Labels: none

modules: update packages
  modules
Labels: none

gluon-mesh-vpn-core: remove old migration code
  package/gluon-mesh-vpn-core/luasrc/lib/gluon/upgrade/500-mesh-vpn
Labels: 3. topic: package

ath79-generic: add support for AVM Fritz!Repeater 1750e (#3051)
  targets/ath79-generic
Labels: 3. topic: hardware

ci: dynamically set thread-count
  contrib/actions/run-build.sh
Labels: 3. topic: continous integration

mediatek-filogic: add support for GL.iNet GL-MT3000
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

ci: collect basic system information
  .github/workflows/build-gluon.yml
  contrib/actions/show-system-info.sh
Labels: 3. topic: continous integration

ath79-mikrotik: add support for MikroTik wAPR-2nD (wAP R)
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-mikrotik
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

Update targets/ath79-mikrotik
  targets/ath79-mikrotik
Labels: 3. topic: hardware

ci: workflow_dispatch: allow usage of a custom site
  .github/workflows/build-gluon.yml
  contrib/actions/checkout-site.sh
  contrib/actions/run-build.sh
Labels: 3. topic: continous integration

mediatek-filogic: remove broken flag for TUF AX4200
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

ath79-generic: add support for D-Link DAP-3662
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

mediatek-filogic: remove broken flag for TUF AX4200 (#3064)
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

docs: move wifi channels in multi domain site example to the correct section
  docs/multidomain-site-example/domains/alpha_centauri.conf
Labels: 3. topic: docs, 3. topic: multidomain

docs: move wifi channels in multi domain site example to the correct section (#3065)
  docs/multidomain-site-example/domains/alpha_centauri.conf
Labels: 3. topic: docs, 3. topic: multidomain

ath79-mikrotik: add support for MikroTik wAPR-2nD (wAP R) (#3062)
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-mikrotik
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

mediatek-filogic: add support for GL.iNet GL-MT3000 (#3052)
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

treewide: use mbedTLS hostapd / wpa_s instead of WolfSSL
  package/gluon-mesh-wireless-sae/Makefile
  package/gluon-wireless-encryption-wpa3/Makefile
Labels: 3. topic: package, 3. topic: wireless

gluon-mesh-vpn-fastd: use CAKE for bandwidth shaping
  package/gluon-core/luasrc/usr/lib/lua/gluon/util.lua
  package/gluon-mesh-vpn-fastd/luasrc/usr/lib/lua/gluon/mesh-vpn/provider/fastd.lua
  package/gluon-status-page/luasrc/lib/gluon/upgrade/500-status-page
Labels: 3. topic: fastd, 3. topic: package, 3. topic: status-page

gluon-mesh-vpn-sqm: add package
  package/gluon-mesh-vpn-sqm/Makefile
Labels: 3. topic: package

lantiq-xrx200: remove BROKEN target-flag
  targets/targets.mk
Labels: 3. topic: hardware

github: update CI filters
  .github/filters.yml
Labels: none

ath79-generic: remove Ubiquiti AirMax targets
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

ath79-generic: remove Ubiquiti AirMax targets (#3067)
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

treewide: use mbedTLS hostapd / wpa_s instead of WolfSSL (#3048)
  package/gluon-mesh-wireless-sae/Makefile
  package/gluon-wireless-encryption-wpa3/Makefile
Labels: 3. topic: package, 3. topic: wireless

docs: apply sort in alphabetical order
  docs/user/supported_devices.rst
Labels: 3. topic: docs

gluon-core: drop removed devices
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
Labels: 3. topic: hardware, 3. topic: package

gluon-core: drop removed devices (#3070)
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
Labels: 3. topic: hardware, 3. topic: package

docs: apply sort in alphabetical order (#3069)
  docs/user/supported_devices.rst
Labels: 3. topic: docs

modules: update packages
  modules
  patches/packages/packages/0001-perl-don-t-build-in-parallel-and-bump-release.patch
Labels: none

modules: update openwrt
  modules
  patches/openwrt/0005-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
Labels: none
