Repository freifunk-gluon/gluon, changes with the labels that .github/labeler.yml gives for each.
All labels: 3. topic: babel, 3. topic: batman-adv, 3. topic: build, 3. topic: config-mode, 3. topic: continous integration, 3. topic: docs, 3. topic: fastd, 3. topic: firewall, 3. topic: hardware, 3. topic: multidomain, 3. topic: package, 3. topic: respondd, 3. topic: status-page, 3. topic: tests, 3. topic: tunneldigger, 3. topic: wireguard, 3. topic: wireless

.github/labeler.yml:

---
"3. topic: babel":
  - package/gluon-l3roamd/**
  - package/gluon-mesh-babel/**
  - package/gluon-mmfd/**
"3. topic: batman-adv":
  - docs/package/gluon-mesh-batman-adv*
  - package/gluon-alfred/**
  - package/gluon-cient-bridge/**
  - package/gluon-mesh-batman-adv/**
  - package/libbatadv/**
"3. topic: build":
  - Makefile
  - scripts/**
"3. topic: config-mode":
  - docs/dev/web/config-mode.rst
  - docs/package/gluon-config-mode-*
  - packge/gluon-config-mode-*/**
  - package/gluon-web*/**
"3. topic: continous integration":
  - .github/workflows/*
  - contrib/actions/**
  - contrib/ci/**
"3. topic: docs":
  - docs/**
"3. topic: fastd":
  - docs/features/fastd*
  - package/gluon-mesh-vpn-fastd/**
"3. topic: firewall":
  - package/**/*-firewall
  - package/gluon-nftables-*/**
"3. topic: hardware":
  - package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  - package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  - targets/*
"3. topic: multidomain":
  - docs/features/multidomain*
  - docs/multidomain-site-example/**
  - package/gluon-config-mode-domain-select/**
  - package/gluon-scheduled-domain-switch/**
"3. topic: package":
  - package/**
"3. topic: respondd":
  - package/**/*respondd*
  - package/gluon-respondd/**
"3. topic: status-page":
  - package/gluon-status-page/**
"3. topic: tests":
  - tests/**
"3. topic: tunneldigger":
  - package/gluon-mesh-vpn-tunneldigger/**
"3. topic: wireguard":
  - package/gluon-mesh-vpn-wireguard/**
"3. topic: wireless":
  - package/gluon-mesh-wireless-sae/**
  - package/gluon-private-wifi/**
  - package/gluon-web-private-wifi/**
  - package/gluon-web-wifi-config/**
  - package/gluon-wireless-encryption/**

contrib: push Docker build-container to GitHub registry
  .github/workflows/build-conteiner.yml
Labels: 3. topic: continous integration

Revert "x86: switch to EFI-compatible images"
  targets/x86.inc
Labels: 3. topic: hardware

contrib: push Docker build-container to GitHub registry
  .github/workflows/build-container.yml
Labels: 3. topic: continous integration

modules: update packages
  modules
Labels: none

modules: update routing
  modules
Labels: none

modules: update openwrt
  modules
  patches/openwrt/0005-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
Labels: none

contrib: push Docker build-container to GitHub registry (#2971)
  .github/workflows/build-container.yml
Labels: 3. topic: continous integration

gluon-status-page: migrate JS to `es2015`-standard
  package/gluon-status-page/javascript/status-page.js
  package/gluon-status-page/javascript/status-page.min.js
Labels: 3. topic: package, 3. topic: status-page

contrib: depdot: use processed package info
  contrib/depdot.sh
Labels: none

contrib: Dockerfile: use UID/GID 100 for gluon user
  contrib/docker/Dockerfile
Labels: none

scripts: container.sh: replace unusual stderr echo redirect
  scripts/container.sh
Labels: 3. topic: build

contrib: Dockerfile: actually create gluon user directory
  contrib/docker/Dockerfile
Labels: none

contrib: Dockerfile: install libnss-unknown
  contrib/docker/Dockerfile
Labels: none

scripts: container.sh: keep UID/GID of host user in container
  scripts/container.sh
Labels: 3. topic: build

generic: disable building openvswitch
  targets/generic
Labels: 3. topic: hardware

Update tunneldigger-watchdog
  package/gluon-mesh-vpn-tunneldigger/luasrc/usr/bin/tunneldigger-watchdog
Labels: 3. topic: package, 3. topic: tunneldigger

gluon-mesh-vpn-tunneldigger: tunneldigger-watchdog: remove broken restart check
  package/gluon-mesh-vpn-tunneldigger/luasrc/usr/bin/tunneldigger-watchdog
Labels: 3. topic: package, 3. topic: tunneldigger

contrib: Dockerfile: install openssh-client
  contrib/docker/Dockerfile
Labels: none

workflow: don't push Docker container on PR
  .github/workflows/build-container.yml
Labels: 3. topic: continous integration

contrib: Dockerfile: install openssh-client (#2983)
  contrib/docker/Dockerfile
Labels: none

workflow: don't push Docker container on PR (#2984)
  .github/workflows/build-container.yml
Labels: 3. topic: continous integration

docs: releases/v2023.1: add warning and known issue for v2021.1.x x86 upgrade
  docs/releases/v2023.1.rst
Labels: 3. topic: docs

docs: css: add .strike class
  docs/_static/css/custom.css
Labels: 3. topic: docs

docs: releases/v2023.1: add warning and known issue for v2021.1.x x86 upgrade
  docs/releases/v2023.1.rst
Labels: 3. topic: docs

docs: css: add .strike class
  docs/_static/css/custom.css
Labels: 3. topic: docs

gluon-mesh-vpn-tunneldigger: tunneldigger-watchdog: remove broken restart check
  package/gluon-mesh-vpn-tunneldigger/luasrc/usr/bin/tunneldigger-watchdog
Labels: 3. topic: package, 3. topic: tunneldigger

gluon-wan-dnsmasq: rewrite initfile to use procd
  package/gluon-wan-dnsmasq/files/etc/init.d/gluon-wan-dnsmasq
Labels: 3. topic: package

patches: make D-Link DIR-860L B1 upgradable from swconfig to DSA
  patches/openwrt/0004-ramips-mt7621-make-DSA-images-swconfig-upgradable.patch
Labels: none

gluon-wan-dnsmasq: rewrite initfile to use procd (#2969)
  package/gluon-wan-dnsmasq/files/etc/init.d/gluon-wan-dnsmasq
Labels: 3. topic: package

gluon-wan-dnsmasq: rewrite initfile to use procd
  package/gluon-wan-dnsmasq/files/etc/init.d/gluon-wan-dnsmasq
Labels: 3. topic: package

ath79-generic: add support for TP-Link TL-WR2543N-ND
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

actions: run build-gluon for all master* branches
  .github/workflows/build-gluon.yml
Labels: 3. topic: continous integration

modules: update openwrt
  modules
  patches/openwrt/0005-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
Labels: none

modules: update packages
  modules
Labels: none

patches: openvswitch: don't do groff manpage check
  patches/packages/packages/0002-openvswitch-disable-groff-manpage-check.patch
Labels: none

modules: update openwrt
  modules
  patches/openwrt/0005-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
Labels: none

modules: update packages
  modules
Labels: none

ipq40xx-generic: add linksys-mr8300
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ipq40xx-generic
Labels: 3. topic: hardware, 3. topic: package

modules: update openwrt
  modules
Labels: none

modules: update packages
  modules
Labels: none
