Repository freifunk-gluon/gluon, changes with the labels that .github/labeler.yml gives for each.
All labels: 3. topic: babel, 3. topic: batman-adv, 3. topic: build, 3. topic: config-mode, 3. topic: continous integration, 3. topic: docs, 3. topic: fastd, 3. topic: firewall, 3. topic: hardware, 3. topic: multidomain, 3. topic: package, 3. topic: respondd, 3. topic: status-page, 3. topic: tests, 3. topic: tunneldigger, 3. topic: wireguard, 3. topic: wireless

.github/labeler.yml:

---
"3. topic: babel":
  - package/gluon-l3roamd/**
  - package/gluon-mesh-babel/**
  - package/gluon-mmfd/**
"3. topic: batman-adv":
  - docs/package/gluon-mesh-batman-adv*
  - package/gluon-alfred/**
  - package/gluon-cient-bridge/**
  - package/gluon-mesh-batman-adv/**
  - package/libbatadv/**
"3. topic: build":
  - Makefile
  - scripts/**
"3. topic: config-mode":
  - docs/dev/web/config-mode.rst
  - docs/package/gluon-config-mode-*
  - packge/gluon-config-mode-*/**
  - package/gluon-web*/**
"3. topic: continous integration":
  - .github/workflows/*
  - contrib/actions/**
  - contrib/ci/**
"3. topic: docs":
  - docs/**
"3. topic: fastd":
  - docs/features/fastd*
  - package/gluon-mesh-vpn-fastd/**
"3. topic: firewall":
  - package/**/*-firewall
  - package/gluon-nftables-*/**
"3. topic: hardware":
  - package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  - package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  - targets/*
"3. topic: multidomain":
  - docs/features/multidomain*
  - docs/multidomain-site-example/**
  - package/gluon-config-mode-domain-select/**
  - package/gluon-scheduled-domain-switch/**
"3. topic: package":
  - package/**
"3. topic: respondd":
  - package/**/*respondd*
  - package/gluon-respondd/**
"3. topic: status-page":
  - package/gluon-status-page/**
"3. topic: tests":
  - tests/**
"3. topic: tunneldigger":
  - package/gluon-mesh-vpn-tunneldigger/**
"3. topic: wireguard":
  - package/gluon-mesh-vpn-wireguard/**
"3. topic: wireless":
  - package/gluon-mesh-wireless-sae/**
  - package/gluon-private-wifi/**
  - package/gluon-web-private-wifi/**
  - package/gluon-web-wifi-config/**
  - package/gluon-wireless-encryption/**

modules: switch to openwrt-23.05
  modules
  patches/openwrt/0004-ramips-mt7621-make-DSA-images-swconfig-upgradable.patch
  patches/openwrt/0004-xrx200-migrate-fritz7360-v2-using-incorrect-image.patch
  patches/openwrt/0005-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
  patches/openwrt/0005-ramips-add-MT7621-WiFi-devpath-migration.patch
  patches/openwrt/0006-lantiq-xrx200-make-DSA-images-swconfig-upgradable.patch
  patches/openwrt/0008-hostapd-don-t-select-indoor-channel-on-outdoor-operation.patch
  patches/openwrt/0010-kconfig-abort-configuration-on-unset-symbol.patch
  patches/openwrt/0011-ath79-combine-OCEDO-dual-firmware-partitions.patch
  patches/openwrt/0012-ath79-combine-UniFi-AC-dual-firmware-partitions.patch
  patches/openwrt/0013-mac80211-mask-nested-A-MSDU-support-for-mesh.patch
  patches/packages/packages/0001-perl-don-t-build-in-parallel-and-bump-release.patch
  patches/packages/routing/0004-oonf-olsrd2-add-support-to-check-if-service-is-running.patch
  patches/packages/routing/0005-oonf-olsrd2-fix-building-with-multiple-plugins.patch
  patches/packages/routing/0006-oonf-olsrd2-add-missing-static-plugin-olsrv2_lan.patch
  patches/packages/routing/0007-oonf-olsrd2-change-to-git-version-from-2022-08-25.patch
  patches/packages/routing/0008-oonf-olsrd2-add-git-version-for-compile-in.patch
  patches/packages/routing/0009-oonf-olsrd2-a-usable-default-configuration.patch
Labels: none

Dockerfile: Install python3-distutils
  contrib/docker/Dockerfile
  docs/user/getting_started.rst
Labels: 3. topic: docs

generic: don't build Coova-Chilli
  targets/generic
Labels: 3. topic: hardware

generic: remove mbedtls
  targets/generic
Labels: 3. topic: hardware

ath79-generic: rename UniFi AP
  targets/ath79-generic
Labels: 3. topic: hardware

ath79-generic: drop RE450 v1 due to insufficient flash space
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

ath79-generic: drop TP-Link RE355 due to insufficient flash
  targets/ath79-generic
Labels: 3. topic: hardware

ath79-generic: drop TP-Link Archer C60 v1
  targets/ath79-generic
Labels: 3. topic: hardware

ipq40xx: disable boards lacking DSA conversion
  docs/user/supported_devices.rst
  targets/ipq40xx-generic
Labels: 3. topic: docs, 3. topic: hardware

ath79: don't create DIR-825 B1 factory image
  patches/openwrt/0006-ath79-don-t-create-DIR-825-B1-factory-image.patch
Labels: none

ramips-mt7621: rename Cudy WR1300 v1
  targets/ramips-mt7621
Labels: 3. topic: hardware

ramips-mt76x8: drop TP-Link RE305 due to to insufficient flash
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware

ipq40xx: remove nand strings from filenames
  targets/ipq40xx-generic
Labels: 3. topic: hardware

ramips-mt7621: rename ASUS RT-AC57U v1
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

mediatek-filogic: add support for ZyXEL NWA50AX Pro
  docs/user/supported_devices.rst
  targets/mediatek-filogic
  targets/targets.mk
Labels: 3. topic: docs, 3. topic: hardware

github: add mediatek-filogic CI target
  .github/filters.yml
Labels: none

modules: update openwrt
  modules
Labels: none

modules: update packages
  modules
Labels: none

modules: update routing
  modules
Labels: none

docs: supported_devices: add missing 8devices Jalapeno (#2936)
  docs/user/supported_devices.rst
Labels: 3. topic: docs

docs: avoid DNS request loop
  docs/features/dns-cache.rst
Labels: 3. topic: docs

docs: avoid DNS request loop (#2945)
  docs/features/dns-cache.rst
Labels: 3. topic: docs

docs: avoid DNS request loop
  docs/features/dns-cache.rst
Labels: 3. topic: docs

mediatek-filogic: add support for NETGEAR WAX220
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

mediatek-filogic: add support for NETGEAR WAX220 (#2943)
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

modules: update openwrt
  modules
Labels: none

modules: update routing
  modules
Labels: none

modules: update packages
  modules
Labels: none

ramips-mt7621: add ASUS RT-AX53U
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

mediatek-filogic: add support for Cudy WR3000 v1
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

ramips-mt7621: add ASUS RT-AX53U (#2720)
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

mediatek-filogic: add support for Cudy WR3000 v1 (#2949)
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

rampis-mt7621: add support for ZyXEL WSM20
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

docs: GH use `requirements.txt`
  .github/workflows/build-docs.yml
Labels: 3. topic: continous integration

gluon-status-page: disallow crawler/robots to index
  package/gluon-status-page/files/lib/gluon/status-page/view/layout.html
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
  package/gluon-status-page/files/lib/gluon/status-page/www/index.html
  package/gluon-status-page/files/lib/gluon/status-page/www/robots.txt
Labels: 3. topic: package, 3. topic: status-page

gluon-status-page: provide empty favicon
  package/gluon-status-page/files/lib/gluon/status-page/view/layout.html
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
  package/gluon-status-page/files/lib/gluon/status-page/www/index.html
Labels: 3. topic: package, 3. topic: status-page

gluon-status-page: modernize html
  package/gluon-status-page/files/lib/gluon/status-page/view/layout.html
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
  package/gluon-status-page/files/lib/gluon/status-page/www/index.html
  package/gluon-status-page/files/lib/gluon/status-page/www/static/status-page.css
  package/gluon-status-page/sass/status-page.scss
Labels: 3. topic: package, 3. topic: status-page

rampis-mt7621: add support for ZyXEL WSM20
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

rampis-mt7621: add support for ZyXEL WSM20 (#2965)
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

ramips-mt7621: ZyXEL WSM20 add alias Multy M1
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware
