Repository freifunk-gluon/gluon, changes with the labels that .github/labeler.yml gives for each.
All labels: 3. topic: babel, 3. topic: batman-adv, 3. topic: build, 3. topic: config-mode, 3. topic: continous integration, 3. topic: docs, 3. topic: fastd, 3. topic: firewall, 3. topic: hardware, 3. topic: multidomain, 3. topic: package, 3. topic: respondd, 3. topic: status-page, 3. topic: tests, 3. topic: tunneldigger, 3. topic: wireguard, 3. topic: wireless

scripts/modules.sh: move site feeds to the front of the module list
  scripts/modules.sh
Labels: 3. topic: build

github: build on release-branches
  .github/workflows/build-container.yml
Labels: 3. topic: continous integration

github: build docker-container on pull-request
  .github/workflows/build-container.yml
Labels: 3. topic: continous integration

new target: armsr
  .github/filters.yml
  docs/user/supported_devices.rst
  targets/armsr-armv7
  targets/armsr-armv8
  targets/armsr.inc
  targets/targets.mk
Labels: 3. topic: docs, 3. topic: hardware

ath79-generic: add support for TP-Link TL-WR2543N-ND (#2992)
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

modules: move Gluon packages to front of module list
  modules
Labels: none

scripts/modules.sh: move site feeds to the front of the module list
  scripts/modules.sh
Labels: 3. topic: build

docs: fix typos, change letter case and remove whitespace characters
  docs/dev/basics.rst
  docs/dev/hardware.rst
  docs/dev/packages.rst
  docs/dev/web/model.rst
  docs/features/vpn.rst
  docs/package/gluon-web-admin.rst
  docs/releases/v2014.4.rst
  docs/releases/v2016.2.rst
  docs/releases/v2018.2.4.rst
  docs/releases/v2018.2.rst
  docs/releases/v2019.1.1.rst
  docs/releases/v2020.1.rst
  docs/releases/v2022.1.4.rst
  docs/user/faq.rst
  docs/user/getting_started.rst
  docs/user/mtu.rst
  docs/user/site.rst
  docs/user/supported_devices.rst
Labels: 3. topic: docs

mediatek-mt7622: add support for Ubiquiti UniFi 6 LR v3
  docs/user/supported_devices.rst
  targets/mediatek-mt7622
Labels: 3. topic: docs, 3. topic: hardware

mediatek-mt7622: add support for Ubiquiti UniFi 6 LR v2
  docs/user/supported_devices.rst
  targets/mediatek-mt7622
Labels: 3. topic: docs, 3. topic: hardware

github: restrict branch-triggers on specific branches
  .github/workflows/build-gluon.yml
Labels: 3. topic: continous integration

github: add workflow-dispatch trigger for build workflow
  .github/workflows/build-gluon.yml
Labels: 3. topic: continous integration

github: trigger ci-build when altering ci
  .github/filters.yml
  contrib/actions/generate-target-filters.py
Labels: 3. topic: continous integration

ipq40xx-generic: add support for ZTE MF289F (#2921)
  package/gluon-core/luasrc/lib/gluon/upgrade/250-cellular
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ipq40xx-generic
Labels: 3. topic: hardware, 3. topic: package

build: fix duplicate building of host-tools
  Makefile
  scripts/basic_openwrt_config.sh
Labels: 3. topic: build

ath79-generic: add support for TP-Link EAP225-Outdoor v3
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

ipq807x-generic: add support for Xiaomi R-3600
  .github/filters.yml
  docs/user/supported_devices.rst
  targets/ipq807x-generic
  targets/targets.mk
Labels: 3. topic: docs, 3. topic: hardware

docs: Add description about what gluon is
  README.md
Labels: none

ath79-generic: (re)add support for archer-c60
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

ath79-generic: (re)add support for archer-c60 (#3034)
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

ath79-generic: add support for Ubiquiti Rocket 5ac lite
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

mediatek-filogic: add support for ASUS TUF-AX4200
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/mediatek-filogic
Labels: 3. topic: hardware, 3. topic: package

docs: releases/v2023.1.1: add warning and known
  docs/releases/v2023.1.1.rst
Labels: 3. topic: docs

gluon-radv-filterd: replace malloc with calloc
  package/gluon-radv-filterd/src/gluon-radv-filterd.c
Labels: 3. topic: package

Update docs/releases/v2023.1.1.rst
  docs/releases/v2023.1.1.rst
Labels: 3. topic: docs

docs: add GLUON_FEATURES_standard to multidomain site example
  docs/multidomain-site-example/site.mk
Labels: 3. topic: docs, 3. topic: multidomain

mediatek-filogic: add support for ASUS TUF-AX4200 (#2944)
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/mediatek-filogic
Labels: 3. topic: hardware, 3. topic: package

modules: update openwrt
  modules
Labels: none

modules: update packages
  modules
Labels: none

modules: update routing
  modules
Labels: none

modules: update gluon
  modules
Labels: none

treewide: remove stale migrations
  package/gluon-core/luasrc/lib/gluon/upgrade/300-firewall-rules
  package/gluon-status-page/luasrc/lib/gluon/upgrade/500-status-page
Labels: 3. topic: package, 3. topic: status-page

gluon-mesh-vpn: depend on simple-tc in implementation
  package/gluon-mesh-vpn-core/Makefile
  package/gluon-mesh-vpn-fastd/Makefile
  package/gluon-mesh-vpn-tunneldigger/Makefile
  package/gluon-mesh-vpn-wireguard/Makefile
Labels: 3. topic: fastd, 3. topic: package, 3. topic: tunneldigger, 3. topic: wireguard

target: remove package-removal NOPs
  targets/generic
Labels: 3. topic: hardware

modules: update openwrt
  modules
Labels: none

modules: update packages
  modules
Labels: none

modules: update routing
  modules
Labels: none

modules: update gluon
  modules
Labels: none

gluon-status-page: html: improve accessibility
  package/gluon-status-page/files/lib/gluon/status-page/view/layout.html
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
Labels: 3. topic: package, 3. topic: status-page

ath79-generic: add support for TP-Link EAP225-Outdoor v3 (#3033)
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

.github/labeler.yml:

---
"3. topic: babel":
  - package/gluon-l3roamd/**
  - package/gluon-mesh-babel/**
  - package/gluon-mmfd/**
"3. topic: batman-adv":
  - docs/package/gluon-mesh-batman-adv*
  - package/gluon-alfred/**
  - package/gluon-cient-bridge/**
  - package/gluon-mesh-batman-adv/**
  - package/libbatadv/**
"3. topic: build":
  - Makefile
  - scripts/**
"3. topic: config-mode":
  - docs/dev/web/config-mode.rst
  - docs/package/gluon-config-mode-*
  - packge/gluon-config-mode-*/**
  - package/gluon-web*/**
"3. topic: continous integration":
  - .github/workflows/*
  - contrib/actions/**
  - contrib/ci/**
"3. topic: docs":
  - docs/**
"3. topic: fastd":
  - docs/features/fastd*
  - package/gluon-mesh-vpn-fastd/**
"3. topic: firewall":
  - package/**/*-firewall
  - package/gluon-nftables-*/**
"3. topic: hardware":
  - package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  - package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  - targets/*
"3. topic: multidomain":
  - docs/features/multidomain*
  - docs/multidomain-site-example/**
  - package/gluon-config-mode-domain-select/**
  - package/gluon-scheduled-domain-switch/**
"3. topic: package":
  - package/**
"3. topic: respondd":
  - package/**/*respondd*
  - package/gluon-respondd/**
"3. topic: status-page":
  - package/gluon-status-page/**
"3. topic: tests":
  - tests/**
"3. topic: tunneldigger":
  - package/gluon-mesh-vpn-tunneldigger/**
"3. topic: wireguard":
  - package/gluon-mesh-vpn-wireguard/**
"3. topic: wireless":
  - package/gluon-mesh-wireless-sae/**
  - package/gluon-private-wifi/**
  - package/gluon-web-private-wifi/**
  - package/gluon-web-wifi-config/**
  - package/gluon-wireless-encryption/**
