Repository freifunk-gluon/gluon, pull requests merged in 2018-11, with the labels that each got.

#1559 docs: features/autoupdater: fix typo and add GLUON_TARGET for make clean
  docs/features/autoupdater.rst
Labels: documentation

#1562 docs: releases/v2018.1: add remark about GLUON_WLAN_MESH variable
  docs/releases/v2018.1.rst
Labels: documentation

#1560 ipq40xx: add support for ZyXEL NBG6617
  docs/index.rst
  patches/openwrt/0009-ipq40xx-add-support-for-the-ZyXEL-NBG6617.patch
  patches/openwrt/0010-build-add-mkrasimage.patch
  patches/openwrt/0011-ipq40xx-fix-NBG6617-LED-mapping.patch
  targets/ipq40xx
Labels: hardware, upstream-backport

#1548 mt76x8: add support for GL.iNet GL-MT300N-V2
  docs/index.rst
  patches/openwrt/0012-ramips-fix-leds-on-GL.iNet-GL-MT300N-V2.patch
  targets/ramips-mt76x8
Labels: hardware, upstream-backport

#1566 docs: multidomain: fix indentation
  docs/features/multidomain.rst
Labels: documentation

#1472 gluon-ebtables: build kernel with ebt_dnat and ebt_redirect
  package/gluon-core/Config.in
Labels: enhancement, regression

#1573 Do not count clients inactive for more than 60s
  package/gluon-mesh-babel/src/respondd.c
  package/gluon-mesh-batman-adv/src/respondd.c
Labels: enhancement

#1579 docs: clarify routing_algo example for BATMAN_V
  docs/user/site.rst
Labels: documentation

#1582 docs: cherry-pick from master of all relevant changes for 2018.1.x
  docs/features/autoupdater.rst
  docs/features/multidomain.rst
  docs/user/site.rst
Labels: documentation

#1587 gluon-status-page: display position and link it with geo uri scheme
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
  package/gluon-status-page/i18n/de.po
  package/gluon-status-page/i18n/gluon-status-page.pot
Labels: enhancement

#1585 gluon-mesh-babel: fix several issues reported by cppcheck
  package/gluon-mesh-babel/src/respondd.c
Labels: Babel
