Repository freifunk-gluon/gluon, pull requests merged in 2018-08, with the labels that each got.

#1499 ar71xx-generic: prefer kmod-ath10k for 802.11s mesh
  targets/ar71xx-generic
Labels: enhancement, hardware

#1502 gluon-web-mesh-vpn-fastd: clarify how to set the default value in site.conf
  docs/features/vpn.rst
  package/gluon-web-mesh-vpn-fastd/luasrc/lib/gluon/config-mode/model/admin/mesh_vpn_fastd.lua
Labels: documentation

#1503 docs: getting_started: dependency for time package
  docs/user/getting_started.rst
Labels: documentation

#1511 docs: add OCEDO Koala to supported devices
  docs/index.rst
Labels: hardware
