Repository freifunk-gluon/gluon, pull requests merged in 2018-07, with the labels that each got.

#1450 docs: increase recommended disk space
  docs/user/getting_started.rst
Labels: documentation

#1454 docs: private-wlan: add uci command to set MAC
  docs/features/private-wlan.rst
Labels: documentation

#1466 docs: fix wrong Banana Pi model in v2018.1 release notes
  docs/releases/v2018.1.rst
Labels: documentation

#1487 ramips: add support for TP-Link Archer C50 v3
  docs/index.rst
  targets/ramips-mt76x8
Labels: hardware

#1470 ramips: add TP-Link TL-WR841N v13
  docs/index.rst
  targets/ramips-mt76x8
Labels: hardware

#1482 gluon-web-admin: add site-commit to info page
  package/gluon-web-admin/files/lib/gluon/config-mode/view/admin/info.html
  package/gluon-web-admin/i18n/de.po
  package/gluon-web-admin/i18n/fr.po
  package/gluon-web-admin/i18n/gluon-web-admin.pot
Labels: enhancement

#1492 gluon-config-mode-theme: background grey of clicked buttons
  package/gluon-config-mode-theme/files/lib/gluon/config-mode/www/static/gluon.css
  package/gluon-config-mode-theme/sass/gluon.scss
Labels: enhancement

#1483 gluon-web-osm: add javascript static osm source
  package/gluon-web-osm/Makefile
  package/gluon-web-osm/files/lib/gluon/web/www/static/osm.js
  package/gluon-web-osm/javascript/osm.js
Labels: enhancement, package

#1498 fix typo
  docs/user/site.rst
Labels: documentation
