Repository freifunk-gluon/gluon, pull requests merged in 2018-06, with the labels that each got.

#1411 batman-adv: Fix best gw refcnt after netlink dump
  patches/packages/routing/0002-batman-adv-Fix-best-gw-refcnt-after-netlink-dump.patch
Labels: bug

#1416 Backport of Patch ab7f1acd to v2017.1.x
  docs/index.rst
  docs/package/gluon-config-mode-contact-info.rst
  package/gluon-config-mode-contact-info/Makefile
  package/gluon-config-mode-contact-info/check_site.lua
  package/gluon-config-mode-contact-info/i18n/de.po
  package/gluon-config-mode-contact-info/i18n/fr.po
  package/gluon-config-mode-contact-info/i18n/gluon-config-mode-contact-info.pot
  package/gluon-config-mode-contact-info/luasrc/lib/gluon/config-mode/wizard/0500-contact-info.lua
Labels: master-backport

#1423 ar71xx: add support for TP-Link TL-WA901ND v5
  docs/index.rst
  patches/lede/0097-ar71xx-add-support-for-TP-Link-TL-WA901ND-v5.patch
  targets/ar71xx-tiny
Labels: hardware

#1424 ar71xx: add support for OpenMesh A40/A60
  docs/index.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ar71xx-generic
Labels: hardware

#1413 docs: update site url for darmstadt
  docs/user/site.rst
Labels: documentation

#1426 ar71xx: add support for OpenMesh OM2P(-HS)v4
  docs/index.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ar71xx-generic
Labels: hardware

#1428 Update site.rst
  docs/user/site.rst
Labels: documentation

#1431 v2017.1.x: batman-adv: add patches from 2018.1-maint 2018-06-12
  patches/packages/routing/0006-batman-adv-add-patches-from-2018.1-maint-2018-06-12.patch
Labels: bug, upstream-backport

#1365 docs: add documentation about multidomain support
  docs/features/multidomain.rst
  docs/features/multidomain_configmode.gif
  docs/index.rst
  docs/multidomain-site-example/domains/alpha_centauri.conf
  docs/multidomain-site-example/i18n
  docs/multidomain-site-example/modules
  docs/multidomain-site-example/site.conf
  docs/multidomain-site-example/site.mk
Labels: documentation, release blocker

#1422 ftrace: fix dynamic ftrace
  patches/lede/0085-mips-fix-dynamic-ftrace.patch
  targets/generic
Labels: bug, enhancement, upstream-backport

#1445 ar71xx: Add support for TP-Link CPE210 v2
  docs/index.rst
  patches/lede/0098-ar71xx-disable-40Mhz-refclk-for-QCA953x.patch
  patches/lede/0099-ar71xx-Add-TP-Link-Pharos-v2-board-detection.patch
  patches/lede/0100-ar71xx-Add-support-for-TP-Link-CPE210-v2.patch
  targets/ar71xx-generic
Labels: hardware
