Repository freifunk-gluon/gluon, pull requests merged in 2018-05, with the labels that each got.

#1336 gluon-respondd: add information from /proc/stat to "statistics"
  package/gluon-respondd/src/respondd.c
Labels: enhancement, package

#1391 v2017.1.x: docs: add missing devices
  docs/index.rst
Labels: documentation, master-backport

#1384 Hardware docs
  docs/index.rst
Labels: documentation, hardware

#1389 ar71xx: add support for TP-Link TL-WR940N v6
  docs/index.rst
  patches/lede/0085-ar71xx-add-support-for-TP-Link-TL-WR940N-v6.patch
  targets/ar71xx-tiny
Labels: hardware, needs testing, upstream-backport

#1386 docs: add package/gluon-ebtables-limit-arp
  docs/index.rst
  docs/package/gluon-ebtables-limit-arp.rst
Labels: documentation

#1397 gluon-config-mode: add platform on config-mode reboot
  package/gluon-config-mode-mesh-vpn/luasrc/lib/gluon/config-mode/reboot/0100-mesh-vpn.lua
Labels: enhancement

#1395 ar71xx-generic: Add support for GL.iNet GL-AR750
  docs/index.rst
  patches/lede/0086-ar71xx-set-status-led-for-the-gl-boards.patch
  patches/lede/0087-ar71xx-add-support-for-GL.iNet-GL-AR750.patch
  patches/lede/0088-uboot-envtools-add-support-for-GL.iNet-GL-AR750.patch
  targets/ar71xx-generic
Labels: hardware, upstream-backport

#1295 v2017.1.x: Backport support for Archer C7 v4
  docs/index.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  patches/lede/0044-ar71xx-add-support-for-TP-LINK-Archer-C7-v4.patch
  patches/lede/0045-ar71xx-fix-TP-Link-Archer-C7-v4-switch-LEDs.patch
  patches/lede/0046-ar71xx-fix-Archer-C7-5GHz-MAC-address.patch
  targets/ar71xx-generic
Labels: hardware, master-backport

#1388 v2017.1.x: Add support for TP-Link WR940n v6
  docs/index.rst
  patches/lede/0047-ar71xx-add-support-for-TP-Link-TL-WR940N-v6.patch
  targets/ar71xx-tiny
Labels: hardware, master-backport

#1396 2017.1.x: ar71xx-generic: Add support for GL.iNet GL-AR750
  docs/index.rst
  patches/lede/0048-ar71xx-set-status-led-for-the-gl-boards.patch
  patches/lede/0049-ar71xx-add-support-for-GL.iNet-GL-AR750.patch
  patches/lede/0050-uboot-envtools-add-support-for-GL.iNet-GL-AR750.patch
  targets/ar71xx-generic
Labels: hardware, master-backport, needs testing

#1394 gluon-config-mode-contact-info: provide enhancements for DSGVO
  docs/user/site.rst
  package/gluon-config-mode-contact-info/check_site.lua
  package/gluon-config-mode-contact-info/i18n/de.po
  package/gluon-config-mode-contact-info/i18n/fr.po
  package/gluon-config-mode-contact-info/i18n/gluon-config-mode-contact-info.pot
  package/gluon-config-mode-contact-info/luasrc/lib/gluon/config-mode/wizard/0500-contact-info.lua
Labels: enhancement

#1400 ar71xx: add model detection for UBNT AC-Mesh
  patches/lede/0089-ar71xx-add-model-detection-for-UBNT-AC-Mesh.patch
Labels: hardware, upstream-backport

#1404 ar71xx: add support for Alfa AP121F
  docs/index.rst
  targets/ar71xx-generic
Labels: hardware
