Repository freifunk-gluon/gluon, pull requests merged in 2018-09, with the labels that each got.

#1506 ar71xx: add AVM FRITZ!WLAN Reapeater 450E
  docs/index.rst
  targets/ar71xx-generic
Labels: hardware

#1516 package/features: add gluon-ebtables-limit-arp on batman packages as Opt out
  package/features
Labels: enhancement

#1528 docs: enhance example values for gluon-config-mode-geo-location-osm
  docs/user/site.rst
Labels: documentation

#1529 gluon-config-mode-hostname: add option to use default hostname
  docs/user/site.rst
  package/gluon-config-mode-hostname/check_site.lua
  package/gluon-config-mode-hostname/luasrc/lib/gluon/config-mode/wizard/0100-hostname.lua
Labels: enhancement

#1533 mt76x8: flag target as broken
  targets/targets.mk
Labels: bug, hardware

#1455 ar71xx-generic: Reduce SquashFS blocksize to 64K
  targets/ar71xx-generic
Labels: enhancement

#1480 Enhance example translation files
  docs/site-example/i18n/de.po
  docs/site-example/i18n/en.po
  docs/site-example/i18n/fr.po
Labels: documentation
