Repository freifunk-gluon/gluon, pull requests merged in 2018-12, with the labels that each got.

#1595 gluon-mesh-babel: remove broken log-file option from config
  package/gluon-mesh-babel/luasrc/lib/gluon/upgrade/300-gluon-mesh-babel-mkconfig
Labels: Babel

#1597 gluon-client-bridge: set ra_holdoff interval to 30 seconds
  package/gluon-client-bridge/luasrc/lib/gluon/upgrade/300-gluon-client-bridge-network
Labels: regression, release blocker

#1591 ar71xx: add support for UniFi-AC-Mesh-Pro
  docs/index.rst
  patches/openwrt/0013-ar71xx-add-support-for-UniFi-AC-Mesh-Pro.patch
  targets/ar71xx-generic
Labels: hardware, needs testing, upstream-backport

#1602 docs: getting_started: Update to Debian Stretch
  docs/user/getting_started.rst
Labels: documentation

#1601 ar71xx: add support for ZyXEL NBG6616
  docs/index.rst
  targets/ar71xx-generic
Labels: hardware

#1605 docs: add v2018.2 release notes
  docs/index.rst
  docs/releases/v2018.2.rst
  docs/user/site.rst
Labels: documentation, release blocker

#1606 gluon-core: distribute dualband radios
  package/gluon-core/luasrc/lib/gluon/upgrade/200-wireless
Labels: enhancement

#1604 ar71xx: add support for FRITZ!Repeater 300E
  docs/index.rst
  targets/ar71xx-generic
Labels: hardware

#1608 ramips-mt76x8: remove broken flag
  docs/index.rst
  targets/ramips-mt76x8
Labels: hardware
