Repository freifunk-gluon/gluon, pull requests merged in 2019-03, with the labels that each got.

#1667 docs: remove unavailable devices (Picostation M5 and TL-WR710N v1/v2.1)
  docs/index.rst
Labels: changes requested, documentation

#1679 Update upgrade.rst
  docs/dev/upgrade.rst
Labels: documentation

#1675 docs: update targets
  docs/index.rst
Labels: documentation

#1669 ipq806x: add support for NETGEAR R7800
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ipq806x
  targets/targets.mk
Labels: hardware

#1638 ramips-mt7620: add support for Xiaomi MiWifi Mini
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ramips-mt7620
Labels: hardware
