Repository freifunk-gluon/gluon, pull requests merged in 2019-09, with the labels that each got.

#1810 docs: Add documentation for gluon-mesh-batman-adv
  docs/index.rst
  docs/package/gluon-ebtables-limit-arp.rst
  docs/package/gluon-mesh-batman-adv-logo.svg
  docs/package/gluon-mesh-batman-adv-multicast-architecture-segmentation.svg
  docs/package/gluon-mesh-batman-adv-multicast-architecture-to-clients.svg
  docs/package/gluon-mesh-batman-adv-multicast-architecture-to-mesh.svg
  docs/package/gluon-mesh-batman-adv-multicast-architecture.dia
  docs/package/gluon-mesh-batman-adv-multicast.svg
  docs/package/gluon-mesh-batman-adv.rst
  docs/user/site.rst
Labels: 3. topic: docs

#1807 ramips-rt305x: remove opkg and USB packages from 4M flash boards
  targets/ramips-rt305x
Labels: 1. severity: blocker, 3. topic: hardware

#1816 docs: gluon-hoodselector fix arrow width 0->0.05 to show arrow on svg's
  docs/package/gluon-hoodselector.dia
  docs/package/gluon-hoodselector.svg
Labels: 3. topic: docs

#1818 docs: mention ff05::2:1001 on the node monitoring page
  docs/features/monitoring.rst
Labels: 1. severity: blocker, 3. topic: docs

#1817 docs: remove Netgear WNDR3700 v5
  docs/user/supported_devices.rst
Labels: 3. topic: docs

#1822 docs, targets: mark and document several targets and devices as deprecated
  docs/user/supported_devices.rst
  targets/ar71xx-generic
Labels: 3. topic: docs

#1802 gluon-mmfd: add package
  package/gluon-mmfd/Makefile
  package/gluon-mmfd/files/etc/init.d/mmfd
Labels: 0. type: enhancement, 3. topic: babel, 3. topic: package

#1537 Bugfix: package/gluon-config-mode-geo-location: delet nodes Position after disable location option by reenterd config-mode. Also set location independend from sharing
  package/gluon-config-mode-geo-location/i18n/de.po
  package/gluon-config-mode-geo-location/i18n/fr.po
  package/gluon-config-mode-geo-location/i18n/gluon-config-mode-geo-location.pot
  package/gluon-config-mode-geo-location/luasrc/lib/gluon/config-mode/wizard/0400-geo-location.lua
Labels: 0. type: enhancement

#1825 gluon-mesh-batman-adv: remove gluon-mesh-batman-adv-14
  docs/package/gluon-ebtables-limit-arp.rst
  docs/package/gluon-mesh-batman-adv.rst
  docs/user/faq.rst
  docs/user/site.rst
  package/features
  package/gluon-mesh-batman-adv/Makefile
  package/gluon-mesh-batman-adv/check_site.lua
  package/gluon-mesh-batman-adv/files/lib/netifd/proto/gluon_bat0.sh
  package/gluon-mesh-batman-adv/luasrc/lib/gluon/upgrade/310-gluon-mesh-batman-adv-mesh
  package/gluon-mesh-batman-adv/src/respondd.c
  patches/packages/routing/0002-batctl-remove-kmod-batman-adv-dependency.patch
  patches/packages/routing/0003-batman-adv-remove-module-autoload.patch
Labels: 3. topic: batman-adv

#1828 docs: fix typos
  docs/package/gluon-hoodselector.rst
  docs/package/gluon-mesh-batman-adv.rst
  docs/releases/v2019.1.rst
  docs/user/site.rst
Labels: 3. topic: docs, 5. needs: stable backport

#1753 [RFC] Minimal jenkins file
  contrib/ci/Jenkinsfile
  contrib/ci/jenkins-community-slave/Dockerfile
  contrib/ci/jenkins-community-slave/README.md
  contrib/ci/jenkins-community-slave/slave.py
  contrib/ci/minimal-site/i18n
  contrib/ci/minimal-site/modules
  contrib/ci/minimal-site/site.conf
  contrib/ci/minimal-site/site.mk
Labels: 0. type: enhancement, 2. status: waiting-on-author

#1820 gluon-status-page: add domain and site to status page
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
  package/gluon-status-page/i18n/de.po
  package/gluon-status-page/i18n/gluon-status-page.pot
  package/gluon-status-page/luasrc/lib/gluon/status-page/controller/status-page.lua
Labels: 0. type: enhancement, 2. status: waiting-on-author, 3. topic: status-page
