Repository freifunk-gluon/gluon, pull requests merged in 2019-10, with the labels that each got.

#1840 Add support archer c60v2
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ar71xx-generic
Labels: 3. topic: hardware

#1842 docs: replace alfred with respondd
  docs/features/roles.rst
Labels: 3. topic: docs

#1844 ar71xx-generic: add missing ath10k packages
  targets/ar71xx-generic
Labels: 0. type: enhancement

#1704 ramips-mt76x8: add support for GL.iNet VIXMINI
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: hardware, 5. needs: documentation
