Repository freifunk-gluon/gluon, pull requests merged in 2019-11, with the labels that each got.

#1847 mpc85xx-p1020: add support for OCEDO Panda
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/mpc85xx-p1020
Labels: 3. topic: hardware

#1855 gluon-setup-mode: allows DECT button to enter setup mode
  docs/features/configmode.rst
  package/gluon-setup-mode/files/etc/hotplug.d/button/50-gluon-setup-mode
Labels: 0. type: enhancement, 3. topic: config-mode

#1854 lantiq-xway: support for AVM FRITZ!Box 7312
  docs/user/supported_devices.rst
  targets/lantiq-xway
  targets/targets.mk
Labels: 2. status: waiting-on-author, 3. topic: hardware

#1858 Drop IBSS support
  Makefile
  docs/dev/mac_addresses.rst
  docs/features/multidomain.rst
  docs/features/wlan-configuration.rst
  docs/package/gluon-scheduled-domain-switch.rst
  docs/user/site.rst
  docs/user/supported_devices.rst
  package/gluon-core/check_site.lua
  package/gluon-core/luasrc/lib/gluon/upgrade/200-wireless
  package/gluon-core/luasrc/usr/lib/lua/gluon/util.lua
  package/gluon-mesh-batman-adv/files/lib/gluon/core/mesh/setup.d/30-gluon-mesh-batman-adv
  package/gluon-web-wifi-config/i18n/de.po
  package/gluon-web-wifi-config/i18n/fr.po
  package/gluon-web-wifi-config/i18n/gluon-web-wifi-config.pot
  package/gluon-web-wifi-config/luasrc/lib/gluon/config-mode/model/admin/wifi-config.lua
  targets/ar71xx-generic
  targets/ar71xx-nand
  targets/ipq40xx-generic
  targets/ramips-mt7621
  targets/sunxi-cortexa7
  targets/targets.mk
  targets/x86.inc
Labels: 5. needs: testing

#1784 update i18n files via i18n-scan.pl and msgmerge
  package/gluon-config-mode-autoupdater/i18n/de.po
  package/gluon-config-mode-autoupdater/i18n/fr.po
  package/gluon-config-mode-autoupdater/i18n/gluon-config-mode-autoupdater.pot
  package/gluon-config-mode-contact-info/i18n/de.po
  package/gluon-config-mode-contact-info/i18n/fr.po
  package/gluon-config-mode-contact-info/i18n/gluon-config-mode-contact-info.pot
  package/gluon-config-mode-core/i18n/fr.po
  package/gluon-config-mode-geo-location-osm/i18n/de.po
  package/gluon-config-mode-geo-location/i18n/de.po
  package/gluon-config-mode-geo-location/i18n/fr.po
  package/gluon-config-mode-geo-location/i18n/gluon-config-mode-geo-location.pot
  package/gluon-config-mode-mesh-vpn/i18n/de.po
  package/gluon-config-mode-mesh-vpn/i18n/gluon-config-mode-mesh-vpn.pot
  package/gluon-config-mode-outdoor/i18n/de.po
  package/gluon-config-mode-outdoor/i18n/gluon-config-mode-outdoor.pot
  package/gluon-config-mode-theme/i18n/de.po
  package/gluon-status-page/i18n/de.po
  package/gluon-status-page/i18n/gluon-status-page.pot
  package/gluon-web-admin/i18n/de.po
  package/gluon-web-admin/i18n/fr.po
  package/gluon-web-admin/i18n/gluon-web-admin.pot
  package/gluon-web-logging/i18n/de.po
  package/gluon-web-logging/i18n/gluon-web-logging.pot
  package/gluon-web-mesh-vpn-fastd/i18n/de.po
  package/gluon-web-mesh-vpn-fastd/i18n/fr.po
  package/gluon-web-private-wifi/i18n/fr.po
  package/gluon-web-wifi-config/i18n/de.po
  package/gluon-web-wifi-config/i18n/fr.po
Labels: 3. topic: docs

#1865 ipq40xx: add support for AVM FritzRepeater 1200
  docs/user/supported_devices.rst
  patches/openwrt/0006-ipq-wifi-add-AVM-FRITZ-Repeater-1200-bdf.patch
  patches/openwrt/0007-ipq40xx-add-support-for-AVM-FRITZ-Repeater-1200.patch
  targets/ipq40xx-generic
Labels: 3. topic: hardware

#1871 ath79-generic: add support for devolo WiFi pro 1200i
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: hardware

#1869 ath79-generic: add support for OCEDO Raccoon
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ath79-generic
Labels: 3. topic: hardware

#1873 ath79-generic: add support for devolo WiFi pro 1750i
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: hardware

#1875 ath79-generic: add support for devolo WiFi pro 1750c
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: hardware

#1877 gluon-mesh-babel: Fix packets leaving wrong interface
  package/gluon-mesh-babel/Makefile
  package/gluon-mesh-babel/luasrc/lib/gluon/upgrade/300-gluon-mesh-babel-mkconfig
Labels: 3. topic: babel

#1881 ath79-generic: add support for devolo WiFi pro 1750x
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: hardware
