Repository freifunk-gluon/gluon, pull requests merged in 2019-02, with the labels that each got.

#1634 target x86-*: change from ext4 to squashfs
  targets/x86-64
  targets/x86-generic
  targets/x86-geode
Labels: enhancement

#1643 docs: improve references to the IRC chatroom
  README.md
  docs/dev/basics.rst
Labels: documentation

#1640 ar71xx: fix incorrect GL.iNet image names
  targets/ar71xx-generic
Labels: hardware

#1641 ramips-mt76x8: add support for TP-Link Archer C50 v4
  docs/index.rst
  patches/openwrt/0012-tools-mktplinkfw2-add-split-uboot-layout.patch
  patches/openwrt/0013-ramips-add-support-for-Archer-C50-v4.patch
  targets/ramips-mt76x8
Labels: hardware, upstream-backport

#1642 ramips-mt7620: add support for ASUS RT-AC51U as broken
  targets/ramips-mt7620
Labels: hardware

#1644 ath10k/ath10k-ct: support multicast and management rate control
  patches/openwrt/0014-mac80211-ath10k-support-for-multicast-and-management-rate-control.patch
  patches/openwrt/0015-ath10k-ct-support-for-multicast-and-management-rate-control.patch
Labels: enhancement, upstream-backport

#1626 gluon-core: assert WiFi driver provides 4 MAC-addresses
  package/gluon-core/luasrc/usr/lib/lua/gluon/util.lua
Labels: enhancement

#1555 gluon-scheduled-domain-switch: add package
  docs/package/gluon-scheduled-domain-switch.rst
  package/gluon-core/check_site.lua
  package/gluon-core/luasrc/usr/lib/lua/gluon/util.lua
  package/gluon-scheduled-domain-switch/Makefile
  package/gluon-scheduled-domain-switch/check_site.lua
  package/gluon-scheduled-domain-switch/luasrc/lib/gluon/upgrade/950-gluon-scheduled-domain-switch
  package/gluon-scheduled-domain-switch/luasrc/usr/bin/gluon-check-connection
  package/gluon-scheduled-domain-switch/luasrc/usr/bin/gluon-switch-domain
  scripts/check_site.lua
Labels: enhancement, package

#1650 ramips-mt76x8: add support for Netgear R6120
  docs/index.rst
  patches/openwrt/0016-ramips-add-support-for-Netgear-R6120.patch
  patches/openwrt/0017-tools-add-zip-utility.patch
  patches/openwrt/0018-firmware-utils-add-sercomm-netgear-tool.patch
  targets/ramips-mt76x8
Labels: hardware, upstream-backport

#1616 gluon-mesh-batman-adv: get IPv6-addresses via netlink
  package/gluon-mesh-batman-adv/src/respondd.c
Labels: enhancement

#1655 gluon-web-node-role: Fix i18n role translation
  package/gluon-web-node-role/i18n/de.po
  package/gluon-web-node-role/i18n/fr.po
  package/gluon-web-node-role/i18n/gluon-web-node-role.pot
  package/gluon-web-node-role/luasrc/lib/gluon/config-mode/model/admin/noderole.lua
Labels: bug
