Repository freifunk-gluon/gluon, pull requests merged in 2019-04, with the labels that each got.

#1690 docs: fix typos and small text improvements
  docs/dev/hardware.rst
  docs/dev/site_library.rst
  docs/dev/wan.rst
  docs/dev/web/controller.rst
  docs/features/autoupdater.rst
  docs/features/configmode.rst
  docs/features/multidomain.rst
  docs/features/private-wlan.rst
  docs/user/getting_started.rst
  docs/user/site.rst
  docs/user/x86.rst
Labels: documentation

#1665 docs: faq: add note for supported hardware
  docs/user/faq.rst
Labels: documentation

#1682 Bugfix: gluon-config-mode-mesh-vpn: 0300-mesh-vpn.lua limit_ingress
  package/gluon-config-mode-mesh-vpn/luasrc/lib/gluon/config-mode/wizard/0300-mesh-vpn.lua
Labels: 0. type: bug, 2. status: waiting-on-review

#1693 docs: add notice for opkg repo change
  docs/releases/v2018.2.rst
Labels: 0. type: regression, 3. topic: docs, 5. needs: stable backport

#1686 rename DEVICES to GLUON_DEVICES
  Makefile
  docs/user/getting_started.rst
  scripts/clean_output.sh
  scripts/common.inc.sh
  scripts/copy_output.sh
Labels: 0. type: enhancement, 3. topic: docs

#1697 ar71xx: add support for TP-Link TL-WR840N v2
  docs/index.rst
  targets/ar71xx-tiny
Labels: 3. topic: hardware, 5. needs: testing

#1703 gluon.mk: fix reference to LuaSrcDiet binary
  package/gluon.mk
Labels: 0. type: regression, 2. status: waiting-on-author, 3. topic: build

#1706 targets/ipq40xx: add support for jalapeno from 8devices
  targets/ipq40xx
Labels: 3. topic: hardware

#1713 docs: add GLUON_DEBUG
  docs/user/getting_started.rst
Labels: 3. topic: docs

#1710 Add mechanism to reload domain related services
  package/gluon-core/files/lib/gluon/reload.d/500-core
  package/gluon-core/files/usr/bin/gluon-reload
  package/gluon-mesh-vpn-fastd/files/lib/gluon/reload.d/200-mesh-vpn-fastd-stop
  package/gluon-mesh-vpn-fastd/files/lib/gluon/reload.d/800-mesh-vpn-fastd-start
  package/gluon-mesh-vpn-tunneldigger/files/lib/gluon/reload.d/200-mesh-vpn-tunneldigger-stop
  package/gluon-mesh-vpn-tunneldigger/files/lib/gluon/reload.d/800-mesh-vpn-tunneldigger-start
  package/gluon-respondd/files/lib/gluon/reload.d/100-respondd-stop
  package/gluon-respondd/files/lib/gluon/reload.d/900-respondd-start
Labels: 0. type: enhancement, 2. status: waiting-on-author, 3. topic: multidomain

#1702 [WIP] add checks for obsolete settings
  package/gluon-autoupdater/check_site.lua
  package/gluon-core/check_site.lua
  scripts/check_site.lua
Labels: 0. type: enhancement, 2. status: waiting-on-review, 3. topic: build

#1329 gluon-core: add outdoor channel support for 5 ghz radios
  docs/site-example/site.conf
  docs/user/site.rst
  package/features
  package/gluon-config-mode-outdoor/Makefile
  package/gluon-config-mode-outdoor/i18n/de.po
  package/gluon-config-mode-outdoor/i18n/gluon-config-mode-outdoor.pot
  package/gluon-config-mode-outdoor/luasrc/lib/gluon/config-mode/wizard/0250-outdoor.lua
  package/gluon-core/check_site.lua
  package/gluon-core/luasrc/lib/gluon/upgrade/180-outdoors
  package/gluon-core/luasrc/lib/gluon/upgrade/200-wireless
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  package/gluon-web-wifi-config/i18n/de.po
  package/gluon-web-wifi-config/i18n/fr.po
  package/gluon-web-wifi-config/i18n/gluon-web-wifi-config.pot
  package/gluon-web-wifi-config/luasrc/lib/gluon/config-mode/model/admin/wifi-config.lua
  scripts/check_site.lua
Labels: 0. type: enhancement, 2. status: waiting-on-review
