Repository freifunk-gluon/gluon, pull requests merged in 2019-06, with the labels that each got.

#1749 gluon-core: fix outdoor board names
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
Labels: 1. severity: blocker

#1752 batctl: upgrade package to latest release 2019.2
  patches/packages/routing/0004-batctl-upgrade-package-to-latest-release-2019.2.patch
Labels: 3. topic: batman-adv

#1741 Add luacheck config
  .luacheckrc
Labels: 0. type: enhancement

#1743 gluon-mesh-vpn-core: move common VPN config to gluon UCI package
  package/gluon-config-mode-mesh-vpn/luasrc/lib/gluon/config-mode/wizard/0300-mesh-vpn.lua
  package/gluon-mesh-vpn-core/luasrc/lib/gluon/mesh-vpn/update-config
  package/gluon-mesh-vpn-core/luasrc/lib/gluon/upgrade/500-mesh-vpn
Labels: 1. severity: blocker, 3. topic: tunneldigger, 5. needs: stable backport, 5. needs: testing

#1738 Add minimal docker environment
  contrib/Dockerfile
Labels: 3. topic: build

#1746 docs: add more info how to build and debug in Getting Started
  docs/user/getting_started.rst
Labels: 0. type: enhancement, 3. topic: docs

#1765 docs: fix troubleshooting link from markdown to RST
  docs/user/getting_started.rst
Labels: 3. topic: docs

#1763 docs: Add information, how to automatically check your code
  docs/dev/basics.rst
Labels: 3. topic: docs

#1696 ar71xx-generic: Add support for TP-Link CPE210 V3
  docs/index.rst
  patches/openwrt/0022-firmware-utils-tplink-safeloader-Add-CPE210-v3.patch
  patches/openwrt/0023-ar71xx-Add-support-for-TP-Link-CPE210-v3.patch
  targets/ar71xx-generic
Labels: 3. topic: hardware, 4. has: upstream-patches, 5. needs: testing
