Repository freifunk-gluon/gluon, pull requests merged in 2020-07, with the labels that each got.

#2068 gluon-radv-filterd: minor cleanup
  package/gluon-radv-filterd/src/gluon-radv-filterd.c
  package/gluon-radv-filterd/src/mac.h
Labels: 0. type: bugfix, 2. status: waiting-on-review, 3. topic: package

#2067 scripts: generate_manifest: remove obsolete manifest lines
  scripts/generate_manifest.lua
  scripts/sha512sum.sh
Labels: 0. type: enhancement, 2. status: waiting-on-review, 3. topic: build, 9. meta: release notes

#2045 Rewrite features.sh in Lua
  .luacheckrc
  docs/dev/packages.rst
  package/features
  scripts/feature_lib.lua
  scripts/features.sh
  scripts/target_config_lib.lua
Labels: 0. type: bugfix, 0. type: enhancement, 2. status: waiting-on-review, 3. topic: build

#2072 gluon-config-mode-geo-location-osm, gluon-web-osm: add support for custom tile layers
  docs/user/site.rst
  package/gluon-config-mode-geo-location-osm/check_site.lua
  package/gluon-config-mode-geo-location-osm/luasrc/usr/lib/lua/gluon/config-mode/geo-location-osm.lua
  package/gluon-web-osm/files/lib/gluon/web/view/model/osm/map.html
  package/gluon-web-osm/files/lib/gluon/web/www/static/gluon-web-osm.js
  package/gluon-web-osm/javascript/gluon-web-osm.js
  package/gluon-web-osm/luasrc/usr/lib/lua/gluon/web/model/osm.lua
Labels: 0. type: enhancement, 2. status: waiting-on-review, 3. topic: config-mode

#2074 gluon-web: don't display outdoor mode on preserve_channels
  package/gluon-config-mode-outdoor/luasrc/lib/gluon/config-mode/wizard/0250-outdoor.lua
  package/gluon-core/luasrc/lib/gluon/upgrade/200-wireless
  package/gluon-core/luasrc/usr/lib/lua/gluon/wireless.lua
  package/gluon-web-wifi-config/luasrc/lib/gluon/config-mode/model/admin/wifi-config.lua
Labels: 0. type: enhancement, 2. status: waiting-on-review, 3. topic: config-mode, 5. needs: documentation, 9. meta: release notes

#2075 docs: wlan-configuration: document outdoor mode behavior
  docs/features/wlan-configuration.rst
Labels: 3. topic: docs

#2077 openwrt: backport DFS fixes
  patches/openwrt/0014-mac80211-create-channel-list-for-fixed-channel-operation.patch
  patches/openwrt/0015-hostapd-enter-DFS-state-if-no-available-channel-is-found.patch
Labels: 0. type: bugfix, 2. status: waiting-on-review, 2. status: waiting-on-upstream, 5. needs: stable backport, topic: wireless
