Repository freifunk-gluon/gluon, pull requests merged in 2020-01, with the labels that each got.

#1894 ipq40xx: add support for Aruba AP-303
  patches/openwrt/0007-ipq-wifi-add-BDF-for-Aruba-AP-303.patch
  patches/openwrt/0008-ipq40xx-add-support-for-Aruba-AP-303.patch
  targets/ipq40xx-generic
Labels: 3. topic: hardware, 4. has: upstream-patches

#1910 ramips-mt7620: add support for TP-Link Archer C2 v1
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ramips-mt7620
Labels: 3. topic: hardware

#1860 ramips-mt7620: add support for TP-Link Archer C50 v1
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ramips-mt7620
Labels: 3. topic: hardware

#1913 gluon-neighbour-info: use default port 1001 and default dest ::1
  package/gluon-neighbour-info/src/gluon-neighbour-info.c
Labels: 0. type: enhancement

#1678 ramips-mt76x8: add support for TP-Link TL-WR902AC v3
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: hardware

#1912 ramips-mt7620: add support for TP-Link Archer C20i
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ramips-mt7620
Labels: 3. topic: hardware

#1900 docs: gluon-radv-filterd: enhance documentation with example
  docs/package/gluon-radv-filterd.rst
Labels: 3. topic: docs

#1918 ramips-mt76x8: add support for TP-Link TL-WA801ND v5
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: hardware

#1915 contib/ci: add build dependency versioning
  contrib/ci/Jenkinsfile
  contrib/ci/jenkins-community-slave/README.md
Labels: 0. type: enhancement, 3. topic: continuous integration

#1866 ramips-mt7620: add support for tp-link archer c20 v1
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ramips-mt7620
Labels: 3. topic: hardware
