Repository freifunk-gluon/gluon, pull requests merged in 2020-10, with the labels that each got.

#2125 ipq40xx-generic: add support for AVM FRITZBox 7530
  docs/user/supported_devices.rst
  targets/ipq40xx-generic
Labels: 3. topic: hardware

#2076 kernel: bridge: Implement MLD Querier wake-up calls / Android bug workaround
  patches/openwrt/0016-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
  patches/packages/routing/0002-batman-adv-compat-remove-ip_mc_check_igmp-ipv6_mc_check_mld.patch
Labels: 0. type: bugfix, 0. type: enhancement, 2. status: blocked, 2. status: waiting-on-review, 4. has: upstream-patches, 5. needs: testing

#2131 build: improve refreshing patches
  Makefile
  scripts/update-patches.sh
Labels: 0. type: enhancement, 3. topic: build

#2133 mt76: mt7603: add additional EEPROM chip ID
  patches/openwrt/0017-mt76-mt7603-add-additional-EEPROM-chip-ID.patch
Labels: 0. type: bugfix, 3. topic: hardware

#2136 ar71xx-generic: add support for TP-Link CPE210 v3.20
  patches/openwrt/0027-kernel-mtd-add-support-for-EN25QH64-in-spi-nor.c.patch
  patches/openwrt/0028-tplink-safeloader-expand-support-list-for-TP-Link-CPE210-v3.patch
  patches/openwrt/0029-Backport-en25qh64-from-4.14-to-4.9.patch
Labels: 3. topic: hardware

#2140 github: add workflow for checking patch status
  .github/workflows/check-patches.yml
Labels: 0. type: enhancement, 3. topic: continuous integration

#2056 lantiq-xrx200: add support for AVM Fritz!Box 3370 [resubmitted]
  targets/lantiq-xrx200
Labels: 3. topic: hardware
