Repository freifunk-gluon/gluon, pull requests merged in 2020-05, with the labels that each got.

#2002 generic: disable urngd by default (v2020.1.x)
  targets/generic
Labels: 0. type: bugfix, 0. type: regression

#2007 Fix package selection precedence
  Makefile
  scripts/copy_output.lua
  scripts/target_config_lib.lua
  scripts/target_lib.lua
  targets/x86-geode
  targets/x86.inc
Labels: 0. type: bugfix, 0. type: regression, 1. severity: blocker, 3. topic: build, 5. needs: testing

#2008 add hardware: Linksys EA6350 v3
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ipq40xx-generic
Labels: 0. type: enhancement, 3. topic: hardware

#2021 gluon-mesh-vpn-fastd: clean up peers and groups on update
  docs/user/site.rst
  package/gluon-mesh-vpn-fastd/luasrc/lib/gluon/upgrade/400-mesh-vpn-fastd
Labels: 0. type: enhancement, 2. status: waiting-on-review, 9. meta: release notes

#2015 gluon-mesh-batman-adv: do not override WAN MAC address with VXLAN
  package/gluon-mesh-batman-adv/luasrc/lib/gluon/upgrade/330-gluon-mesh-batman-adv-mac-addresses
Labels: 0. type: bugfix, 3. topic: batman-adv, 9. meta: release notes

#2013 Reuse outdoor device logic for setup mode interface selection, plus some cleanup
  package/gluon-config-mode-outdoor/luasrc/lib/gluon/config-mode/wizard/0250-outdoor.lua
  package/gluon-core/luasrc/lib/gluon/upgrade/180-outdoors
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  package/gluon-setup-mode/luasrc/lib/gluon/upgrade/320-setup-ifname
Labels: 0. type: enhancement, 5. needs: testing

#1916 RFC: add GLUON_MINIFY flag to allow skipping the minification process
  Makefile
  docs/user/getting_started.rst
  package/gluon-core/Config.in
  package/gluon-status-page/Makefile
  package/gluon.mk
  targets/generic
Labels: 0. type: enhancement

#2010 RFC: add x86-legacy subtarget
  .github/workflows/build-gluon.yml
  targets/targets.mk
  targets/x86-legacy
Labels: 0. type: enhancement, 3. topic: hardware, 5. needs: testing, 9. meta: release notes

#2011 Look up primary MAC address through board.json for LAN/WAN
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
Labels: 0. type: enhancement, 2. status: waiting-on-review, 5. needs: testing

#2028 gluon-core: add support for configuring the beacon interval
  docs/user/site.rst
  package/gluon-core/check_site.lua
  package/gluon-core/luasrc/lib/gluon/upgrade/200-wireless
Labels: 0. type: enhancement

#2041 Add all mesh interfaces to firewall rule wired_mesh
  package/gluon-core/luasrc/lib/gluon/upgrade/140-firewall-rules
Labels: 0. type: enhancement
