Repository freifunk-gluon/gluon, pull requests merged in 2020-04, with the labels that each got.

#1967 gluon-respondd: allow queries from extra_prefix6
  package/gluon-respondd/luasrc/lib/gluon/upgrade/400-respondd-firewall
Labels: 0. type: bugfix, 3. topic: firewall, 5. needs: stable backport

#1973 x86-geode: add target class
  targets/x86-geode
Labels: 0. type: bugfix

#1976 ci: add chmod step to resolve permissions on openwrt dl cache
  contrib/ci/jenkins-community-slave/README.md
Labels: 0. type: enhancement, 3. topic: continuous integration

#1962 ath79-generic: add support for GL.iNet GL-AR750S
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  patches/openwrt/0009-ath79-enable-GL-AR750S-NOR-variant-from-master.patch
  targets/ath79-generic
Labels: 0. type: enhancement, 3. topic: hardware

#1970 gluon-web-model: update inputs on form reset
  package/gluon-web-model/files/lib/gluon/web/view/model/form.html
  package/gluon-web-model/files/lib/gluon/web/www/static/gluon-web-model.js
  package/gluon-web-model/javascript/gluon-web-model.js
Labels: 0. type: bugfix, 3. topic: config-mode

#1989 targets/ramips-mt76x8: add support for Cudy WR1000
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 0. type: enhancement, 3. topic: hardware

#1992 mac80211: ath10k: increase rx buffer size to 2048
  patches/openwrt/0010-mac80211-ath10k-increase-rx-buffer-size-to-2048.patch
Labels: 0. type: enhancement

#1984 gluon-web-autoupdater: use human-readable names as branch labels, sort by label
  package/gluon-web-autoupdater/luasrc/lib/gluon/config-mode/model/admin/autoupdater.lua
Labels: 0. type: bugfix, 2. status: waiting-on-review, 3. topic: config-mode

#1995 lantiq-xway: remove support for AVM FRITZ!Box 7320 7330 7330SL
  docs/user/supported_devices.rst
  targets/lantiq-xway
Labels: 0. type: bugfix, 3. topic: hardware

#1996 ath79-generic: add support for TP-Link CPE220 v3
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 0. type: enhancement, 3. topic: hardware

#1999 docs: add Aruba AP-303 and Instant On AP11 to supported devices list
  docs/user/supported_devices.rst
Labels: 0. type: enhancement, 3. topic: docs

#1994 kernel: backport slub prefetch fix from v4.19
  patches/openwrt/0010-kernel-backport-slub-prefetch-fix-from-v4.19.patch
Labels: 0. type: bug, 1. severity: blocker, 4. has: upstream-patches, 5. needs: stable backport, 5. needs: testing
