Repository freifunk-gluon/gluon, pull requests merged in 2021-12, with the labels that each got.

#2324 gluon-ebtables-filter-ra-dhcp: disable DHCPv4 filter when gw_mode == 'server'
  package/gluon-ebtables-filter-ra-dhcp/luasrc/lib/gluon/ebtables/200-dir-dhcpv4
Labels: 3. topic: package, 3. topic: firewall

#2312 Hide WLAN config on devices without WLAN + related cleanup
  package/gluon-client-bridge/luasrc/lib/gluon/upgrade/320-gluon-client-bridge-wireless
  package/gluon-config-mode-outdoor/luasrc/lib/gluon/config-mode/wizard/0250-outdoor.lua
  package/gluon-core/luasrc/lib/gluon/upgrade/180-outdoors
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  package/gluon-core/luasrc/usr/lib/lua/gluon/wireless.lua
  package/gluon-web-private-wifi/luasrc/lib/gluon/config-mode/controller/admin/privatewifi.lua
  package/gluon-web-private-wifi/luasrc/lib/gluon/config-mode/model/admin/privatewifi.lua
  package/gluon-web-wifi-config/luasrc/lib/gluon/config-mode/controller/admin/wifi-config.lua
  package/gluon-web-wifi-config/luasrc/lib/gluon/config-mode/model/admin/wifi-config.lua
Labels: 0. type: enhancement, 3. topic: hardware, 3. topic: package, 2. status: waiting-on-review, 3. topic: config-mode, 3. topic: wireless, 0. type: refactoring

#2342 CI fixes
  .github/workflows/build-gluon.yml
Labels: 3. topic: continous integration

#2337 Makefile: error earlier when site.mk is missing (+ minor cleanup)
  Makefile
Labels: 5. needs: stable backport, 3. topic: build, 0. type: bugfix

#2338 Adjust for OpenWrt hwmode -> band wireless config change
  package/gluon-config-mode-outdoor/luasrc/lib/gluon/config-mode/wizard/0250-outdoor.lua
  package/gluon-core/luasrc/lib/gluon/upgrade/005-wireless-migration
  package/gluon-core/luasrc/lib/gluon/upgrade/200-wireless
  package/gluon-core/luasrc/usr/lib/lua/gluon/wireless.lua
  package/gluon-web-wifi-config/luasrc/lib/gluon/config-mode/model/admin/wifi-config.lua
Labels: 0. type: regression, 3. topic: package, 1. severity: blocker, 3. topic: config-mode, 0. type: bugfix, 3. topic: wireless

#2343 gluon-ebtables-limit-arp: declare clock as extern
  package/gluon-ebtables-limit-arp/src/gluon-arp-limiter.c
  package/gluon-ebtables-limit-arp/src/gluon-arp-limiter.h
Labels: 3. topic: package, 3. topic: firewall

#2292 Add helper to run a containerized build environment
  Makefile
  contrib/docker/Dockerfile
  docs/user/getting_started.rst
  scripts/container.sh
Labels: 3. topic: docs, 3. topic: build

#2350 gluon-respondd: remove obsolete migration from upgrade script
  package/gluon-respondd/luasrc/lib/gluon/upgrade/400-respondd-firewall
Labels: 3. topic: package, 3. topic: firewall, 3. topic: respondd

#2349 docs: consistent indentation + minor fixes
  .editorconfig
  docs/dev/basics.rst
  docs/dev/debugging.rst
  docs/dev/packages.rst
  docs/features/autoupdater.rst
  docs/features/multidomain.rst
  docs/features/vpn.rst
  docs/package/gluon-mesh-batman-adv.rst
  docs/package/gluon-scheduled-domain-switch.rst
  docs/releases/v2015.1.rst
  docs/releases/v2016.1.5.rst
  docs/releases/v2019.1.1.rst
  docs/releases/v2019.1.2.rst
  docs/releases/v2019.1.3.rst
  docs/releases/v2019.1.rst
  docs/releases/v2020.1.1.rst
  docs/releases/v2020.1.2.rst
  docs/releases/v2020.1.3.rst
  docs/releases/v2020.1.rst
  docs/user/getting_started.rst
  docs/user/site.rst
Labels: 3. topic: docs, 3. topic: batman-adv, 3. topic: multidomain

#2356 docs: user/getting_started: add a footnote regarding `make update`
  docs/dev/basics.rst
  docs/user/getting_started.rst
Labels: 3. topic: docs
