Repository freifunk-gluon/gluon, pull requests merged in 2021-06, with the labels that each got.

#2219 gluon-mesh-vpn-core: respondd active, enabled
  package/gluon-mesh-vpn-core/src/Makefile
  package/gluon-mesh-vpn-core/src/respondd.c
Labels: 3. topic: package, 3. topic: respondd

#2220 gluon-status-page: vpn protocol
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
Labels: 3. topic: package, 3. topic: status-page

#2216 gluon-mesh-vpn-core: respondd bandwidth_limit
  package/gluon-mesh-vpn-core/src/Makefile
  package/gluon-mesh-vpn-core/src/respondd.c
Labels: 0. type: enhancement, 3. topic: package, 3. topic: respondd

#2217 gluon-status-page: add bandwidth limit
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
  package/gluon-status-page/i18n/de.po
  package/gluon-status-page/i18n/fr.README
  package/gluon-status-page/i18n/gluon-status-page.pot
  package/gluon-status-page/i18n/ru.README
Labels: 0. type: enhancement, 2. status: blocked, 3. topic: package, 3. topic: status-page

#2209 gluon-ebtables-filter-multicast: relax IPv6 multicast firewall rules
  package/gluon-ebtables-filter-multicast/luasrc/lib/gluon/ebtables/355-mcast-drop
  package/gluon-mesh-batman-adv/files/lib/netifd/proto/gluon_bat0.sh
  patches/packages/routing/0003-batman-adv-Introduce-no-noflood-mark.patch
  patches/packages/routing/0004-batctl-Add-noflood_mark-command.patch
Labels: 0. type: enhancement, 3. topic: batman-adv

#2230 docs: Add v2021.1 release notes
  README.md
  docs/conf.py
  docs/index.rst
  docs/releases/v2021.1.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs, 9. meta: release notes

#2234 treewide: use lua-jsonc instead of lua-cjson for JSON handling during build
  modules
  package/gluon-site/Makefile
  scripts/check_site.lua
  scripts/domain_aliases.lua
Labels: 0. type: refactoring, 2. status: waiting-on-review, 3. topic: build, 3. topic: package

#2241 gluon-mesh-vpn-tunneldigger: fix Lua mesh-vpn provider module location
  package/gluon-mesh-vpn-tunneldigger/luasrc/usr/lib/lua/gluon/mesh-vpn/provider/tunneldigger.lua
Labels: 0. type: bugfix, 1. severity: blocker, 2. status: waiting-on-review, 3. topic: package, 3. topic: tunneldigger

#2240 gluon-mesh-vpn-core: fix potential null pointer dereferences
  package/gluon-mesh-vpn-core/src/respondd.c
Labels: 3. topic: package, 3. topic: respondd

#2242 ramips-mt76x8: add Xiaomi Mi Router 4A (100M Edition)
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2235 Update master to OpenWrt 21.02
  .github/workflows/build-gluon.yml
  contrib/Dockerfile
  contrib/actions/install-dependencies.sh
  docs/user/getting_started.rst
  docs/user/supported_devices.rst
  modules
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/usr/lib/lua/gluon/util.lua
  package/gluon-web/luasrc/usr/lib/lua/gluon/web/dispatcher.lua
  patches/openwrt/0003-dropbear-add-a-failsafe-mode-that-will-always-allow-password-less-root-login.patch
  patches/openwrt/0003-libjson-c-Add-support-for-custom-format-strings-for-doubles.patch
  patches/openwrt/0004-kernel-ebtables-add-support-for-ICMP-IGMP-type-matches.patch
  patches/openwrt/0006-build-set-TARGET_ROOTFS_PARTSIZE-to-make-combined-image-fit-in-128MB.patch
  patches/openwrt/0007-ipq-wifi-add-BDF-for-Aruba-AP-303.patch
  patches/openwrt/0008-ipq40xx-add-support-for-Aruba-AP-303.patch
  patches/openwrt/0009-ath79-enable-GL-AR750S-NOR-variant-from-master.patch
  patches/openwrt/0010-tools-add-zstd.patch
  patches/openwrt/0011-build-compress-kernel-debuginfo-using-zstd.patch
  patches/openwrt/0012-mac80211-rt2800-enable-MFP-support-unconditionally.patch
  patches/openwrt/0013-mac80211-create-channel-list-for-fixed-channel-operation.patch
  patches/openwrt/0014-hostapd-enter-DFS-state-if-no-available-channel-is-found.patch
  patches/openwrt/0015-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
  patches/openwrt/0016-ath79-Fix-fallback-to-bootloader-cmdline-on-empty-DT-bootargs.patch
  patches/openwrt/0017-ath79-Add-support-for-Plasma-Cloud-PA300.patch
  patches/openwrt/0018-ath79-Add-support-for-Plasma-Cloud-PA300E.patch
  patches/openwrt/0019-ipq40xx-Change-name-for-openmesh.sh-to-vendor-free-name.patch
  patches/openwrt/0020-ipq40xx-add-support-for-Plasma-Cloud-PA1200.patch
  patches/openwrt/0021-ipq40xx-add-support-for-Plasma-Cloud-PA2200.patch
  patches/openwrt/0022-kernel-bridge-Fix-a-deadlock-when-enabling-multicast-snooping.patch
  patches/packages/packages/0001-fastd-update-to-v19.patch
  patches/packages/packages/0002-fastd-update-to-v21.patch
  patches/packages/routing/0002-batman-adv-Introduce-no-noflood-mark.patch
  patches/packages/routing/0002-batman-adv-compat-remove-ip_mc_check_igmp-ipv6_mc_check_mld.patch
  patches/packages/routing/0003-batctl-Add-noflood_mark-command.patch
  targets/ar71xx-generic
  targets/ar71xx-mikrotik
  targets/ar71xx-nand
  targets/ar71xx-tiny
  targets/ath79-generic
  targets/ath79-nand
  targets/bcm27xx-bcm2708
  targets/bcm27xx-bcm2709
  targets/bcm27xx-bcm2710
  targets/bcm27xx.inc
  targets/generic
  targets/mpc85xx-generic
  targets/mpc85xx-p1010
  targets/mpc85xx-p1020
  targets/ramips-mt7620
  targets/ramips-mt7621
  targets/ramips-mt76x8
  targets/ramips-rt305x
  targets/sunxi-cortexa7
  targets/targets.mk
  targets/x86-64
  targets/x86-generic
  targets/x86-geode
  targets/x86-legacy
  targets/x86.inc
Labels: 3. topic: config-mode, 3. topic: continous integration, 3. topic: docs, 3. topic: hardware, 3. topic: package

#2248 treewide: ar71xx cleanup
  docs/dev/hardware.rst
  docs/features/autoupdater.rst
  docs/user/getting_started.rst
  docs/user/site.rst
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  package/gluon-setup-mode/luasrc/lib/gluon/upgrade/320-setup-ifname
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2253 ramips-mt76x8: add Xiaomi Mi Router 4C
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware

#2254 ramips-mt7621: add Xiaomi Mi Router 4A (Gigabit Edition)
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#2255 mediatek-mt7622: add support for UniFi 6 LR
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/200-wireless
  targets/mediatek-mt7622
  targets/targets.mk
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2252 docs: remove dropped hardware from docs
  docs/user/supported_devices.rst
Labels: 3. topic: docs

#2250 rockchip-armv8: add support for FriendlyElec NanoPi R2S
  .github/workflows/build-gluon.yml
  docs/user/supported_devices.rst
  targets/rockchip-armv8
  targets/targets.mk
Labels: 3. topic: continous integration, 3. topic: docs, 3. topic: hardware
