Repository freifunk-gluon/gluon, pull requests merged in 2021-05, with the labels that each got.

#2177 gluon-web-private-wifi: define ifname for WAN radio
  package/gluon-private-wifi/Makefile
  package/gluon-private-wifi/luasrc/lib/gluon/upgrade/325-gluon-private-wifi
  package/gluon-web-private-wifi/Makefile
  package/gluon-web-private-wifi/luasrc/lib/gluon/config-mode/model/admin/privatewifi.lua
Labels: 0. type: enhancement, 2. status: waiting-on-author

#2213 modules: update OpenWrt
  modules
Labels: 5. needs: stable backport

#2163 Generalize proto "gluon_wired.sh"
  package/gluon-core/files/lib/netifd/proto/gluon_wired.sh
  package/gluon-core/luasrc/lib/gluon/upgrade/210-interface-wan
  package/gluon-core/luasrc/lib/gluon/upgrade/220-interface-lan
Labels: 0. type: enhancement

#2214 gluon-status-page: add mesh protocol to status-page
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
  package/gluon-status-page/i18n/de.po
  package/gluon-status-page/i18n/gluon-status-page.pot
  package/gluon-status-page/i18n/ru.README
Labels: 0. type: enhancement, 3. topic: status-page

#2221 .github/labeler.yml: auto label pull requests
  .github/labeler.yml
  .github/workflows/labels.yml
Labels: 3. topic: continous integration

#2223 Simplify save/commit handling of config wizard sections
  package/gluon-config-mode-contact-info/luasrc/lib/gluon/config-mode/wizard/0500-contact-info.lua
  package/gluon-config-mode-core/luasrc/lib/gluon/config-mode/model/gluon-config-mode/wizard.lua
  package/gluon-config-mode-domain-select/luasrc/lib/gluon/config-mode/wizard/0200-domain-select.lua
  package/gluon-config-mode-geo-location/luasrc/lib/gluon/config-mode/wizard/0400-geo-location.lua
  package/gluon-config-mode-hostname/luasrc/lib/gluon/config-mode/wizard/0100-hostname.lua
  package/gluon-config-mode-mesh-vpn/luasrc/lib/gluon/config-mode/wizard/0300-mesh-vpn.lua
  package/gluon-config-mode-outdoor/luasrc/lib/gluon/config-mode/wizard/0250-outdoor.lua
  package/gluon-web-model/luasrc/usr/lib/lua/gluon/web/model/classes.lua
Labels: 0. type: refactoring, 2. status: waiting-on-review, 3. topic: config-mode, 3. topic: multidomain, 3. topic: package

#2102 mesh-vpn: fully abstract VPN methods
  package/gluon-config-mode-mesh-vpn/luasrc/lib/gluon/config-mode/reboot/0100-mesh-vpn.lua
  package/gluon-config-mode-mesh-vpn/luasrc/lib/gluon/config-mode/wizard/0300-mesh-vpn.lua
  package/gluon-mesh-vpn-core/luasrc/lib/gluon/mesh-vpn/update-config
  package/gluon-mesh-vpn-core/luasrc/lib/gluon/upgrade/500-mesh-vpn
  package/gluon-mesh-vpn-core/luasrc/usr/lib/lua/gluon/mesh-vpn.lua
  package/gluon-mesh-vpn-fastd/files/lib/gluon/mesh-vpn/provider/fastd
  package/gluon-mesh-vpn-fastd/luasrc/lib/gluon/upgrade/400-mesh-vpn-fastd
  package/gluon-mesh-vpn-fastd/luasrc/usr/lib/lua/gluon/mesh-vpn/provider/fastd.lua
  package/gluon-mesh-vpn-tunneldigger/files/lib/gluon/mesh-vpn/provider/tunneldigger
  package/gluon-mesh-vpn-tunneldigger/luasrc/lib/gluon/upgrade/400-mesh-vpn-tunneldigger
  package/gluon-mesh-vpn-tunneldigger/luasrc/lib/lua/gluon/mesh-vpn/provider/tunneldigger.lua
  package/gluon-web-admin/files/lib/gluon/config-mode/view/admin/info.html
Labels: 0. type: enhancement, 2. status: waiting-on-author, 3. topic: config-mode, 3. topic: fastd, 3. topic: package, 3. topic: tunneldigger

#2226 docs: add 'make refresh-patches'
  docs/dev/basics.rst
Labels: 3. topic: docs
