Repository freifunk-gluon/gluon, pull requests merged in 2021-04, with the labels that each got.

#2202 docs: Add v2020.2.3 release notes
  README.md
  docs/conf.py
  docs/index.rst
  docs/releases/v2020.2.3.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 2. status: waiting-on-review, 9. meta: release notes

#2201 gluon-status-page: add channels to status-page
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
  package/gluon-status-page/files/lib/gluon/status-page/www/static/status-page.js
  package/gluon-status-page/i18n/de.po
  package/gluon-status-page/i18n/gluon-status-page.pot
  package/gluon-status-page/i18n/ru.README
  package/gluon-status-page/javascript/status-page.js
Labels: 0. type: enhancement, 3. topic: status-page

#2200 gluon-status-page: add role to status-page
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
  package/gluon-status-page/i18n/de.po
  package/gluon-status-page/i18n/gluon-status-page.pot
  package/gluon-status-page/i18n/ru.README
Labels: 0. type: enhancement, 3. topic: status-page

#2154 Mention names of opkg-keys in doc
  docs/user/getting_started.rst
Labels: 2. status: waiting-on-author, 3. topic: docs

#1986 targets/ath79-generic: add archer-D50 v1
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ath79-generic
Labels: 0. type: enhancement, 2. status: waiting-on-author, 3. topic: hardware

#2128 autoupdater: document behaviour if manifest DATE is in the future
  docs/features/autoupdater.rst
Labels: 0. type: enhancement, 2. status: waiting-on-author, 2. status: waiting-on-review, 3. topic: docs
