Repository freifunk-gluon/gluon, pull requests merged in 2021-08, with the labels that each got.

#2284 [v2021.1.x] ath79-generic: add support for Joy-IT JT-OR750i
  patches/openwrt/0023-ath79-add-support-for-Joy-IT-JT-OR750i.patch
  patches/openwrt/0024-ath79-enable-missing-pinmux-for-JT-OR750i.patch
  patches/openwrt/0025-ath79-fix-JT-OR750i-switch-LED-assignment.patch
  targets/ath79-generic
Labels: 3. topic: hardware

#2245 gluon-state: implement ipv6 default route check
  package/gluon-state-check/Makefile
  package/gluon-state-check/files/lib/gluon/state/check.d/has_default_gw6
  package/gluon-state-check/files/usr/lib/micron.d/gluon-state-check
  package/gluon-state-check/luasrc/usr/sbin/gluon-state-check
Labels: 3. topic: package

#2291 actions: build targets conditionally
  .github/filters.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-gluon.yml
  .github/workflows/check-patches.yml
  .github/workflows/lint.yml
  Makefile
  contrib/actions/generate-actions.py
  contrib/actions/generate-target-filters.py
  scripts/update-ci.sh
Labels: 3. topic: build, 3. topic: continous integration

#2290 ipq40xx: add support for Aruba AP-365 / InstantOn AP17
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ipq40xx-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2288 ath79-generic: add TP-Link TL-WDR3600/4300
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2283 Add support for tp-link CPE510 V3
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2287 Add support for tp-link CPE510 V2
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2274 gluon-mesh-batman-adv: implement checks
  package/gluon-mesh-batman-adv/files/lib/gluon/state/check.d/has_default_gw4
  package/gluon-mesh-batman-adv/files/lib/gluon/state/check.d/has_neighbours
Labels: 3. topic: package, 3. topic: batman-adv

#2285 docs: add Gluon v2021.1.1 release notes
  README.md
  docs/conf.py
  docs/index.rst
  docs/releases/v2021.1.1.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs

#2294 scripts: add update-modules helper
  Makefile
  scripts/update-modules.sh
Labels: 3. topic: build

#2304 gluon-status-page: swap bandwidth limits
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
Labels: 3. topic: package, 3. topic: status-page
