Repository freifunk-gluon/gluon, pull requests merged in 2021-09, with the labels that each got.

#2301 ath79-generic: add support for TP-Link EAP225-Outdoor v1
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2302 ipq40xx: add support for Aruba AP-303H / Instant ON AP11D
  docs/user/supported_devices.rst
  targets/ipq40xx-generic
Labels: 3. topic: hardware

#2303 ramips-mt76x8: add support for GL.iNet microuter-N300
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: hardware

#2306 ath79-generic: add support for Onion Omega
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2289 Status page improvements
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
  package/gluon-status-page/files/lib/gluon/status-page/www/static/status-page.js
  package/gluon-status-page/i18n/de.po
  package/gluon-status-page/i18n/gluon-status-page.pot
  package/gluon-status-page/javascript/status-page.js
Labels: 3. topic: package, 3. topic: status-page

#2307 treewide: clean up site checks for prefix[46] and extra_prefixes6
  package/gluon-core/check_site.lua
  package/gluon-ebtables-source-filter/check_site.lua
  package/gluon-l3roamd/check_site.lua
Labels: 3. topic: babel, 3. topic: package, 3. topic: firewall

#2272 contrib/ci/minimal-site: build with owe and wpa3 support
  contrib/ci/minimal-site/site.conf
  docs/site-example/site.mk
Labels: 3. topic: docs, 3. topic: continous integration

#2309 treewide: remove duplicate i18n translations
  package/gluon-config-mode-geo-location/i18n/de.po
  package/gluon-config-mode-geo-location/i18n/fr.po
  package/gluon-web-wifi-config/i18n/de.po
  package/gluon-web-wifi-config/i18n/fr.po
Labels: 3. topic: package, 3. topic: config-mode, 3. topic: wireless

#2310 ramips-mt7621: add support for Ubiquiti UniFi 6 Lite
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#2168 Add package gluon-mesh-vpn-wireguard using wgpeerselector
  package/features
  package/gluon-mesh-vpn-core/files/lib/netifd/proto/gluon_wireguard.sh
  package/gluon-mesh-vpn-core/luasrc/lib/gluon/upgrade/500-mesh-vpn
  package/gluon-mesh-vpn-wireguard/Makefile
  package/gluon-mesh-vpn-wireguard/check_site.lua
  package/gluon-mesh-vpn-wireguard/files/lib/gluon/mesh-vpn/provider/wireguard
  package/gluon-mesh-vpn-wireguard/files/lib/gluon/mesh-vpn/wireguard_pubkey.sh
  package/gluon-mesh-vpn-wireguard/luasrc/lib/gluon/upgrade/400-mesh-vpn-wireguard
  package/gluon-mesh-vpn-wireguard/luasrc/usr/lib/lua/gluon/mesh-vpn/provider/wireguard.lua
  package/gluon-mesh-vpn-wireguard/src/Makefile
  package/gluon-mesh-vpn-wireguard/src/respondd.c
  patches/openwrt/0005-package-uci-backport-cli-add-option-for-changing-save-path.patch
  patches/openwrt/0006-wireguard-tools-allow-generating-private_key-v3.patch
Labels: 0. type: enhancement, 2. status: merge conflict, 3. topic: package, 3. topic: wireguard, 3. topic: respondd

#2313 x86: don't build ext4 images
  .github/filters.yml
  Makefile
  contrib/actions/generate-target-filters.py
  targets/x86.inc
Labels: 3. topic: hardware, 3. topic: build, 3. topic: continous integration
