Repository freifunk-gluon/gluon, pull requests merged in 2021-07, with the labels that each got.

#2258 actions: add mediatek-mt7622 target
  .github/workflows/build-gluon.yml
Labels: 3. topic: continous integration

#2264 ath79-generic: add support for Siemens WS-AP3610
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2262 gluon-status-page: relax nodeinfo query timeout
  package/gluon-status-page/luasrc/lib/gluon/status-page/controller/status-page.lua
Labels: 3. topic: package, 3. topic: status-page

#2263 gluon-core: delete all network device sections
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
Labels: 3. topic: package

#2271 Remove ramips-rt305x and now unused build features
  .github/workflows/build-gluon.yml
  docs/user/supported_devices.rst
  package/gluon-client-bridge/Makefile
  package/gluon-core/Config.in
  package/gluon-core/Makefile
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  package/gluon-ebtables-limit-arp/Makefile
  package/gluon-ebtables/Makefile
  package/gluon-mesh-batman-adv/Makefile
  package/gluon-mesh-vpn-core/Makefile
  package/gluon-mesh-vpn-fastd/Makefile
  package/gluon-mesh-vpn-tunneldigger/Makefile
  scripts/copy_output.lua
  scripts/target_config_lib.lua
  scripts/target_lib.lua
  targets/ramips-rt305x
  targets/targets.mk
Labels: 2. status: waiting-on-review, 3. topic: batman-adv, 3. topic: build, 3. topic: continous integration, 3. topic: docs, 3. topic: fastd, 3. topic: firewall, 3. topic: hardware, 3. topic: package, 3. topic: tunneldigger

#2237 Run site check for manual package installations
  package/gluon-core/luasrc/lib/gluon/check-site.lua
  package/gluon.mk
Labels: 0. type: enhancement, 2. status: waiting-on-review, 3. topic: package

#2267 gluon-core: wireless: support PHY lookup for multi-PHY devices
  package/gluon-core/luasrc/usr/lib/lua/gluon/wireless.lua
Labels: 3. topic: package

#2273 gluon-core: use uci:delete_all() instead of foreach()+delete()
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
Labels: 3. topic: package

#2265 ramips-mt76x8: add support for RAVPower RP-WD009
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware

#2249 docs: update Sphinx theme
  .readthedocs.yml
  docs/_static/css/custom.css
  docs/requirements.txt
Labels: 0. type: enhancement, 2. status: waiting-on-review, 3. topic: docs

#2278 gluon-status-page: make "gateway nexthop" a link
  package/gluon-status-page/files/lib/gluon/status-page/www/static/status-page.js
  package/gluon-status-page/javascript/status-page.js
Labels: 3. topic: package, 3. topic: status-page

#2276 treewide: correctly specify conffiles
  package/gluon-core/Makefile
  package/gluon-node-info/Makefile
  package/gluon-setup-mode/Makefile
  package/gluon-wan-dnsmasq/Makefile
Labels: 0. type: bugfix, 2. status: waiting-on-review, 3. topic: package

#2023 scripts: Add push_pkg.sh to enhance package development workflow (v2)
  contrib/push_pkg.sh
  contrib/run_qemu.sh
  docs/dev/packages.rst
Labels: 0. type: enhancement, 2. status: waiting-on-author, 3. topic: docs, 5. needs: documentation

#2275 ramips-mt76x8: add support for TP-Link RE200 v2
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware

#2282 ath79-generic: add support for Joy-IT JT-OR750i
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware
