Repository freifunk-gluon/gluon, pull requests merged in 2022-11, with the labels that each got.

#2689 ramips-mt7621: add support for ZyXEL NWA55AXE
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ramips-mt7621
Labels: 3. topic: hardware, 3. topic: package

#2683 contrib: update minimal-site site.conf for v2022.1
  contrib/ci/minimal-site/site.conf
Labels: 3. topic: continous integration

#2696 gluon-core: preserve wireless channel width during updates
  docs/features/wlan-configuration.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/200-wireless
Labels: 3. topic: docs, 3. topic: package

#2699 Enable ath10k-smallbuffers for low memory ath10k boards
  targets/ath79-generic
Labels: 3. topic: hardware
