Repository freifunk-gluon/gluon, pull requests merged in 2022-07, with the labels that each got.

#2565 mediatek-mt7622: add support for Linksys E8450
  docs/user/supported_devices.rst
  targets/mediatek-mt7622
Labels: 3. topic: docs, 3. topic: hardware

#2566 mediatek-mt7622: add support for Xiaomi AX3200
  docs/user/supported_devices.rst
  targets/mediatek-mt7622
Labels: 3. topic: docs, 3. topic: hardware

#2543 ath79-generic: (re)add WBS510 v1
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2575 lantiq-xway: remove DSL specific packages
  targets/lantiq-xway
Labels: 3. topic: hardware

#2573 ipq40xx-mikrotik: add support for mikrotik-sxtsq-5-ac
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ipq40xx-mikrotik
  targets/targets.mk
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2578 modules: update to latest HEAD
  modules
  package/gluon-iptables-clamp-mss-to-pmtu/Makefile
  package/gluon-mesh-vpn-core/Makefile
  targets/generic
  targets/mediatek-mt7622
Labels: 3. topic: hardware, 3. topic: package

#2579 gluon-core: always store primary MAC address in lowercase hex digits
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
Labels: 3. topic: hardware, 3. topic: package

#2406 ath79-generic: add AVM FRITZ!WLAN Repeater 300E support
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 2. status: merge conflict, 3. topic: hardware, 2. status: waiting-on-author

#2462 ath79-generic: (re)add support for UniFi AC Mesh Pro
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/lib/gluon/upgrade/115-swconfig
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2583 ath79-generic: (re)add support for ALFA Network AP121F
  docs/user/supported_devices.rst
  package/gluon-setup-mode/files/lib/gluon/setup-mode/rc.d/S96led
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2523 ath79-nand: migrate wndr3700v4
  docs/user/supported_devices.rst
  targets/ath79-nand
Labels: 3. topic: docs, 3. topic: hardware

#2587 ramips-mt7620: add support for xiaomi_mi-router-3g-v2
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware
