Repository freifunk-gluon/gluon, pull requests merged in 2022-08, with the labels that each got.

#2594 gluon-mesh-vpn-fastd: fix respondd segfault under load
  package/gluon-mesh-vpn-fastd/src/respondd.c
Labels: 3. topic: package, 3. topic: respondd, 3. topic: fastd

#2590 web-admin: always ignore minor compat-version on upgrade
  package/gluon-web-admin/luasrc/lib/gluon/config-mode/controller/admin/upgrade.lua
Labels: 3. topic: package, 3. topic: config-mode

#2553 Move common firewall rules to respective packages
  package/gluon-l3roamd/luasrc/lib/gluon/upgrade/320-firewall-l3roamd
  package/gluon-mesh-babel/Makefile
  package/gluon-mesh-babel/luasrc/lib/gluon/upgrade/310-gluon-mesh-babel-firewall
  package/gluon-mesh-layer3-common/Makefile
  package/gluon-mesh-layer3-common/check_site.lua
  package/gluon-mesh-layer3-common/luasrc/lib/gluon/radvd/arguments
  package/gluon-mesh-layer3-common/luasrc/lib/gluon/upgrade/250-layer3-ip6
  package/gluon-mesh-layer3-common/luasrc/lib/gluon/upgrade/310-layer3-firewall
  package/gluon-mmfd/luasrc/lib/gluon/upgrade/310-gluon-mmfd-firewall
  package/gluon-mmfd/luasrc/lib/gluon/upgrade/430-gluon-mmfd-interface
Labels: 3. topic: babel, 3. topic: package, 3. topic: firewall

#2596 gluon-mesh-batman-adv: add "gateway_tq" field to respondd statistics
  package/gluon-mesh-batman-adv/src/respondd-statistics.c
Labels: 3. topic: package, 3. topic: batman-adv, 3. topic: respondd

#2599 gluon-respondd: fix missing section "wifi" for request type "neighbours"
  package/gluon-respondd/src/respondd-neighbours.c
Labels: 0. type: bugfix

#2607 gluon-core: increase ath10k peer limit
  package/gluon-core/files/etc/hotplug.d/firmware/20-gluon-ath10k-fwcfg
  package/gluon-core/files/lib/gluon/ath10k-fwcfg.txt
Labels: 3. topic: package

#2593 ramips-mt76x8: add support for Xiaomi Mi Router 4A (100M International Edition)
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware

#2589 ramips-mt7621: add support for Netgear WAX202
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#2613 gluon-core: provide migration for preserve_channels
  docs/features/wlan-configuration.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/190-preserve-wireless-channels
  package/gluon-core/luasrc/usr/lib/lua/gluon/wireless.lua
Labels: 3. topic: docs, 3. topic: package

#2606 ath79-generic: (re)add support for Ocedo Koala
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2611 docs: update fastd Gateway / Supernode Configuration
  docs/features/vpn.rst
Labels: 3. topic: docs, 1. severity: blocker, 2. status: waiting-on-review

#2621 Include OpenWrt's target default package lists in config generation
  Makefile
  scripts/target_config_lib.lua
Labels: 1. severity: blocker, 3. topic: build, 0. type: bugfix

#2584 docs/features/wired-mesh: update to role-based configuration
  docs/features/wired-mesh.rst
  docs/user/site.rst
Labels: 3. topic: docs, 1. severity: blocker, 2. status: waiting-on-review

#2620 ramips-mt76x8: add support for Netgear R6020
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware

#2623 workflows: fix checkout in backports action
  .github/workflows/backport.yml
Labels: 3. topic: continous integration

#2626 ramips-mt76x8: add support for TP-Link RE305 v1
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware

#2625 ramips-mt7621: add support for TP-Link RE500
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware
