Repository freifunk-gluon/gluon, pull requests merged in 2022-01, with the labels that each got.

#2364 Clean up obsolete upgrade migrations
  package/gluon-core/luasrc/lib/gluon/upgrade/001-upgrade
  package/gluon-core/luasrc/lib/gluon/upgrade/210-interface-wan
  package/gluon-core/luasrc/lib/gluon/upgrade/220-interface-lan
  package/gluon-core/luasrc/lib/gluon/upgrade/800-migrate-batadv
  package/gluon-l3roamd/luasrc/lib/gluon/upgrade/380-gluon-l3roamd-route
  package/gluon-mesh-batman-adv/luasrc/lib/gluon/upgrade/310-gluon-mesh-batman-adv-mesh
  package/gluon-mesh-batman-adv/luasrc/lib/gluon/upgrade/320-gluon-mesh-batman-adv-client-bridge
  package/gluon-mesh-vpn-fastd/luasrc/lib/gluon/upgrade/400-mesh-vpn-fastd
Labels: 3. topic: babel, 3. topic: package, 3. topic: batman-adv, 3. topic: fastd

#2363 scripts/container.sh: allow for empty Branch Names
  scripts/container.sh
Labels: 3. topic: build

#2358 modules: update OpenWrt
  modules
  patches/openwrt/0015-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
Labels: 2. status: waiting-on-author

#2339 gluon-status-page: use UCI + iwinfo to get channel information
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
Labels: 0. type: regression, 3. topic: package, 2. status: waiting-on-review, 3. topic: status-page, 0. type: bugfix

#2361 Target build cleanup
  Makefile
  docs/multidomain-site-example/site.mk
  docs/site-example/site.mk
  docs/user/getting_started.rst
  docs/user/site.rst
  scripts/target_lib.lua
Labels: 3. topic: docs, 2. status: waiting-on-review, 3. topic: build, 3. topic: multidomain

#2371 gluon-status-page: split bwlimit into two lines
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
Labels: 3. topic: package, 3. topic: status-page

#2373 gluon-core: add gluon info binary
  package/gluon-core/luasrc/usr/bin/gluon-info
  package/gluon-mesh-vpn-fastd/luasrc/usr/lib/lua/gluon/mesh-vpn/provider/fastd.lua
  package/gluon-mesh-vpn-wireguard/luasrc/usr/lib/lua/gluon/mesh-vpn/provider/wireguard.lua
  package/gluon-web-admin/files/lib/gluon/config-mode/view/admin/info.html
Labels: 3. topic: package, 3. topic: wireguard, 3. topic: config-mode, 3. topic: fastd

#2374 ath79-generic: add support for TP-Link Archer A7 v5
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2385 ath79-generic: swap interfaces on TP-Link WBS210 v2
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
Labels: 3. topic: hardware, 5. needs: testing, 0. type: bugfix
