Repository freifunk-gluon/gluon, pull requests merged in 2022-09, with the labels that each got.

#2609 docs: Add v2022.1 release notes
  README.md
  docs/conf.py
  docs/features/vpn.rst
  docs/features/wired-mesh.rst
  docs/releases/index.rst
  docs/releases/v2022.1.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs

#2637 ath79-nand: add support for ZTE MF281
  targets/ath79-nand
Labels: 3. topic: hardware

#2633 rockchip-armv8: add support for NanoPi R4S
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/rockchip-armv8
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2635 ipq40xx-generic: add suppot for GL.iNet GL-AP1300
  docs/user/supported_devices.rst
  targets/ipq40xx-generic
Labels: 3. topic: docs, 3. topic: hardware

#2639 gluon-core: use country3 UCI option
  package/gluon-core/luasrc/lib/gluon/upgrade/200-wireless
Labels: 3. topic: package

#2640 ath79-nand: fix upgrade from 19.07 for GL-AR300M
  targets/ath79-nand
Labels: 3. topic: hardware

#2643 ath79-generic: add support for TP-Link EAP225 Outdoor v3
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2649 [v2022.1.x] Backport device support introduced in master
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ath79-nand
  targets/ipq40xx-generic
  targets/rockchip-armv8
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package
