Repository freifunk-gluon/gluon, pull requests merged in 2022-05, with the labels that each got.

#2495 mpc85xx-p1020: add Extreme Networks WS-AP3825i
  docs/user/supported_devices.rst
  targets/mpc85xx-p1020
Labels: 3. topic: docs, 3. topic: hardware

#2476 ath79-generic: (re)add support for gl-usb150
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2489 ath79-generic: (re)add support for archer-c59-v1
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2488 docs: add v2021.1.2 release notes
  docs/releases/index.rst
  docs/releases/v2021.1.2.rst
Labels: 3. topic: docs, 2. status: waiting-on-review

#2496 ath79-generic: (re)add archer c60
  targets/ath79-generic
Labels: 3. topic: hardware

#2450 ath79-generic: (re)add support for tl-wdr3500-v1
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2497 ath79-generic: (re)add Archer C7 v4
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2500 ramips-mt76x8: add support for TP-Link Archer C20 v4
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware

#2508 generic: reduce flash consumption
  package/gluon-mesh-vpn-core/Makefile
  targets/generic
Labels: 3. topic: hardware, 3. topic: package

#2510 generic: reduce kernel size some more
  targets/generic
Labels: 3. topic: hardware

#2509 treewide: switch crypto lib to WolfSSL
  package/gluon-mesh-wireless-sae/Makefile
  package/gluon-wireless-encryption/Makefile
Labels: 3. topic: package, 3. topic: wireless

#2458 docs: dev/hardware: update hardware support documentation
  docs/dev/hardware.rst
Labels: 3. topic: docs

#2514 treewide: remove leftover GLUON_SPECIALIZE_KERNEL dependencies
  package/gluon-mesh-vpn-fastd-l2tp/Makefile
  package/gluon-mesh-vpn-wireguard/Makefile
Labels: 3. topic: package, 3. topic: wireguard

#2503 Import v2021.1.2 release notes, README / copyright updates
  LICENSE
  README.md
  docs/conf.py
  docs/releases/index.rst
  docs/releases/v2021.1.2.rst
Labels: 3. topic: docs

#2482 ath79-generic: (re)add support for wndr3700
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 2. status: merge conflict, 3. topic: hardware

#2506 ath79-generic: (re)add CPE210v3
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2527 ramips-mt7621: add TP-Link RE650v1
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#2502 gluon-status-page: fix mesh-vpn section for wg
  package/gluon-status-page/files/lib/gluon/status-page/www/static/status-page.js
  package/gluon-status-page/javascript/status-page.js
Labels: 3. topic: package, 3. topic: status-page

#2352 RFC: gluon-mesh-vpn-*: make MTU of VPN device provider specific
  contrib/ci/minimal-site/site.conf
  docs/multidomain-site-example/site.conf
  docs/site-example/site.conf
  docs/user/site.rst
  package/gluon-mesh-vpn-core/check_site.lua
  package/gluon-mesh-vpn-core/luasrc/lib/gluon/upgrade/500-mesh-vpn
  package/gluon-mesh-vpn-fastd/check_site.lua
  package/gluon-mesh-vpn-fastd/luasrc/lib/gluon/upgrade/400-mesh-vpn-fastd
  package/gluon-mesh-vpn-fastd/luasrc/usr/lib/lua/gluon/mesh-vpn/provider/fastd.lua
  package/gluon-mesh-vpn-tunneldigger/check_site.lua
  package/gluon-mesh-vpn-tunneldigger/luasrc/usr/lib/lua/gluon/mesh-vpn/provider/tunneldigger.lua
  package/gluon-mesh-vpn-wireguard/check_site.lua
  package/gluon-mesh-vpn-wireguard/luasrc/usr/lib/lua/gluon/mesh-vpn/provider/wireguard.lua
Labels: 3. topic: docs, 3. topic: package, 3. topic: wireguard, 3. topic: tunneldigger, 3. topic: multidomain, 3. topic: fastd, 3. topic: continous integration

#2377 ath79-mikrotik: add support for Mikrotik RB951Ui-2nD
  .github/filters.yml
  docs/user/supported_devices.rst
  targets/ath79-mikrotik
  targets/mikrotik.inc
  targets/targets.mk
Labels: 3. topic: docs, 3. topic: hardware

#2440 Re-add UniFi AP Outdoor+ support
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package, 2. status: waiting-on-review

#2494 ramips-mt7620: remove "broken" status for ASUS RT-AC51U
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ramips-mt7620
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2524 ath79-generic: migrate D-Link DIR-825 B1 from ar71xx
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-author

#2432 ath79-generic: migrate NanoBeam M5
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2534 ath79-generic: update Archer C6 v2 image name
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2538 docs: use default language 'en'
  docs/conf.py
Labels: 3. topic: docs
