Repository freifunk-gluon/gluon, pull requests merged in 2022-06, with the labels that each got.

#2541 ipq40xx: switch QCA4019 firmware to -ct
  targets/ath79-generic
  targets/ipq40xx-generic
  targets/ipq806x-generic
Labels: 3. topic: hardware

#2521 ath79-generic: (re)add Archer C58 v1
  targets/ath79-generic
Labels: 3. topic: hardware

#2351 docs: add docs for gluon-mesh-vpn-wireguard
  docs/features/vpn.rst
  docs/index.rst
  docs/user/faq.rst
  docs/user/mtu.rst
  docs/user/site.rst
Labels: 3. topic: docs, 2. status: merge conflict, 2. status: waiting-on-author

#2520 gluon-autoupdater: check default branch name, check number of pubkeys, revert invalid branch on update/reconfigure
  .luacheckrc
  contrib/ci/minimal-site/site.conf
  package/gluon-autoupdater/check_site.lua
  package/gluon-autoupdater/luasrc/lib/gluon/upgrade/500-autoupdater
  package/gluon-core/luasrc/lib/gluon/check-site.lua
Labels: 3. topic: package, 2. status: waiting-on-review, 3. topic: continous integration

#2544 lantiq-xrx200: split 7360v2 into own device
  targets/lantiq-xrx200
Labels: 3. topic: hardware

#2547 ath79-generic: (re)add support for NanoStation Loco M2 (XW)
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2558 ath79-generic: add support for CPE710v1
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2557 rampis-mt7621: add support for Netgear WAC104
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2555 rampis-mt7621: add support for Cudy WR2100
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#2556 ramips-mt7621: add support for Netgear R6260
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#2550 gluon-client-bridge: simplify OWE-TM configuration
  package/gluon-client-bridge/luasrc/lib/gluon/upgrade/320-gluon-client-bridge-wireless
Labels: 3. topic: package

#2515 ath79-generic: (re)add wzr-hp-ag-300h / wzr-600dhp
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2546 ath79-generic: (re)add TL-WR902AC v1
  targets/ath79-generic
Labels: 3. topic: hardware

#2562 Ath79 migrate ubnt loco m5 xw
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2567 Fix make lint
  contrib/actions/run-build.sh
  package/gluon-mesh-batman-adv/files/lib/netifd/proto/gluon_bat0.sh
  package/gluon-setup-mode/files/usr/bin/gluon-enter-setup-mode
Labels: 3. topic: package, 3. topic: batman-adv, 3. topic: continous integration

#2548 gluon-core: split dual lan devices
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/lib/gluon/upgrade/115-swconfig
  package/gluon-setup-mode/luasrc/lib/gluon/upgrade/320-setup-ifname
Labels: 3. topic: package, 1. severity: blocker

#2560 ramips-mt7621: enable swconfig to DSA migration
  modules
  patches/openwrt/0004-ramips-mt7621-make-DSA-images-swconfig-upgradable.patch
  patches/openwrt/0005-ramips-add-MT7621-WiFi-devpath-migration.patch
Labels: 1. severity: blocker
