Repository freifunk-gluon/gluon, pull requests merged in 2022-03, with the labels that each got.

#2372 Regenerate network and system UCI configs on every reconfigure, switch to role-based interface configuration
  docs/dev/uplink.rst
  docs/features/multidomain.rst
  docs/features/private-wlan.rst
  docs/features/wired-mesh.rst
  docs/index.rst
  docs/user/site.rst
  package/gluon-client-bridge/luasrc/lib/gluon/upgrade/300-gluon-client-bridge-network
  package/gluon-client-bridge/luasrc/lib/gluon/upgrade/310-gluon-client-bridge-local-node
  package/gluon-core/check_site.lua
  package/gluon-core/files/lib/gluon/upgrade/001-reset-uci
  package/gluon-core/files/lib/gluon/upgrade/998-commit
  package/gluon-core/luasrc/lib/gluon/upgrade/002-migrate-system
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/lib/gluon/upgrade/021-interface-roles
  package/gluon-core/luasrc/lib/gluon/upgrade/110-network
  package/gluon-core/luasrc/lib/gluon/upgrade/200-wireless
  package/gluon-core/luasrc/lib/gluon/upgrade/210-interface-mesh
  package/gluon-core/luasrc/lib/gluon/upgrade/210-interface-wan
  package/gluon-core/luasrc/lib/gluon/upgrade/220-interface-lan
  package/gluon-core/luasrc/lib/gluon/upgrade/300-firewall-rules
  package/gluon-core/luasrc/lib/gluon/upgrade/997-migrate-preserved
  package/gluon-core/luasrc/usr/lib/lua/gluon/sysconfig.lua
  package/gluon-core/luasrc/usr/lib/lua/gluon/util.lua
  package/gluon-mesh-babel/luasrc/lib/gluon/upgrade/430-gluon-mesh-babel-add-mmfd-interface
  package/gluon-mesh-batman-adv/luasrc/lib/gluon/upgrade/310-gluon-mesh-batman-adv-mesh
  package/gluon-mesh-batman-adv/luasrc/lib/gluon/upgrade/320-gluon-mesh-batman-adv-client-bridge
  package/gluon-mesh-batman-adv/luasrc/lib/gluon/upgrade/330-gluon-mesh-batman-adv-mac-addresses
  package/gluon-mesh-vpn-wireguard/luasrc/lib/gluon/upgrade/400-mesh-vpn-wireguard
  package/gluon-setup-mode/luasrc/lib/gluon/upgrade/320-setup-ifname
  package/gluon-web-network/i18n/de.po
  package/gluon-web-network/i18n/fr.po
  package/gluon-web-network/i18n/gluon-web-network.pot
  package/gluon-web-network/luasrc/lib/gluon/config-mode/model/admin/network.lua
Labels: 3. topic: docs, 3. topic: babel, 3. topic: package, 2. status: waiting-on-review, 3. topic: batman-adv, 3. topic: wireguard, 3. topic: config-mode, 3. topic: multidomain, 9. meta: release notes

#2408 docs: move release notes TOC to sub page
  docs/index.rst
  docs/releases/index.rst
Labels: 3. topic: docs, 2. status: waiting-on-review

#2422 v2021.1.x: docs: move release notes TOC to sub page (#2408)
  docs/index.rst
  docs/releases/index.rst
Labels: 3. topic: docs

#2414 ath79-generic: add support for D-Link DAP-2660 A1
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-author

#2425 ci: build all targets on changes in scripts/
  .github/filters.yml
  contrib/actions/generate-target-filters.py
Labels: 2. status: waiting-on-review, 3. topic: continous integration

#2423 scripts: target_lib: remove profile override support
  scripts/target_config_lib.lua
  scripts/target_lib.lua
Labels: 2. status: waiting-on-review, 3. topic: build

#2424 gluon.mk: print source file name in GluonSrcDiet
  package/gluon.mk
Labels: 3. topic: package, 2. status: waiting-on-review

#2325 ath79-generic: Re-add OpenMesh devices
  docs/user/supported_devices.rst
  patches/openwrt/0005-ath79-Add-support-for-OpenMesh-A60.patch
  patches/openwrt/0006-ath79-Add-support-for-OpenMesh-A40.patch
  patches/openwrt/0007-ath79-Allow-to-set-spi-nor-mtd-name-via-devicetree.patch
  patches/openwrt/0008-ath79-Add-support-for-OpenMesh-OM2P-v1.patch
  patches/openwrt/0009-ath79-Add-support-for-OpenMesh-OM5P-AC-v1.patch
  patches/openwrt/0010-ath79-Add-support-for-OpenMesh-OM5P-AN.patch
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-author

#2421 ath79-generic: (re)add support for UniFi AP
  docs/user/supported_devices.rst
  modules
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2429 ath79-generic: (re)add support for CPE210 v2.x
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2415 ath79: (re)add support for tl-wr1043nd-v3
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-author

#2417 ath79: migrate D-Link DAP-1330 and DIR-550 from ar71xx
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2430 ath79-generic: (re)add support for CPE510 v1.x
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2428 ath79-generic: (re)add support for UniFi AC Mesh
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2416 ath79-generic: (re)add support for UniFi AP PRO
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-setup-mode/luasrc/lib/gluon/upgrade/320-setup-ifname
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2431 ath79-generic: (re)add support for tl-wr1043nd-v4
  docs/user/supported_devices.rst
  modules
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2401 v2021.1.x: update modules
  modules
  patches/openwrt/0015-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
Labels: 5. needs: testing, 2. status: waiting-on-review

#2438 mpc85xx-p1010: add Sophos RED 15w rev.1
  docs/user/supported_devices.rst
  targets/mpc85xx-p1010
Labels: 3. topic: docs, 3. topic: hardware

#2441 ath79-generic: (re)add support for GL-AR150
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2442 ath79-generic: (re)add support for tl-wr810n-v1
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-author

#2436 ath79-generic: (re)add Archer C7 v5
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware
