Repository freifunk-gluon/gluon, pull requests merged in 2022-02, with the labels that each got.

#2387 workflows: add backports action
  .github/workflows/backport.yml
Labels: 3. topic: continous integration

#2382 Removal of more obsolete migrations, minor cleanup and improvements to lsupgrade.sh
  contrib/lsupgrade.sh
  package/gluon-core/Makefile
  package/gluon-core/files/etc/config/gluon-core
  package/gluon-core/luasrc/usr/lib/lua/gluon/wireless.lua
  package/gluon-mesh-vpn-fastd/luasrc/lib/gluon/upgrade/400-mesh-vpn-fastd
  package/gluon-mesh-vpn-fastd/luasrc/lib/gluon/upgrade/410-mesh-vpn-fastd-generate-secret
  package/gluon-mesh-vpn-tunneldigger/luasrc/lib/gluon/upgrade/400-mesh-vpn-tunneldigger
  package/gluon-node-info/luasrc/lib/gluon/upgrade/520-node-info-whitespace-fix
  package/gluon-radvd/luasrc/lib/gluon/upgrade/500-radvd-remove-user
  package/gluon-setup-mode/luasrc/lib/gluon/upgrade/310-setup-mode-migrate
Labels: 3. topic: package, 2. status: waiting-on-review, 3. topic: tunneldigger, 3. topic: fastd

#2368 lint-sh fixes
  contrib/push_pkg.sh
  scripts/lint-sh.sh
Labels: 2. status: waiting-on-review, 3. topic: build, 3. topic: continuous integration

#2383 gluon-web: prohibit cross-origin POST requests
  .github/workflows/lint.yml
  package/gluon-web-admin/files/lib/gluon/config-mode/view/admin/upgrade.html
  package/gluon-web-admin/files/lib/gluon/config-mode/view/admin/upgrade_confirm.html
  package/gluon-web-model/files/lib/gluon/web/view/model/form.html
  package/gluon-web/luasrc/usr/lib/lua/gluon/web/dispatcher.lua
  package/gluon-web/luasrc/usr/lib/lua/gluon/web/http/protocol.lua
Labels: 3. topic: package, 1. severity: blocker, 5. needs: stable backport, 1. severity: security, 2. status: waiting-on-review, 3. topic: config-mode, 0. type: bugfix, 3. topic: continous integration

#2359 x86: copy separate kernel and rootfs images to "other" directory
  targets/x86-64
  targets/x86-generic
Labels: 3. topic: hardware, 2. status: waiting-on-review

#2394 gluon-web-osm: update OpenLayers default URL to 5.3.0
  docs/user/site.rst
  package/gluon-web-osm/luasrc/usr/lib/lua/gluon/web/model/osm.lua
Labels: 3. topic: docs, 3. topic: package, 2. status: waiting-on-review, 3. topic: config-mode, 0. type: bugfix

#2398 gluon-web-osm: Fix " rendering in attribution with CDATA tag
  package/gluon-web-osm/files/lib/gluon/web/view/model/osm/map.html
Labels: 3. topic: package, 3. topic: config-mode

#2395 gluon-config-mode-core: discard gluon-reconfigure output
  package/gluon-config-mode-core/luasrc/lib/gluon/config-mode/model/gluon-config-mode/wizard.lua
Labels: 3. topic: package, 2. status: waiting-on-review, 0. type: bugfix

#2399 treewide: Replace xhtml content type with html, remove xhtml workaround, replace self closing tags
  docs/dev/web/controller.rst
  docs/site-example/i18n/de.po
  docs/site-example/i18n/en.po
  docs/site-example/i18n/fr.po
  package/gluon-config-mode-core/files/lib/gluon/config-mode/www/index.html
  package/gluon-config-mode-theme/files/lib/gluon/config-mode/view/theme/layout.html
  package/gluon-status-page/files/lib/gluon/status-page/view/layout.html
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
  package/gluon-status-page/files/lib/gluon/status-page/www/index.html
  package/gluon-web-admin/files/lib/gluon/config-mode/view/admin/upgrade.html
  package/gluon-web-admin/files/lib/gluon/config-mode/view/admin/upgrade_confirm.html
  package/gluon-web-admin/i18n/de.po
  package/gluon-web-admin/i18n/fr.po
  package/gluon-web-admin/i18n/gluon-web-admin.pot
  package/gluon-web-admin/luasrc/lib/gluon/config-mode/model/admin/remote.lua
  package/gluon-web-mesh-vpn-fastd/files/lib/gluon/config-mode/view/mesh-vpn-fastd.html
  package/gluon-web-model/files/lib/gluon/web/view/model/dynlist.html
  package/gluon-web-model/files/lib/gluon/web/view/model/form.html
  package/gluon-web-model/files/lib/gluon/web/view/model/fvalue.html
  package/gluon-web-model/files/lib/gluon/web/view/model/lvalue.html
  package/gluon-web-model/files/lib/gluon/web/view/model/value.html
  package/gluon-web-model/files/lib/gluon/web/view/model/valuewrapper.html
  package/gluon-web-osm/files/lib/gluon/web/view/model/osm/map.html
  package/gluon-web-wifi-config/i18n/de.po
  package/gluon-web-wifi-config/i18n/fr.po
  package/gluon-web-wifi-config/i18n/gluon-web-wifi-config.pot
  package/gluon-web-wifi-config/luasrc/lib/gluon/config-mode/model/admin/wifi-config.lua
  package/gluon-web/luasrc/usr/lib/lua/gluon/web/http.lua
Labels: 3. topic: docs, 3. topic: package, 3. topic: config-mode, 3. topic: status-page, 3. topic: wireless

#2376 gluon-mesh-babel: do not allow disabling VXLAN
  package/gluon-mesh-babel/check_site.lua
Labels: 3. topic: babel, 3. topic: package, 2. status: waiting-on-review

#2400 patches: refresh "packages" patches
  patches/packages/packages/0002-fastd-simplify-Config.in.patch
  patches/packages/packages/0003-fastd-disable-GMAC-based-methods-by-default.patch
  patches/packages/packages/0004-fastd-update-to-v22.patch
  patches/packages/packages/0005-fastd-add-L2TP-variant.patch
  patches/packages/packages/0006-fastd-fix-start-of-non-L2TP-variant.patch
  patches/packages/packages/0007-fastd-make-L2TP-support-a-config-option-instead-of-a-variant.patch
Labels: 0. type: bug, 0. type: regression, 2. status: waiting-on-review

#2390 Backports for v2021.1.x
  .github/workflows/lint.yml
  Makefile
  docs/user/site.rst
  package/gluon-config-mode-core/luasrc/lib/gluon/config-mode/model/gluon-config-mode/wizard.lua
  package/gluon-neighbour-info/src/gluon-neighbour-info.c
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
  package/gluon-status-page/files/lib/gluon/status-page/www/static/status-page.js
  package/gluon-status-page/i18n/de.po
  package/gluon-status-page/i18n/gluon-status-page.pot
  package/gluon-status-page/javascript/status-page.js
  package/gluon-status-page/luasrc/lib/gluon/status-page/controller/status-page.lua
  package/gluon-web-admin/files/lib/gluon/config-mode/view/admin/upgrade.html
  package/gluon-web-admin/files/lib/gluon/config-mode/view/admin/upgrade_confirm.html
  package/gluon-web-model/files/lib/gluon/web/view/model/form.html
  package/gluon-web-osm/files/lib/gluon/web/view/model/osm/map.html
  package/gluon-web-osm/luasrc/usr/lib/lua/gluon/web/model/osm.lua
  package/gluon-web/luasrc/usr/lib/lua/gluon/web/dispatcher.lua
  package/gluon-web/luasrc/usr/lib/lua/gluon/web/http/protocol.lua
  patches/packages/packages/0003-perl-don-t-build-in-parallel-and-bump-release.patch
Labels: 3. topic: docs, 3. topic: package, 2. status: waiting-on-review, 3. topic: build, 3. topic: config-mode, 3. topic: status-page, 3. topic: continous integration

#2402 v2021.1.x: Backport container.sh script
  Makefile
  contrib/docker/Dockerfile
  docs/user/getting_started.rst
  scripts/container.sh
Labels: 3. topic: docs, 3. topic: build
