Repository freifunk-gluon/gluon, pull requests merged in 2022-10, with the labels that each got.

#2659 ath79: add support for Extreme Networks WS-AP3805i
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2664 ath79-generic: Fix autoupdater for Loco M XW from v2021.1.x to v2022.1.x
  targets/ath79-generic
Labels: 3. topic: hardware, backport v2022.1.x

#2671 mpc85xx-p1010: re-enable TP-Link WDR4900
  docs/user/supported_devices.rst
  modules
  patches/openwrt/0004-ramips-mt7621-make-DSA-images-swconfig-upgradable.patch
  targets/mpc85xx-p1010
Labels: 3. topic: docs, 3. topic: hardware

#2673 ramips-mt7621: add support for ZyXEL NWA50AX
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#2674 supported_devices: specify revision of wdr4900 v1
  docs/user/supported_devices.rst
Labels: 3. topic: docs, backport v2022.1.x

#2670 docs: add Gluon v2022.1.1 Release Notes
  README.md
  docs/conf.py
  docs/releases/index.rst
  docs/releases/v2022.1.1.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs

#2600 gluon-core: enable bridge port isolation for br-mesh_other interfaces
  package/gluon-core/luasrc/lib/gluon/upgrade/210-interface-mesh
Labels: 3. topic: package, backport v2022.1.x

#2681 ipq40xx-generic: add AVM FRITZBox 7520 explicitely
  docs/user/supported_devices.rst
  targets/ipq40xx-generic
Labels: 3. topic: docs, 3. topic: hardware

#2577 docs: fix site-example
  docs/site-example/i18n/de.po
  docs/site-example/modules
Labels: 3. topic: docs
