Repository freifunk-gluon/gluon, pull requests merged in 2022-04, with the labels that each got.

#2427 ath79-generic: (re)add Archer C5 v1
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-author

#2448 ath79-generic: (re)add unifi-ac-{lite,lr}
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2443 ath79-generic: (re)add NanoStation M (XW)
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2454 ath79-generic: (re)add support for GL-AR750
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2452 ath79-generic: (re)add support for tl-wr1043nd-v2
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2435 ath79-generic: (re)add support for avm_fritz4020
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2451 ath79-generic: (re)add support for tl-wr842nd-v3
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2455 ath79-nand: (re)add support for glinet_gl-ar300m
  docs/user/supported_devices.rst
  targets/ath79-nand
Labels: 3. topic: docs, 3. topic: hardware

#2453 ath79-generic: (re)add support for glinet_6416
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2461 ath79-generic: (re)add support for wbs210v1
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2463 gluon-core: fix setting interface default roles from site.conf
  package/gluon-core/luasrc/lib/gluon/upgrade/021-interface-roles
Labels: 0. type: bug, 3. topic: package

#2472 gluon-core: fix gluon.util.get_role_interfaces() with empty role list
  package/gluon-core/luasrc/usr/lib/lua/gluon/util.lua
Labels: 3. topic: package, 0. type: bugfix

#2439 ath79-generic: (re)add support for unifiac-pro
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2483 ath79-generic: (re)add support for tl-wr1043n-v5
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2478 gluon-core: use copy of "WAN" role list for "single" default
  package/gluon-core/luasrc/lib/gluon/upgrade/021-interface-roles
Labels: 3. topic: package, 1. severity: blocker, 0. type: bugfix

#2481 ramips-mt76x8: add support for TP-Link Archer C20 v5
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware

#2485 ath79-generic: (re)add support for wndr3700v2
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2477 ath79-generic: (re)add support for archer-c25-v1
  targets/ath79-generic
Labels: 3. topic: hardware

#2492 docs: fix mpc85xx-p1010 target name
  docs/user/supported_devices.rst
Labels: 3. topic: docs

#2457 gluon-status-page: Use <tbody> as browsers can add it automatically which broke the page
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
  package/gluon-status-page/files/lib/gluon/status-page/www/static/status-page.js
  package/gluon-status-page/javascript/status-page.js
Labels: 3. topic: package, 3. topic: status-page

#2459 gluon-setup-mode: add gluon-enter-setup-mode
  package/gluon-setup-mode/files/etc/hotplug.d/button/50-gluon-setup-mode
  package/gluon-setup-mode/files/usr/bin/gluon-enter-setup-mode
Labels: 3. topic: package

#2426 modules: use OpenWrt 22.03
  docs/user/supported_devices.rst
  modules
  package/gluon-iptables-clamp-mss-to-pmtu/Makefile
  patches/openwrt/0004-wireguard-tools-allow-generating-private_key-v3.patch
  patches/openwrt/0005-ath79-Add-support-for-OpenMesh-A60.patch
  patches/openwrt/0006-ath79-Add-support-for-OpenMesh-A40.patch
  patches/openwrt/0007-ath79-Allow-to-set-spi-nor-mtd-name-via-devicetree.patch
  patches/openwrt/0008-ath79-Add-support-for-OpenMesh-OM2P-v1.patch
  patches/openwrt/0009-ath79-Add-support-for-OpenMesh-OM5P-AC-v1.patch
  patches/openwrt/0010-ath79-Add-support-for-OpenMesh-OM5P-AN.patch
  patches/packages/packages/0001-perl-don-t-build-in-parallel-and-bump-release.patch
  patches/packages/packages/0002-fastd-simplify-Config.in.patch
  patches/packages/packages/0003-fastd-disable-GMAC-based-methods-by-default.patch
  patches/packages/packages/0004-fastd-update-to-v22.patch
  patches/packages/packages/0005-fastd-add-L2TP-variant.patch
  patches/packages/packages/0006-fastd-fix-start-of-non-L2TP-variant.patch
  patches/packages/packages/0007-fastd-make-L2TP-support-a-config-option-instead-of-a-variant.patch
  targets/generic
  targets/mpc85xx-p1010
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package
