Repository freifunk-gluon/gluon, pull requests merged in 2023-11, with the labels that each got.

#3033 ath79-generic: add support for TP-Link EAP225-Outdoor v3
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#3049 modules: update to latest HEAD
  modules
Labels: 7. v2023.1.x

#3047 target: remove package-removal NOPs
  targets/generic
Labels: 3. topic: hardware

#2954 gluon-status-page: html: improve accessibility
  package/gluon-status-page/files/lib/gluon/status-page/view/layout.html
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
Labels: 3. topic: package, 3. topic: status-page

#3050 gluon-core: dont fail on unset interface role
  package/gluon-core/luasrc/lib/gluon/upgrade/021-interface-roles
Labels: 3. topic: package

#3053 generic: fix removal of mbedtls
  targets/generic
Labels: 3. topic: hardware

#3056 gluon-mesh-vpn-core: remove old migration code
  package/gluon-mesh-vpn-core/luasrc/lib/gluon/upgrade/500-mesh-vpn
Labels: 3. topic: package

#3040 treewide: remove stale migrations
  package/gluon-core/luasrc/lib/gluon/upgrade/300-firewall-rules
  package/gluon-status-page/luasrc/lib/gluon/upgrade/500-status-page
Labels: 3. topic: package, 3. topic: status-page

#3041 gluon-mesh-vpn: depend on simple-tc in implementation
  package/gluon-mesh-vpn-core/Makefile
  package/gluon-mesh-vpn-fastd/Makefile
  package/gluon-mesh-vpn-tunneldigger/Makefile
  package/gluon-mesh-vpn-wireguard/Makefile
Labels: 3. topic: package, 3. topic: wireguard, 3. topic: tunneldigger, 3. topic: fastd

#3051 ath79-generic: add support for AVM Fritz!Repeater 1750e
  targets/ath79-generic
Labels: 3. topic: hardware

#3058 ci: dynamically set thread-count
  .github/workflows/build-gluon.yml
  contrib/actions/run-build.sh
  contrib/actions/show-system-info.sh
Labels: 3. topic: continous integration

#3064 mediatek-filogic: remove broken flag for TUF AX4200
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

#3065 docs: move wifi channels in multi domain site example
  docs/multidomain-site-example/domains/alpha_centauri.conf
Labels: 3. topic: docs, 3. topic: multidomain

#3062 ath79-mikrotik: add support for MikroTik wAPR-2nD (wAP R)
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-mikrotik
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#3052 mediatek-filogic: add support for GL.iNet GL-MT3000
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

#3066 lantiq-xrx200: remove BROKEN target-flag
  .github/filters.yml
  targets/targets.mk
Labels: 3. topic: hardware

#3067 ath79-generic: remove Ubiquiti AirMax targets
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#3048 treewide: use mbedTLS hostapd / wpa_s instead of WolfSSL
  package/gluon-mesh-wireless-sae/Makefile
  package/gluon-wireless-encryption-wpa3/Makefile
Labels: 2. status: merge conflict, 3. topic: package, 3. topic: wireless

#3070 gluon-core: drop removed devices
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
Labels: 3. topic: hardware, 3. topic: package

#3069 docs: apply sort in alphabetical order to supported devices
  docs/user/supported_devices.rst
Labels: 3. topic: docs
