Repository freifunk-gluon/gluon, pull requests merged in 2023-09, with the labels that each got.

#2965 rampis-mt7621: add support for ZyXEL WSM20
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#2956 docs: GH use `requirements.txt`
  .github/workflows/build-docs.yml
Labels: 3. topic: continous integration

#2971 contrib: push Docker build-container to GitHub registry
  .github/workflows/build-container.yml
Labels: 3. topic: continous integration

#2972 Revert "x86: switch to EFI-compatible images"
  targets/x86.inc
Labels: 3. topic: hardware, 0. type: bugfix

#2957 gluon-status-page: disallow crawler/robots to index
  package/gluon-status-page/files/lib/gluon/status-page/view/layout.html
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
  package/gluon-status-page/files/lib/gluon/status-page/www/index.html
  package/gluon-status-page/files/lib/gluon/status-page/www/robots.txt
Labels: 3. topic: package, 3. topic: status-page

#2974 contrib: depdot: use processed package info
  contrib/depdot.sh
Labels: 0. type: bugfix, 0. type: refactoring

#2975 Fix Dockerfile / container.sh for UID/GID other than 1000
  contrib/docker/Dockerfile
  scripts/container.sh
Labels: 2. status: waiting-on-review, 3. topic: build, 0. type: bugfix

#2984 workflow: don't push Docker container on PR
  .github/workflows/build-container.yml
Labels: 3. topic: continous integration

#2981 gluon-mesh-vpn-tunneldigger: tunneldigger-watchdog: remove broken restart check
  package/gluon-mesh-vpn-tunneldigger/luasrc/usr/bin/tunneldigger-watchdog
Labels: 0. type: regression, 3. topic: package, 5. needs: stable backport, 2. status: waiting-on-review, 3. topic: tunneldigger, 0. type: bugfix

#2973 docs: releases/v2023.1: add warning and known issue for v2021.1.x x86 upgrade
  docs/_static/css/custom.css
  docs/releases/v2023.1.rst
Labels: 3. topic: docs, 5. needs: stable backport

#2969 gluon-wan-dnsmasq: rewrite initfile to use procd
  package/gluon-wan-dnsmasq/files/etc/init.d/gluon-wan-dnsmasq
Labels: 3. topic: package, backport v2023.1.x

#2737 docs: remove remaining CSS workaround
  docs/_static/css/custom.css
Labels: 3. topic: docs, 2. status: waiting-on-review

#2993 mpc85xx-p1010: add support for Enterasys WS-AP3715i
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/mpc85xx-p1010
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package
