Repository freifunk-gluon/gluon, pull requests merged in 2023-03, with the labels that each got.

#2807 docs: Add v2022.1.3 release notes
  README.md
  contrib/ci/minimal-site/site.conf
  docs/conf.py
  docs/releases/index.rst
  docs/releases/v2022.1.3.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs, 3. topic: continous integration

#2810 modules: update to latest OpenWrt HEAD
  modules
  targets/ath79-generic
Labels: 3. topic: hardware, 0. type: bugfix

#2812 [v2022.1.x] modules: update to latest HEAD
  modules
  targets/ath79-generic
Labels: 3. topic: hardware

#2811 docs: Update external links
  .github/dependabot.yml
  README.md
  docs/releases/v2018.1.2.rst
  docs/user/mtu.rst
Labels: 3. topic: docs

#2813 ramips-mt7621: add GL.iNet MT1300
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-review

#2768 ath79-nand: add support for GL.iNet GL-XE300
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/250-cellular
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  package/gluon-setup-mode/files/lib/gluon/setup-mode/rc.d/S96led
  package/gluon-setup-mode/luasrc/usr/lib/lua/gluon/setup-mode.lua
  targets/ath79-nand
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package, 2. status: waiting-on-author

#2817 ath79-generic: fix WS-AP3705i autoupdater name
  targets/ath79-generic
Labels: 3. topic: hardware, 2. status: waiting-on-review, 0. type: bugfix, backport v2022.1.x

#2820 actions, docs: fix English typo, wording
  .github/workflows/build-gluon.yml
  CONTRIBUTING.md
  docs/user/x86.rst
Labels: 3. topic: docs, 2. status: waiting-on-review, 3. topic: continous integration

#2826 gluon-status-page: fix status display of wireless mesh for recent openwrt
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
Labels: 3. topic: package, 3. topic: status-page, 0. type: bugfix

#2823 gluon-core: set WAN mac from board-data
  package/gluon-core/luasrc/lib/gluon/upgrade/110-network
Labels: 3. topic: package, 2. status: waiting-on-author, 6. skill: lua, 0. type: bugfix

#2831 ramips-mt7621: add support for Mercusys MR70X v1
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#2832 docs: readd TP-Link TD-W8970 v1
  docs/user/supported_devices.rst
Labels: 3. topic: docs
