Repository freifunk-gluon/gluon, pull requests merged in 2023-01, with the labels that each got.

#2404 x86: switch to EFI-compatible images
  targets/x86.inc
Labels: 0. type: enhancement, 3. topic: hardware, 2. status: waiting-on-review

#2744 lua indentation
  .editorconfig
  package/gluon-authorized-keys/luasrc/lib/gluon/upgrade/100-authorized-keys
  package/gluon-config-mode-mesh-vpn/luasrc/lib/gluon/config-mode/wizard/0300-mesh-vpn.lua
  package/gluon-core/luasrc/usr/lib/lua/gluon/util.lua
  package/gluon-mesh-vpn-wireguard/luasrc/lib/gluon/upgrade/400-mesh-vpn-wireguard
  package/gluon-neighbour-info/luasrc/lib/gluon/upgrade/400-neighbour-info-firewall
  package/gluon-node-info/luasrc/lib/gluon/upgrade/500-node-info-system
  package/gluon-wan-dnsmasq/luasrc/lib/gluon/wan-dnsmasq/update.lua
  package/gluon-web-autoupdater/luasrc/lib/gluon/config-mode/model/admin/autoupdater.lua
  package/gluon-web/luasrc/usr/lib/lua/gluon/web/dispatcher.lua
  package/gluon-web/luasrc/usr/lib/lua/gluon/web/template.lua
Labels: 3. topic: package, 2. status: waiting-on-review, 3. topic: wireguard, 3. topic: config-mode, 3. topic: firewall

#2730 Minimized js naming
  .editorconfig
  docs/_static/css/custom.css
  package/gluon-status-page/Makefile
  package/gluon-status-page/javascript/status-page.js
  package/gluon-status-page/javascript/status-page.min.js
  package/gluon-web-model/Makefile
  package/gluon-web-model/javascript/gluon-web-model.js
  package/gluon-web-model/javascript/gluon-web-model.min.js
  package/gluon-web-osm/Makefile
  package/gluon-web-osm/javascript/gluon-web-osm.js
  package/gluon-web-osm/javascript/gluon-web-osm.min.js
Labels: 3. topic: docs, 3. topic: package, 2. status: waiting-on-review, 3. topic: config-mode, 3. topic: status-page

#2706 ath79-generic: add support for Teltonika RUT230 v1
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#2631 gluon-core / web: add cellular WWAN support
  package/gluon-core/luasrc/lib/gluon/upgrade/250-cellular
  package/gluon-core/luasrc/lib/gluon/upgrade/300-firewall-rules
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  package/gluon-web-cellular/Makefile
  package/gluon-web-cellular/i18n/gluon-web-cellular.pot
  package/gluon-web-cellular/luasrc/lib/gluon/config-mode/controller/admin/cellular.lua
  package/gluon-web-cellular/luasrc/lib/gluon/config-mode/model/admin/cellular.lua
Labels: 3. topic: hardware, 3. topic: package, 0. type: feature-accepted, 3. topic: config-mode

#2743 treewide: fix indentation in .sh files
  .editorconfig
  contrib/run_qemu.sh
  contrib/sign.sh
  contrib/sigtest.sh
  package/gluon-autoupdater/files/lib/gluon/autoupdater/lib.sh
  package/gluon-core/files/lib/netifd/proto/gluon_wired.sh
Labels: 3. topic: package, 2. status: waiting-on-review

#2746 html indentation
  .editorconfig
  package/gluon-config-mode-theme/files/lib/gluon/config-mode/view/theme/layout.html
  package/gluon-web-admin/files/lib/gluon/config-mode/view/admin/upgrade_confirm.html
  package/gluon-web-mesh-vpn-fastd/files/lib/gluon/config-mode/view/mesh-vpn-fastd.html
  package/gluon-web-model/files/lib/gluon/web/view/model/warning.html
  package/gluon-web/files/lib/gluon/web/view/error/404.html
  package/gluon-web/files/lib/gluon/web/view/error/500.html
Labels: 3. topic: package, 2. status: waiting-on-review, 3. topic: config-mode

#2710 Wavlink WS-WN572HP3 (4G)
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/250-cellular
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package, 2. status: waiting-on-review

#2745 gluon-ebtables-limit-arp: license
  package/gluon-ebtables-limit-arp/src/LICENSE
  package/gluon-ebtables-limit-arp/src/Makefile
  package/gluon-ebtables-limit-arp/src/addr_store.c
  package/gluon-ebtables-limit-arp/src/addr_store.h
  package/gluon-ebtables-limit-arp/src/gluon-arp-limiter.c
  package/gluon-ebtables-limit-arp/src/gluon-arp-limiter.h
  package/gluon-ebtables-limit-arp/src/mac.c
  package/gluon-ebtables-limit-arp/src/mac.h
Labels: 3. topic: package, 2. status: waiting-on-review, 3. topic: firewall

#2569 gluon-l3roamd: site: make node_client_prefix6 optional+deprecated
  docs/user/site.rst
  package/gluon-l3roamd/Makefile
  package/gluon-l3roamd/check_site.lua
  package/gluon-l3roamd/files/etc/init.d/gluon-l3roamd
  package/gluon-mesh-babel/check_site.lua
  package/gluon-mesh-babel/luasrc/lib/gluon/upgrade/300-gluon-mesh-babel-mkconfig
  package/gluon-mesh-layer3-common/check_site.lua
  package/gluon-mesh-layer3-common/luasrc/usr/lib/lua/gluon/l3.lua
Labels: 0. type: enhancement, 3. topic: docs, 3. topic: babel, 3. topic: package

#2513 chore: Set permissions for GitHub actions
  .github/workflows/build-docs.yml
  .github/workflows/build-gluon.yml
  .github/workflows/check-patches.yml
  .github/workflows/labels.yml
  .github/workflows/lint.yml
Labels: 3. topic: continous integration

#2755 Fix some typos (found by codespell)
  .github/ISSUE_TEMPLATE/bug_report.md
  contrib/i18n-scan.pl
  docs/dev/build.rst
  docs/features/vpn.rst
  docs/releases/v2020.2.3.rst
  docs/releases/v2021.1.1.rst
  docs/user/mtu.rst
  package/gluon-config-mode-theme/sass/gluon.scss
  package/gluon-core/luasrc/usr/lib/lua/gluon/wireless.lua
  package/gluon-ebtables-limit-arp/src/lookup3.c
  package/gluon-status-page/i18n/ru.README
  package/gluon-status-page/sass/status-page.scss
  package/gluon-web/luasrc/usr/lib/lua/gluon/web/http/protocol.lua
Labels: 3. topic: docs, 3. topic: package, 3. topic: config-mode, 3. topic: firewall, 3. topic: status-page

#2716 ramips-mt7621: add TP-Link Archer C6 v3
  targets/ramips-mt7621
Labels: 3. topic: hardware

#2752 gluon-wireless-encryption{,-wpa3}: rename to match actual package name
  package/gluon-wireless-encryption-wpa3/Makefile
Labels: 0. type: question, 3. topic: package, 2. status: waiting-on-review

#2747 migrate several c files to spdx
  .editorconfig
  package/gluon-autoupdater/src/respondd.c
  package/gluon-mesh-babel/src/respondd.c
  package/gluon-mesh-batman-adv/src/respondd-common.h
  package/gluon-mesh-batman-adv/src/respondd-neighbours.c
  package/gluon-mesh-batman-adv/src/respondd-nodeinfo.c
  package/gluon-mesh-batman-adv/src/respondd-statistics.c
  package/gluon-mesh-batman-adv/src/respondd.c
  package/gluon-mesh-vpn-core/src/respondd.c
  package/gluon-mesh-vpn-fastd/src/respondd.c
  package/gluon-mesh-vpn-wireguard/src/respondd.c
  package/gluon-neighbour-info/src/gluon-neighbour-info.c
  package/gluon-node-info/src/respondd.c
  package/gluon-radv-filterd/src/gluon-radv-filterd.c
Labels: 3. topic: babel, 3. topic: package, help-appreciated, 2. status: waiting-on-review, 3. topic: batman-adv, 3. topic: wireguard, 3. topic: respondd, 3. topic: fastd

#2757 Editorconfig leftovers
  docs/conf.py
  package/gluon-respondd/src/respondd-common.h
  package/gluon-respondd/src/respondd-neighbours.c
  package/gluon-respondd/src/respondd-nodeinfo.c
  package/gluon-respondd/src/respondd-statistics.c
  package/gluon-respondd/src/respondd.c
  package/gluon-setup-mode/files/etc/config/gluon-setup-mode
  package/gluon-setup-mode/files/lib/gluon/setup-mode/rc.d/S20network
  package/gluon-status-page/files/lib/gluon/status-page/www/cgi-bin/dyn/neighbours-nodeinfo
  package/gluon-status-page/files/lib/gluon/status-page/www/cgi-bin/dyn/stations
  package/gluon-wan-dnsmasq/files/etc/hotplug.d/iface/50-gluon-wan-dnsmasq
  package/libgluonutil/src/libgluonutil.c
  package/libgluonutil/src/libgluonutil.h
Labels: 3. topic: docs, 3. topic: package, 2. status: waiting-on-review, 3. topic: status-page, 3. topic: respondd

#2751 C indentation
  package/gluon-autoupdater/src/respondd.c
  package/gluon-core/src/site.c
  package/gluon-ebtables-limit-arp/src/addr_store.c
  package/gluon-ebtables-limit-arp/src/addr_store.h
  package/gluon-ebtables-limit-arp/src/gluon-arp-limiter.c
  package/gluon-ebtables-limit-arp/src/lookup3.c
  package/gluon-ebtables-limit-arp/src/mac.c
  package/gluon-mesh-batman-adv/src/respondd-neighbours.c
  package/gluon-mesh-batman-adv/src/respondd-nodeinfo.c
  package/gluon-mesh-batman-adv/src/respondd-statistics.c
  package/gluon-mesh-vpn-fastd/src/respondd.c
  package/gluon-mesh-vpn-wireguard/src/respondd.c
  package/gluon-neighbour-info/src/gluon-neighbour-info.c
  package/gluon-radv-filterd/src/gluon-radv-filterd.c
  package/gluon-radv-filterd/src/mac.h
  package/gluon-respondd/src/respondd-neighbours.c
  package/gluon-respondd/src/respondd-statistics.c
  package/gluon-status-page-mesh-batman-adv/src/neighbours-batadv.c
  package/gluon-status-page/src/stations.c
  package/gluon-web/src/template_lmo.c
  package/gluon-web/src/template_lualib.c
  package/gluon-web/src/template_parser.c
  package/gluon-web/src/template_utils.c
  package/libbatadv/src/batadv-genl.c
  package/libbatadv/src/batadv-genl.h
Labels: 3. topic: package, 2. status: waiting-on-review, 3. topic: batman-adv, 3. topic: wireguard, 3. topic: config-mode, 3. topic: firewall, 3. topic: status-page, 3. topic: respondd, 3. topic: fastd, 0. type: refactoring

#2116 actions: add editorconfig checker
  .editorconfig
  .github/workflows/lint.yml
  Makefile
  contrib/docker/Dockerfile
  scripts/lint-editorconfig.sh
  targets/ramips-mt7621
Labels: 0. type: enhancement, 3. topic: hardware, 3. topic: build, 3. topic: continuous integration, 3. topic: continous integration

#2758 workflows/docker: bump editorconfig-checker from 2.6.0 to 2.7.0
  .github/workflows/lint.yml
  contrib/docker/Dockerfile
Labels: 3. topic: continous integration

#2759 Restore local DNS caching
  docs/features/dns-cache.rst
  docs/features/dns-forwarder.rst
  docs/index.rst
  docs/releases/v2017.1.rst
  package/gluon-core/check_site.lua
  package/gluon-core/luasrc/lib/gluon/upgrade/820-dns-config
  package/gluon-setup-mode/Makefile
  package/gluon-wan-dnsmasq/Makefile
  targets/generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2767 gluon-web-cellular: add German translation
  package/gluon-web-cellular/i18n/de.po
Labels: 3. topic: package, 3. topic: config-mode

#2595 targets/lantiq-xrx200: add device Arcadyan VGV7510KW22 aka o2 Box 6431
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  targets/lantiq-xrx200
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package, 2. status: waiting-on-review

#2773 Gluon v2022.1.2 Release Notes
  README.md
  contrib/ci/minimal-site/site.conf
  docs/conf.py
  docs/releases/index.rst
  docs/releases/v2022.1.2.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs, 3. topic: continous integration

#2774 docs,LICENSE: Drop copyright years
  LICENSE
  docs/conf.py
Labels: 3. topic: docs

#2776 editorconfig: exclude docs/_built
  .ecrc
Labels: 0. type: enhancement
