Repository freifunk-gluon/gluon, pull requests merged in 2023-05, with the labels that each got.

#2552 ath79-nand: (re)add hiveap-121
  docs/user/supported_devices.rst
  targets/ath79-nand
Labels: 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-review, backport v2022.1.x

#2887 ramips: add support for Cudy X6 v2
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-review, backport v2022.1.x

#2889 docs: fix supported_devices (missing newline)
  docs/user/supported_devices.rst
Labels: 3. topic: docs, 0. type: feature-accepted, backport v2022.1.x

#2879 [Backport v2022.1.x] ath79-generic: switch Wave2 firmware to -ct
  targets/ath79-generic
Labels: 3. topic: hardware, 2. status: waiting-on-review

#2878 docs: Add v2022.1.4 release notes
  README.md
  contrib/ci/minimal-site/site.conf
  docs/conf.py
  docs/releases/index.rst
  docs/releases/v2022.1.4.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs, 3. topic: continous integration

#2899 readthedocs: specify build-container
  .readthedocs.yml
Labels: backport v2022.1.x

#2898 [master] [forward-port] docs: Add v2022.1.4 release notes
  docs/releases/index.rst
  docs/releases/v2022.1.4.rst
Labels: 3. topic: docs

#2794 ramips: add support for Cudy WR1300 v1
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 2. status: blocked, 3. topic: hardware

#2901 gluon-info: Add domain to gluon-info
  package/gluon-core/luasrc/usr/bin/gluon-info
Labels: 0. type: enhancement, 3. topic: package, 0. type: feature-accepted, 2. status: waiting-on-review

#2902 [Backport v2022.1.x] Backport Cudy WR1300 to v2022.1.x
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-review

#2857 ipq40xx-generic: add support for Meraki MR33
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/ipq40xx-generic
Labels: 3. topic: hardware, 3. topic: package, 2. status: waiting-on-review
