Repository freifunk-gluon/gluon, pull requests merged in 2023-12, with the labels that each got.

#3042 gluon-mesh-vpn-fastd: use CAKE as bandwidth-shaper
  package/gluon-core/luasrc/usr/lib/lua/gluon/util.lua
  package/gluon-mesh-vpn-fastd/luasrc/usr/lib/lua/gluon/mesh-vpn/provider/fastd.lua
  package/gluon-mesh-vpn-sqm/Makefile
  package/gluon-status-page/luasrc/lib/gluon/upgrade/500-status-page
Labels: 3. topic: package, 3. topic: status-page, 3. topic: fastd

#3080 ci: build Gluon in own Docker image
  .github/workflows/build-gluon.yml
  contrib/actions/install-dependencies.sh
Labels: 3. topic: continous integration

#3082 ci: pin runner version to Ubuntu 20.04
  .github/workflows/build-docs.yml
  .github/workflows/build-gluon.yml
  .github/workflows/check-patches.yml
  .github/workflows/labels.yml
  .github/workflows/lint.yml
  contrib/actions/generate-actions.py
  docs/requirements.txt
Labels: 3. topic: docs, 3. topic: continous integration

#3012 treewide: replace luabitops with lua-bit32
  package/gluon-core/Makefile
  package/gluon-core/luasrc/usr/lib/lua/gluon/iputil.lua
  package/gluon-core/luasrc/usr/lib/lua/gluon/util.lua
  package/gluon-hoodselector/Makefile
  package/gluon-hoodselector/luasrc/usr/sbin/hoodselector
  package/gluon-mesh-babel/Makefile
Labels: 3. topic: babel, 3. topic: package, 2. status: waiting-on-review, 0. type: refactoring

#3086 github: release docker container for next branch
  .github/workflows/build-container.yml
Labels: 3. topic: continous integration

#3095 [v2023.1.x] gluon-core: dont fail on unset interface role
  package/gluon-core/luasrc/lib/gluon/upgrade/021-interface-roles
Labels: 3. topic: package

#3096 [v2022.1.x]: backport network reconfiguration patches
  package/gluon-core/luasrc/lib/gluon/upgrade/021-interface-roles
Labels: 3. topic: package

#3094 x86: add MediaTek drivers
  targets/x86.inc
Labels: 3. topic: hardware

#3036 docs: releases/v2023.1.1: add warning and known
  docs/releases/v2023.1.1.rst
Labels: 3. topic: docs

#2934 Makefile fixes
  targets/targets.mk
Labels: 3. topic: hardware

#3038 docs: add GLUON_FEATURES_standard to multidomain site example
  docs/multidomain-site-example/site.mk
Labels: 3. topic: docs, 3. topic: multidomain

#3091 build: allow overriding GLUON_SITE_VERSION
  Makefile
  docs/user/getting_started.rst
Labels: 3. topic: docs, 3. topic: build

#3102 gluon-core: preserve interface MAC-address configuration
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
Labels: 3. topic: package

#3098 mediatek-filogic: add support for Ubiquiti UniFi 6 Plus
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

#3107 gluon-core: use delete_all instead of iterated delete
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
Labels: 3. topic: package

#3110 bcm27xx: update manifest aliases
  targets/bcm27xx-bcm2708
  targets/bcm27xx-bcm2709
  targets/bcm27xx-bcm2710
Labels: 3. topic: hardware

#3113 mesh-vpn-core: remove old migrations
  package/gluon-mesh-vpn-core/luasrc/lib/gluon/upgrade/500-mesh-vpn
Labels: 3. topic: package

#3117 ath79-generic: add support for Sophos AP100c
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#3061 bcm27xx: add support for Pi4 and switch bcm27xx from ext4 to squashfs
  .github/filters.yml
  targets/bcm27xx-bcm2711
  targets/bcm27xx.inc
  targets/targets.mk
Labels: 2. status: blocked, 3. topic: hardware

#3119 ath79-generic: add support for Sophos AP55c
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#3114 add package gluon-libustream-tls
  package/gluon-tls/Makefile
Labels: 3. topic: package

#3054 build: implement flexible site-selection system
  Makefile
  contrib/ci/minimal-site/image-customization.lua
  contrib/ci/olsr-site/image-customization.lua
  contrib/ci/olsr-site/site.mk
  docs/dev/packages.rst
  docs/features/multidomain.rst
  docs/features/private-wlan.rst
  docs/features/vpn.rst
  docs/multidomain-site-example/image-customization.lua
  docs/multidomain-site-example/site.mk
  docs/package/gluon-ebtables-limit-arp.rst
  docs/site-example/image-customization.lua
  docs/site-example/site.mk
  docs/user/site.rst
  package/features
  scripts/image_customization_lib.lua
  scripts/target_config_lib.lua
  scripts/target_lib.lua
Labels: 3. topic: docs, 3. topic: package, 3. topic: build, 3. topic: multidomain, 3. topic: continous integration

#3115 github: build-gluon: cancel obsolete in progress workflows for PRs
  .github/workflows/build-gluon.yml
Labels: 3. topic: continous integration

#3123 docs site: fix image-customization filename
  docs/user/site.rst
Labels: 3. topic: docs

#3121 ath79-generic: add support for Sophos AP100
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#3116 ath79-generic: add support for Sophos AP55
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware
