Repository freifunk-gluon/gluon, pull requests merged in 2023-08, with the labels that each got.

#2931 gluon-wan-dnsmasq: use cellular DNS servers
  package/gluon-core/luasrc/lib/gluon/upgrade/250-cellular
  package/gluon-wan-dnsmasq/files/etc/hotplug.d/iface/50-gluon-wan-dnsmasq
  package/gluon-wan-dnsmasq/files/lib/gluon/wan-dnsmasq/interface.d/050-gluon-wan-dnsmasq
Labels: 3. topic: package

#2922 docs: ath79-nand: small adjustments
  docs/user/supported_devices.rst
  targets/ath79-nand
Labels: 3. topic: docs, 3. topic: hardware

#2916 ath79-generic: add support for Ubiquiti NanoBeam 5AC 19 (XC)
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#2928 docs: add v2023.1 release notes
  README.md
  contrib/ci/minimal-site/site.conf
  contrib/ci/olsr-site/site.conf
  docs/conf.py
  docs/features/dns-cache.rst
  docs/features/vpn.rst
  docs/releases/index.rst
  docs/releases/v2023.1.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs, 3. topic: continous integration

#2920 modules: switch to openwrt-23.05
  contrib/docker/Dockerfile
  docs/user/getting_started.rst
  docs/user/supported_devices.rst
  modules
  patches/openwrt/0004-ramips-mt7621-make-DSA-images-swconfig-upgradable.patch
  patches/openwrt/0004-xrx200-migrate-fritz7360-v2-using-incorrect-image.patch
  patches/openwrt/0005-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
  patches/openwrt/0005-ramips-add-MT7621-WiFi-devpath-migration.patch
  patches/openwrt/0006-ath79-don-t-create-DIR-825-B1-factory-image.patch
  patches/openwrt/0006-lantiq-xrx200-make-DSA-images-swconfig-upgradable.patch
  patches/openwrt/0008-hostapd-don-t-select-indoor-channel-on-outdoor-operation.patch
  patches/openwrt/0010-kconfig-abort-configuration-on-unset-symbol.patch
  patches/openwrt/0011-ath79-combine-OCEDO-dual-firmware-partitions.patch
  patches/openwrt/0012-ath79-combine-UniFi-AC-dual-firmware-partitions.patch
  patches/openwrt/0013-mac80211-mask-nested-A-MSDU-support-for-mesh.patch
  patches/packages/packages/0001-perl-don-t-build-in-parallel-and-bump-release.patch
  patches/packages/routing/0004-oonf-olsrd2-add-support-to-check-if-service-is-running.patch
  patches/packages/routing/0005-oonf-olsrd2-fix-building-with-multiple-plugins.patch
  patches/packages/routing/0006-oonf-olsrd2-add-missing-static-plugin-olsrv2_lan.patch
  patches/packages/routing/0007-oonf-olsrd2-change-to-git-version-from-2022-08-25.patch
  patches/packages/routing/0008-oonf-olsrd2-add-git-version-for-compile-in.patch
  patches/packages/routing/0009-oonf-olsrd2-a-usable-default-configuration.patch
  targets/ath79-generic
  targets/generic
  targets/ipq40xx-generic
  targets/ramips-mt7621
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware

#2941 mediatek-filogic: add support for ZyXEL NWA50AX Pro
  .github/filters.yml
  docs/user/supported_devices.rst
  targets/mediatek-filogic
  targets/targets.mk
Labels: 3. topic: docs, 3. topic: hardware

#2936 docs: supported_devices: add missing 8devices Jalapeno
  docs/user/supported_devices.rst
Labels: 3. topic: docs

#2943 mediatek-filogic: add support for NETGEAR WAX220
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

#2720 ramips-mt7621: add ASUS RT-AX53U
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-upstream

#2949 mediatek-filogic: add support for Cudy WR3000 v1
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware
