Repository freifunk-gluon/gluon, pull requests merged in 2023-04, with the labels that each got.

#2850 ipq40xx-mikrotik: rename ath10k_packages to smallbuffers
  targets/ipq40xx-mikrotik
Labels: 3. topic: hardware

#2830 ramips-mt7621: add support for D-Link DAP-X1860 (A1)
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#2848 ath79-generic: switch Wave2 firmware to -ct
  targets/ath79-generic
Labels: 3. topic: hardware

#2851 v2022.1.x ramips-mt7621 hardware backports
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 2. status: blocked, 3. topic: hardware

#2866 docs: use linkcheck_ignore for unreachable links
  docs/conf.py
Labels: 0. type: enhancement, 3. topic: docs, 2. status: waiting-on-review

#2837 [docs] improve build dependencies and docs
  contrib/actions/install-dependencies.sh
  contrib/docker/Dockerfile
  docs/user/getting_started.rst
Labels: 0. type: question, 3. topic: docs, 2. status: waiting-on-review, 3. topic: continous integration

#2860 libbatadv: Update UAPI from kernel 6.2
  package/libbatadv/src/batadv-genl.c
  package/libbatadv/src/batman_adv.h
Labels: 3. topic: package, 2. status: waiting-on-review, 3. topic: batman-adv

#2861 backport-v2022.1.x - xrx200: migrate fritz7360-v2 using incorrect image
  patches/openwrt/0008-xrx200-migrate-fritz7360-v2-using-incorrect-image.patch
Labels: 3. topic: hardware, 4. has: upstream-patches, 2. status: waiting-on-review

#2864 openwrt: backport combination of dual-flash partitions
  patches/openwrt/0011-ath79-combine-OCEDO-dual-firmware-partitions.patch
  patches/openwrt/0012-ath79-combine-UniFi-AC-dual-firmware-partitions.patch
Labels: 4. has: upstream-patches, 2. status: waiting-on-review

#2871 [Backport v2022.1.x] targets/ramips-mt76x8: add device TP-Link RE200 V3
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-review, 9. meta: reviewday

#2875 [Backport v2022.1.x] ramips-mt7621: add Xiaomi Mi Router 3G
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-review

#2601 gluon-mesh-vpn-wireguard: add fastd key migration
  docs/features/vpn.rst
  package/gluon-mesh-vpn-wireguard/Makefile
  package/gluon-mesh-vpn-wireguard/luasrc/lib/gluon/upgrade/400-mesh-vpn-wireguard
  package/gluon-mesh-vpn-wireguard/src/Makefile
  package/gluon-mesh-vpn-wireguard/src/gluon-hex-to-b64.c
Labels: 3. topic: docs, 3. topic: package, 2. status: waiting-on-review, 3. topic: wireguard

#2688 Config-Mode UI for Interface Role Assignment (v2)
  .luacheckrc
  docs/user/site.rst
  package/gluon-config-mode-theme/files/lib/gluon/config-mode/www/static/gluon.css
  package/gluon-config-mode-theme/sass/gluon.scss
  package/gluon-core/check_site.lua
  package/gluon-core/luasrc/lib/gluon/check-site.lua
  package/gluon-core/luasrc/lib/gluon/upgrade/021-interface-roles
  package/gluon-web-model/files/lib/gluon/web/view/model/mlvalue.html
  package/gluon-web-model/javascript/gluon-web-model.js
  package/gluon-web-model/javascript/gluon-web-model.min.js
  package/gluon-web-model/luasrc/usr/lib/lua/gluon/web/model/classes.lua
  package/gluon-web-model/luasrc/usr/lib/lua/gluon/web/model/datatypes.lua
  package/gluon-web-network/i18n/de.po
  package/gluon-web-network/i18n/fr.po
  package/gluon-web-network/i18n/gluon-web-network.pot
  package/gluon-web-network/luasrc/lib/gluon/config-mode/model/admin/network.lua
Labels: 3. topic: docs, 3. topic: package, 2. status: waiting-on-review, 3. topic: config-mode
