Repository freifunk-gluon/gluon, pull requests merged in 2023-02, with the labels that each got.

#2772 gluon-web-model: fix issue with warning blocking save on private-wifi
  package/gluon-web-model/files/lib/gluon/web/view/model/warning.html
  package/gluon-web-model/luasrc/usr/lib/lua/gluon/web/model/classes.lua
  package/gluon-web-private-wifi/luasrc/lib/gluon/config-mode/model/admin/privatewifi.lua
Labels: 3. topic: package, 3. topic: config-mode, 0. type: bugfix, 3. topic: wireless

#2535 OLSRDv2 Support: Initial Meshing
  contrib/ci/olsr-site/i18n
  contrib/ci/olsr-site/modules
  contrib/ci/olsr-site/site.conf
  contrib/ci/olsr-site/site.mk
  package/gluon-mesh-olsrd/Makefile
  package/gluon-mesh-olsrd/check_site.lua
  package/gluon-mesh-olsrd/files/lib/gluon/core/mesh/post-setup.d/30-reload-olsr
  package/gluon-mesh-olsrd/files/lib/gluon/core/mesh/teardown.d/70-reload-olsr
  package/gluon-mesh-olsrd/files/lib/gluon/respondd/client.dev
  package/gluon-mesh-olsrd/files/usr/lib/autoupdater/abort.d/10olsrd
  package/gluon-mesh-olsrd/files/usr/lib/autoupdater/upgrade.d/10olsrd
  package/gluon-mesh-olsrd/luasrc/lib/gluon/upgrade/360-gluon-mesh-olsrd-setup-intf
  package/gluon-mesh-olsrd/luasrc/lib/gluon/upgrade/370-gluon-mesh-olsrd-setup-fw
  patches/packages/routing/0004-oonf-olsrd2-add-support-to-check-if-service-is-running.patch
  targets/generic
Labels: 3. topic: hardware, 3. topic: package, 3. topic: continous integration

#2791 ath79-generic: Work around boot hang on Unifi AC-Mesh
  targets/ath79-generic
Labels: 3. topic: hardware, 0. type: bugfix, backport v2022.1.x

#2795 [Backport v2022.1.x] ath79-generic: Work around boot hang on Unifi AC-Mesh
  targets/ath79-generic
Labels: 3. topic: hardware, 0. type: bugfix

#2792 gluon-core: sleep to wait for device initialisations
  package/gluon-core/files/etc/uci-defaults/zzz-gluon-upgrade
Labels: 0. type: question, 3. topic: package, 2. status: waiting-on-author, 0. type: bugfix, backport v2022.1.x

#2799 Revert "ipq40xx: switch Wave2 firmware to -ct (#2541)"
  targets/ath79-generic
  targets/ipq40xx-generic
  targets/ipq806x-generic
Labels: 3. topic: hardware, 5. needs: stable backport, 2. status: waiting-on-review, 0. type: bugfix, backport v2022.1.x

#2800 [Backport v2022.1.x] Revert "ipq40xx: switch Wave2 firmware to -ct (#2541)"
  targets/ath79-generic
  targets/ipq40xx-generic
  targets/ipq806x-generic
Labels: 3. topic: hardware, 2. status: waiting-on-review, 0. type: bugfix

#2695 gluon-core: preserve channel list for 5G radios
  package/gluon-core/luasrc/lib/gluon/upgrade/200-wireless
Labels: 3. topic: package, 2. status: waiting-on-author, 0. type: bugfix

#2654 ath79-generic: add LibreRouter v1
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package, help-appreciated, 2. status: waiting-on-review
