Repository freifunk-gluon/gluon, pull requests merged in 2024-07, with the labels that each got.

#3258 mesh-vpn-wireguard: actually set the mtu from the site.conf on the wireguard interface
  package/gluon-mesh-vpn-wireguard/luasrc/lib/gluon/upgrade/400-mesh-vpn-wireguard
Labels: 3. topic: package, 3. topic: wireguard

#3293 ramips-mt7621: add support for Xiaomi Mi Router 4a Gigabit Edition v2
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#3304 ramips-mt7620: add support for Netgear EX6130
  docs/user/supported_devices.rst
  targets/ramips-mt7620
Labels: 3. topic: docs, 3. topic: hardware

#3309 gluon-core: fix swconfig detection in ethernet module
  package/gluon-core/luasrc/usr/lib/lua/gluon/ethernet.lua
Labels: 3. topic: package

#3267 docs: vpn: Add documentation for evaluation of vpn protocols
  docs/features/vpn.rst
  docs/user/mtu.rst
Labels: 3. topic: docs

#3307 gluon-web-cellular: add auth option to GUI
  package/gluon-core/luasrc/lib/gluon/upgrade/250-cellular
  package/gluon-web-cellular/i18n/de.po
  package/gluon-web-cellular/i18n/gluon-web-cellular.pot
  package/gluon-web-cellular/luasrc/lib/gluon/config-mode/model/admin/cellular.lua
Labels: 3. topic: package, 3. topic: config-mode

#3313 modules: update to latest HEAD
  modules
Labels: 7. v2023.2.x

#3314 [v2023.2.x] treewide: pending devices and bugfixes from master
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/ethernet.lua
  targets/ath79-generic
  targets/ramips-mt7620
  targets/ramips-mt7621
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#3310 scripts: add --tags to git describe in getversion.sh to include lightweighted tags
  scripts/getversion.sh
Labels: 3. topic: build

#3303 scripts: remove scripts-wide shellcheck excludes
  scripts/default_feeds.sh
  scripts/lint-sh.sh
  scripts/module_check.sh
  scripts/modules.sh
  scripts/sha256sum.sh
  scripts/update.sh
Labels: 3. topic: build

#3301 scripts: update-modules: read feeds from modules
  scripts/update-modules.sh
Labels: 3. topic: build

#3302 scripts: enable checks for unassigned uppercase
  scripts/container.sh
  scripts/patch.sh
  scripts/update-modules.sh
  scripts/update-patches.sh
Labels: 3. topic: build

#3325 modules: update to latest Git HEAD
  modules
Labels: 7. v2023.2.x

#3312 fritzbox-7530/7520: utilize lan1 as wan, others as lan
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  package/gluon-core/luasrc/lib/gluon/upgrade/021-interface-roles
Labels: 3. topic: package

#3326 Update getting_started.rst
  docs/user/getting_started.rst
Labels: 3. topic: docs
