Repository freifunk-gluon/gluon, pull requests merged in 2024-03, with the labels that each got.

#3187 Drop vdsl packages
  targets/ipq40xx-generic
  targets/lantiq-xrx200
Labels: 3. topic: hardware

#3201 scripts/container.sh: fix rootless Podman on systems with SELinux
  scripts/container.sh
Labels: 3. topic: build

#3210 ath79-generic: dir-825-b1 drop class tiny
  targets/ath79-generic
Labels: 3. topic: hardware

#3211 ath79-nand: drop broken manifest alias
  targets/ath79-nand
Labels: 3. topic: hardware

#3180 github: bump paths-filter version
  .github/workflows/build-gluon.yml
Labels: 3. topic: continuous integration

#3162 gluon-ebtables-limit-arp: stop for autoupdater
  package/gluon-ebtables-limit-arp/files/usr/lib/autoupdater/abort.d/15start-arp-limiter
  package/gluon-ebtables-limit-arp/files/usr/lib/autoupdater/upgrade.d/05stop-arp-limiter
Labels: 3. topic: package, 3. topic: firewall

#3219 scripts: image_customization_lib.lua: fail build without valid customization file
  scripts/image_customization_lib.lua
Labels: 3. topic: build, backport v2023.2.x

#3216 [v2023.2.x] mac80211: add AQL support for broadcast packets
  patches/openwrt/0008-mac80211-add-AQL-support-for-broadcast-multicast-packets.patch
Labels: 7. v2023.2.x

#3224 modules: update to latest HEAD
  modules
  patches/openwrt/0005-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
  targets/generic
Labels: 3. topic: hardware

#3158 github: update labeler configuration to v5
  .github/labeler.yml
  .github/workflows/labels.yml
Labels: 3. topic: continuous integration

#3225 [v2023.2.x] modules: update to latest HEAD
  modules
  patches/openwrt/0005-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
  targets/generic
Labels: 3. topic: hardware, 7. v2023.2.x

#3200 docs readme: Gluon v2023.2.2
  README.md
  docs/conf.py
  docs/releases/index.rst
  docs/releases/v2023.2.2.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs

#3226 docs: forward-port v2023.2.2 release-notes to master
  README.md
  docs/conf.py
  docs/releases/index.rst
  docs/releases/v2023.2.2.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs

#3229 [v2023.1.x] add soft brick warning to v2023.1.1 release notes
  docs/releases/v2023.1.1.rst
Labels: 3. topic: docs

#3231 re-add: ath79 NETGEAR WNDRMAC v2
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#3092 mediatek-filogic: add support for ASUS TUF-AX6000
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#3223 gluon-core: lua: wireless: use libiwinfo-lua for find_phy()
  package/gluon-core/luasrc/usr/lib/lua/gluon/wireless.lua
Labels: 3. topic: package

#3238 Wifi-related code cleanup
  package/gluon-core/luasrc/usr/lib/lua/gluon/wireless.lua
  package/gluon-web-wifi-config/luasrc/lib/gluon/config-mode/model/admin/wifi-config.lua
Labels: 3. topic: package, 3. topic: config-mode, 3. topic: wireless

#3235 github: add action for OpenWrt base update
  .github/workflows/bump-gluon.yml
Labels: 3. topic: continuous integration

#3236 [Backport v2023.1.x] re-add: ath79 NETGEAR WNDRMAC v2
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-author
