Repository freifunk-gluon/gluon, pull requests merged in 2024-12, with the labels that each got.

#3370 base: update to OpenWrt 24.10
  contrib/docker/Dockerfile
  docs/user/supported_devices.rst
  modules
  package/gluon-mesh-batman-adv/files/lib/netifd/proto/gluon_bat0.sh
  patches/openwrt/0003-dropbear-add-a-failsafe-mode-that-will-always-allow-password-less-root-login.patch
  patches/openwrt/0004-mt76-include-fixes-for-MT7603-MT7612.patch
  patches/openwrt/0004-xrx200-migrate-fritz7360-v2-using-incorrect-image.patch
  patches/openwrt/0005-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
  patches/openwrt/0006-ath79-don-t-create-DIR-825-B1-factory-image.patch
  patches/openwrt/0007-mac80211-silence-warning-for-missing-rate-information.patch
  patches/openwrt/0008-mac80211-add-AQL-support-for-broadcast-multicast-packets.patch
  patches/packages/packages/0001-perl-don-t-build-in-parallel-and-bump-release.patch
  patches/packages/routing/0002-batman-adv-Introduce-no-noflood-mark.patch
  patches/packages/routing/0003-batctl-Add-noflood_mark-command.patch
  scripts/copy_output.lua
  targets/generic
  targets/mediatek-mt7622
  targets/ramips-mt7621
Labels: 3. topic: docs, 2. status: blocked, 3. topic: hardware, 3. topic: package, 3. topic: batman-adv, 3. topic: build

#3371 [OpenWrt 24.10] Revert "routing: remove noflood"
  package/gluon-mesh-batman-adv/files/lib/netifd/proto/gluon_bat0.sh
  patches/packages/routing/0002-batman-adv-Introduce-no-noflood-mark.patch
  patches/packages/routing/0003-batctl-Add-noflood_mark-command.patch
Labels: 3. topic: package, 3. topic: batman-adv

#3380 add support for NanoPi R3S
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/rockchip-armv8
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#3395 libgluonutil: add missing libgen import
  package/libgluonutil/src/libgluonutil.c
Labels: 3. topic: package

#3385 ath79: Add support for Sophos AP15C
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#3394 Dockerfile: drop dependency on python3-distutils
  contrib/docker/Dockerfile
  docs/user/getting_started.rst
Labels: 3. topic: docs

#3400 mediatek-filogic: Add support for D-Link AQUILA PRO AI M30 A1
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

#3404 v2023.2.x doc fixes
  .github/workflows/build-container.yml
  .github/workflows/build-gluon.yml
  CONTRIBUTING.md
  README.md
  docs/dev/uplink.rst
  docs/dev/web/config-mode.rst
  docs/features/autoupdater.rst
  docs/features/configmode.png
  docs/features/configmode.rst
  docs/features/monitoring.rst
  docs/features/status-page.png
  docs/features/status-page.rst
  docs/features/tls.rst
  docs/features/vpn.rst
  docs/features/wlan-configuration.rst
  docs/index.rst
  docs/package/gluon-config-mode-geo-location-osm.png
  docs/package/gluon-config-mode-geo-location-osm.rst
  docs/package/gluon-mesh-wireless-sae.rst
  docs/package/gluon-web-cellular.png
  docs/package/gluon-web-cellular.rst
  docs/package/gluon-web-network.png
  docs/package/gluon-web-network.rst
  docs/releases/index.rst
  docs/releases/v2018.2.1.rst
  docs/releases/v2019.1.rst
  docs/releases/v2023.1.1.rst
  docs/releases/v2023.1.2.rst
  docs/releases/v2023.2.rst
  docs/requirements.txt
  docs/user/getting_started.rst
  docs/user/site.rst
  docs/user/supported_devices.rst
  docs/user/x86.rst
  targets/ath79-generic
  targets/ath79-nand
  targets/ipq40xx-generic
  targets/lantiq-xrx200
  targets/lantiq-xway
  targets/mediatek-filogic
  targets/mediatek-mt7622
  targets/mpc85xx-p1010
  targets/mpc85xx-p1020
  targets/ramips-mt7620
  targets/ramips-mt7621
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: config-mode, 3. topic: continous integration

#3384 mediatek-filogic: add Cudy AP3000 Outdoor v1
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#3401 Update openwrt main
  .github/filters.yml
  docs/user/supported_devices.rst
  modules
  patches/openwrt/0005-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
  scripts/target_config_lib.lua
  targets/lantiq-xrx200
  targets/lantiq-xrx200_legacy
  targets/targets.mk
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: build

#3396 ipq40xx-generic: add extreme-networks-ws-ap3915i
  targets/ipq40xx-generic
Labels: 2. status: blocked, 3. topic: hardware
