Repository freifunk-gluon/gluon, pull requests merged in 2024-10, with the labels that each got.

#3343 modules: update to latest HEAD
  modules
Labels: 7. v2023.2.x

#3345 docs: add v2023.2.4 release notes
  README.md
  docs/conf.py
  docs/releases/index.rst
  docs/releases/v2023.2.4.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs

#3348 docs: forward-port v2023.2.4 release notes
  README.md
  docs/conf.py
  docs/releases/index.rst
  docs/releases/v2023.2.4.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs

#3353 kirkwood-generic: update BROKEN reason, add Linksys EA4500
  package/gluon-core/luasrc/lib/gluon/upgrade/010-primary-mac
  targets/kirkwood-generic
  targets/targets.mk
Labels: 3. topic: hardware, 3. topic: package

#3359 [v2023.2.x] scripts: add --tags to git describe in getversion.sh to include lightweighted tags (#3310)
  scripts/getversion.sh
Labels: 3. topic: build
