Repository freifunk-gluon/gluon, pull requests merged in 2024-01, with the labels that each got.

#3139 [v2023.1.x] modules: update to latest HEAD - fix bcm27xx board names
  modules
  targets/bcm27xx-bcm2708
  targets/bcm27xx-bcm2709
  targets/bcm27xx-bcm2710
Labels: 3. topic: hardware

#3127 Improvements to image customization docs
  docs/user/site.rst
Labels: 3. topic: docs

#3068 docs: add v2023.2 release notes
  docs/releases/index.rst
  docs/releases/v2023.2.rst
Labels: 3. topic: docs

#3144 docs, readme: Gluon v2023.2
  README.md
  contrib/ci/minimal-site/site.conf
  contrib/ci/olsr-site/site.conf
  docs/conf.py
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs, 3. topic: continous integration

#3126 ath79-generic: add support for Sophos AP15
  targets/ath79-generic
Labels: 3. topic: hardware

#3109 gluon-mesh-vpn-tunneldigger: drop package
  .github/labeler.yml
  docs/dev/packages.rst
  docs/features/multidomain.rst
  docs/features/vpn.rst
  docs/user/mtu.rst
  docs/user/site.rst
  package/features
  package/gluon-mesh-vpn-core/luasrc/lib/gluon/mesh-vpn/update-config
  package/gluon-mesh-vpn-tunneldigger/Makefile
  package/gluon-mesh-vpn-tunneldigger/check_site.lua
  package/gluon-mesh-vpn-tunneldigger/files/lib/gluon/mesh-vpn/provider/tunneldigger
  package/gluon-mesh-vpn-tunneldigger/files/lib/gluon/reload.d/310-tunneldigger-stop
  package/gluon-mesh-vpn-tunneldigger/files/lib/gluon/reload.d/790-tunneldigger-start
  package/gluon-mesh-vpn-tunneldigger/files/usr/lib/micron.d/tunneldigger-watchdog
  package/gluon-mesh-vpn-tunneldigger/luasrc/lib/gluon/upgrade/400-mesh-vpn-tunneldigger
  package/gluon-mesh-vpn-tunneldigger/luasrc/usr/bin/tunneldigger-watchdog
  package/gluon-mesh-vpn-tunneldigger/luasrc/usr/lib/lua/gluon/mesh-vpn/provider/tunneldigger.lua
Labels: 3. topic: docs, 3. topic: package, 3. topic: tunneldigger, 3. topic: multidomain

#3122 ramips-mt76x8: add xiaomi-mi-ra75
  targets/ramips-mt76x8
Labels: 3. topic: hardware, 2. status: waiting-on-author

#3150 contrib: drop Gluon version from CI site
  contrib/ci/minimal-site/site.conf
  contrib/ci/olsr-site/site.conf
Labels: 3. topic: continous integration

#3105 treewide: purge gluon-mesh-babel
  .github/labeler.yml
  docs/user/site.rst
  package/features
  package/gluon-l3roamd/Makefile
  package/gluon-mesh-babel/Makefile
  package/gluon-mesh-babel/check_site.lua
  package/gluon-mesh-babel/files/etc/hotplug.d/iface/90-gluon-babel-brclient-configure-snooping
  package/gluon-mesh-babel/files/etc/init.d/gluon-mesh-babel
  package/gluon-mesh-babel/files/lib/gluon/respondd/client.dev
  package/gluon-mesh-babel/files/lib/gluon/state/check.d/has_neighbours
  package/gluon-mesh-babel/luasrc/lib/gluon/upgrade/300-gluon-mesh-babel-mkconfig
  package/gluon-mesh-babel/luasrc/lib/gluon/upgrade/310-gluon-mesh-babel-firewall
  package/gluon-mesh-babel/src/Makefile
  package/gluon-mesh-babel/src/handle_neighbour.c
  package/gluon-mesh-babel/src/handle_neighbour.h
  package/gluon-mesh-babel/src/neighbours-babel.c
  package/gluon-mesh-babel/src/respondd.c
  package/gluon-status-page/files/lib/gluon/status-page/view/status-page.html
Labels: 3. topic: docs, 3. topic: babel, 3. topic: package, 3. topic: firewall, 3. topic: status-page, 3. topic: respondd

#3153 ramips-mt7621: add support for D-Link COVR-X1860 a1
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#3157 modules: update to latest HEAD
  modules
  patches/openwrt/0007-mac80211-avoid-crashing-on-invalid-band-info.patch
  patches/openwrt/0008-dropbear-increase-default-receive-window-size.patch
  patches/openwrt/0009-netifd-system-linux-fix-race-condition-in-netlink-socket-error-handing.patch
Labels: 7. v2023.2.x

#2465 gluon-mesh-vpn-fastd: Expose negotiated method
  package/gluon-mesh-vpn-fastd/src/respondd.c
  package/gluon-status-page/javascript/status-page.js
  package/gluon-status-page/javascript/status-page.min.js
Labels: 3. topic: package, 3. topic: status-page, 3. topic: respondd, 3. topic: fastd

#3149 ath79-generic: add support for Ubiquiti UniFi Swiss Army Knife Ultra
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#3161 [v2023.2.x] master backports
  contrib/ci/minimal-site/site.conf
  contrib/ci/olsr-site/site.conf
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/usr/lib/lua/gluon/platform.lua
  package/gluon-mesh-vpn-fastd/src/respondd.c
  package/gluon-status-page/javascript/status-page.js
  package/gluon-status-page/javascript/status-page.min.js
  targets/ath79-generic
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package, 3. topic: status-page, 3. topic: respondd, 3. topic: fastd, 7. v2023.2.x, 3. topic: continous integration

#3166 modules: update to latest HEAD
  modules
Labels: 7. v2023.2.x

#3170 docs: add v2023.1.2 release notes
  README.md
  contrib/ci/minimal-site/site.conf
  contrib/ci/olsr-site/site.conf
  docs/conf.py
  docs/releases/index.rst
  docs/releases/v2023.1.2.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs, 7. v2023.1.x, 3. topic: continous integration

#3168 docs: add v2023.2.1 release notes
  README.md
  docs/conf.py
  docs/releases/index.rst
  docs/releases/v2023.2.1.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs
