Repository freifunk-gluon/gluon, pull requests merged in 2024-02, with the labels that each got.

#3189 generic: disable kernel SWAP support
  targets/generic
Labels: 3. topic: hardware

#3195 docs: fix typo in v2023.2 release notes
  docs/releases/v2023.2.rst
Labels: 3. topic: docs

#3190 ath79-generic: add support for D-Link DAP-2680
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#3186 Omit obsolete manifest-aliases / cleanups
  docs/user/supported_devices.rst
  targets/ath79-generic
  targets/ath79-nand
  targets/ipq40xx-generic
  targets/lantiq-xrx200
  targets/lantiq-xway
  targets/mediatek-filogic
  targets/mediatek-mt7622
  targets/mpc85xx-p1010
  targets/mpc85xx-p1020
  targets/ramips-mt7620
  targets/ramips-mt7621
  targets/ramips-mt76x8
  targets/x86-generic
Labels: 3. topic: docs, 3. topic: hardware

#3194 ath79-generic: add support for D-Link DAP-2695
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#3204 [v2023.1.x] net vxlan: don't learn non-unicast L2 destinations
  patches/openwrt/0016-net-vxlan-don-t-learn-non-unicast-L2-destinations.patch
Labels: 7. v2023.1.x

#3205 modules: update to latest HEAD
  modules
  patches/openwrt/0009-net-vxlan-don-t-learn-non-unicast-L2-destinations.patch
Labels: 0. type: bugfix

#3206 [v2023.2.x] modules: update to latest HEAD
  modules
  patches/openwrt/0008-net-vxlan-don-t-learn-non-unicast-L2-destinations.patch
Labels: 7. v2023.2.x

#3207 docs: fix AVM Recovery Tool url in v2023.1.1 release notes
  docs/releases/v2023.1.1.rst
Labels: 3. topic: docs
