Repository freifunk-gluon/gluon, pull requests merged in 2024-06, with the labels that each got.

#3272 mpc85xx-p1020: add support for Hewlett-Packard MSM460
  docs/user/supported_devices.rst
  targets/mpc85xx-p1020
Labels: 3. topic: docs, 3. topic: hardware

#3273 [v2023.2.x] modules: update to latest HEAD
  modules
  patches/openwrt/0005-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
Labels: 7. v2023.2.x

#3275 [v2023.2.x] mpc85xx-p1020: add support for Hewlett-Packard MSM460 (#3272)
  docs/user/supported_devices.rst
  targets/mpc85xx-p1020
Labels: 3. topic: docs, 3. topic: hardware, 7. v2023.2.x

#3124 ramips-mt7621: add dlink-dap-1620-b1
  targets/ramips-mt7621
Labels: 3. topic: hardware

#3254 docs: site: pubkey_privacy works for wireguard
  docs/user/site.rst
Labels: 3. topic: docs, 2. status: waiting-on-author

#3276 [v2023.2.x] github: update actions
  .github/labeler.yml
  .github/workflows/build-container.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-gluon.yml
  .github/workflows/labels.yml
Labels: 7. v2023.2.x, 3. topic: continous integration

#3278 [v2023.2.x] modules: update to latest HEAD
  modules
Labels: 7. v2023.2.x

#3282 treewide: Update main branch name
  .github/workflows/build-container.yml
  .github/workflows/build-gluon.yml
  .github/workflows/bump-gluon.yml
  CONTRIBUTING.md
  README.md
  docs/features/monitoring.rst
  docs/features/vpn.rst
  docs/index.rst
  docs/user/site.rst
Labels: 3. topic: docs, 3. topic: continuous integration

#3279 docs: add Gluon v2023.2.3 release notes
  README.md
  docs/conf.py
  docs/releases/index.rst
  docs/releases/v2023.2.3.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs

#3283 docs: add v2023.2.3 release notes
  README.md
  docs/conf.py
  docs/releases/index.rst
  docs/releases/v2023.2.3.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs

#3284 [v2023.2.x] modules: update to latest HEAD
  modules
Labels: 7. v2023.2.x

#3292 kirkwood-generic: fix device name of Linksys E4200 v2
  targets/kirkwood-generic
Labels: 3. topic: hardware, 2. status: waiting-on-review, 0. type: bugfix

#3295 build: extend GLUON_DEBUG with values 0, 1 and 2
  Makefile
  docs/user/getting_started.rst
  targets/generic
Labels: 0. type: enhancement, 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-review, 3. topic: build

#3297 ramips-mt76x8: add RE200 version 4
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware

#3294 private-wifi: rename ifname to wan_wifiX to not collide with openwrt devices with more than one wan port
  package/gluon-private-wifi/luasrc/lib/gluon/upgrade/325-gluon-private-wifi
  package/gluon-web-private-wifi/luasrc/lib/gluon/config-mode/model/admin/privatewifi.lua
Labels: 3. topic: package, 3. topic: config-mode, 3. topic: wireless
