Repository freifunk-gluon/gluon, pull requests merged in 2024-11, with the labels that each got.

#3360 docs readme: update hackint webchat URL
  CONTRIBUTING.md
  README.md
  docs/conf.py
  docs/dev/basics.rst
Labels: 3. topic: docs

#3362 ramips-mt7621: add Ubiquiti UniFi nanoHD
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#3366 generic: add gluon grub title
  targets/generic
Labels: 3. topic: hardware

#3361 ipq806x-generic: add Ubiquiti UniFi AC HD
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  targets/ipq806x-generic
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package
