Repository freifunk-gluon/gluon, pull requests merged in 2025-06, with the labels that each got.

#3521 docs: releases/v2023.2.5: fix typo
  docs/releases/v2023.2.5.rst
Labels: 3. topic: docs

#3517 v2023.2.5: forward-port release-notes to main
  README.md
  docs/conf.py
  docs/releases/index.rst
  docs/releases/v2023.2.5.rst
  docs/site-example/site.conf
  docs/user/getting_started.rst
Labels: 3. topic: docs

#3522 gluon-setup-mode: ignore capacitive buttons on Pulse EX400
  package/gluon-setup-mode/files/etc/hotplug.d/button/50-gluon-setup-mode
Labels: 3. topic: package

#3097 build: allow validating image-size of resulting images
  .github/workflows/build-gluon.yml
  Makefile
  contrib/check-image-size.py
  patches/openwrt/0010-build-include-size-limits-to-device-metadata.patch
  scripts/copy_output.lua
Labels: 3. topic: build, 3. topic: continuous integration

#3528 gluon-state-ntpd-check: Add package
  package/gluon-state-ntpd-check/Makefile
  package/gluon-state-ntpd-check/files/etc/hotplug.d/ntp/21-gluon-state-check
  package/gluon-state-ntpd-check/files/usr/bin/gluon-ntp-info
Labels: 3. topic: package, 2. status: waiting-on-review

#3529 modules: update to latest HEAD
  modules
  patches/openwrt/0005-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
Labels: 5. needs: testing

#3530 docs: Add FAQ sections for setting retention and gluon_preserve
  docs/user/faq.rst
Labels: 3. topic: docs, 2. status: waiting-on-review

#3532 gluon-l3roamd: startup fix
  package/gluon-l3roamd/files/etc/init.d/gluon-l3roamd
Labels: 3. topic: package, 2. status: waiting-on-author, 3. topic: olsr
