Repository freifunk-gluon/gluon, pull requests merged in 2025-05, with the labels that each got.

#3496 package/gluon-respondd: add target information
  package/gluon-respondd/src/respondd-nodeinfo.c
Labels: 3. topic: package, 3. topic: respondd

#3502 docs: gluon-web-network: fix enumerations
  docs/package/gluon-web-network.rst
Labels: 3. topic: docs

#3497 [v2023.2.x] package/gluon-respondd: add target information
  package/gluon-respondd/src/respondd-nodeinfo.c
Labels: 3. topic: package, 3. topic: respondd

#3503 gluon-core, gluon-web-admin: move translations for gluon-info strings to gluon-core
  package/gluon-core/i18n/de.po
  package/gluon-core/i18n/fr.po
  package/gluon-core/i18n/gluon-core.pot
  package/gluon-core/luasrc/usr/bin/gluon-info
  package/gluon-core/luasrc/usr/lib/lua/gluon/info.lua
  package/gluon-web-admin/files/lib/gluon/config-mode/view/admin/info.html
  package/gluon-web-admin/i18n/de.po
  package/gluon-web-admin/i18n/fr.po
  package/gluon-web-admin/i18n/gluon-web-admin.pot
Labels: 3. topic: package, 2. status: waiting-on-review, 3. topic: config-mode

#3506 mediatek-filogic: add ASUS RT-AX52
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

#3505 ramips-mt7621: add support for Genexis Pulse EX400
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#3508 gluon-setup-mode: execute bootcount initscript in setup-mode
  package/gluon-setup-mode/files/lib/gluon/setup-mode/rc.d/S11bootcount
Labels: 3. topic: package

#3511 scripts: Alter shebangs to /usr/bin/env bash
  contrib/actions/free-runner-space.sh
  contrib/actions/show-system-info.sh
  contrib/depdot.sh
  contrib/lsupgrade.sh
  scripts/feeds.sh
  scripts/module_check.sh
  scripts/patch.sh
  scripts/update-patches.sh
  scripts/update.sh
Labels: 3. topic: build, 3. topic: continuous integration

#3509 [v2023.2.x] ramips-mt7621: add support for Genexis EX400
  docs/user/supported_devices.rst
  package/gluon-setup-mode/files/lib/gluon/setup-mode/rc.d/S11bootcount
  patches/openwrt/0008-ramips-mt7621-add-support-for-Genexis-Pulse-EX400.patch
  patches/openwrt/0009-ramips-add-Semtech-SX9512-touch-input-driver.patch
  patches/openwrt/0010-Input-sx951x-make-Kernel-5.15-compatible.patch
  patches/openwrt/0011-ramips-pad-EX400-kernel-partition-to-retain-web-recovery.patch
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package, 2. status: waiting-on-author, 7. v2023.2.x

#3513 modules: update to latest HEAD
  modules
Labels: 7. v2023.2.x
