Repository freifunk-gluon/gluon, pull requests merged in 2025-09, with the labels that each got.

#3581 gluon-state-check: Provide documentation
  docs/index.rst
  docs/package/gluon-state-check.rst
Labels: 3. topic: docs, 2. status: waiting-on-review

#3578 mesh-vpn: Remove `pubkey_privacy` setting for WireGuard
  docs/features/multidomain.rst
  docs/user/site.rst
  package/gluon-mesh-vpn-core/check_site.lua
  package/gluon-mesh-vpn-wireguard/check_site.lua
  package/gluon-mesh-vpn-wireguard/src/respondd.c
Labels: 3. topic: docs, 3. topic: package, 2. status: waiting-on-review, 3. topic: wireguard, 3. topic: multidomain, 0. type: bugfix, 3. topic: respondd

#3568 ramips-mt76x8: add support for TP-Link Archer C50 v6
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 0. type: question, 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-author
