Repository freifunk-gluon/gluon, pull requests merged in 2025-03, with the labels that each got.

#3447 modules: update to latest Git HEAD
  contrib/docker/Dockerfile
  docs/user/getting_started.rst
  modules
  patches/openwrt/0004-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
  patches/openwrt/0004-mt76-include-fixes-for-MT7603-MT7612.patch
  patches/openwrt/0005-mac80211-silence-warning-for-missing-rate-information.patch
  patches/openwrt/0006-net-mac80211-override-incompatible-basic-rates-for-mesh.patch
  patches/openwrt/0007-net-mac80211-force-backwards-compatible-basic-rates.patch
  targets/generic
Labels: 3. topic: docs, 3. topic: hardware

#3448 actions: remove non-required packages
  .github/workflows/build-gluon.yml
  contrib/actions/free-runner-space.sh
Labels: 3. topic: continuous integration

#3446 mediatek-filogic: add support for OpenWRT One
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

#3424 docs: user/getting_started: add dependencies
  docs/user/getting_started.rst
Labels: 3. topic: docs

#3355 gluon-web-network: support handling of active-low PoE passthrough
  package/gluon-web-network/luasrc/lib/gluon/config-mode/model/admin/network.lua
Labels: 3. topic: package, 3. topic: config-mode

#3451 [v2023.2.x] modules: update to latest Git HEAD
  docs/requirements.txt
  docs/user/supported_devices.rst
  modules
  patches/openwrt/0006-ath79-don-t-create-DIR-825-B1-factory-image.patch
Labels: 3. topic: docs

#3453 [v2023.2.x] ath79: Add support for Sophos AP15C
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 3. topic: docs, 3. topic: hardware

#3406 core: remove old migrations
  package/gluon-core/luasrc/lib/gluon/upgrade/005-wireless-migration
  package/gluon-core/luasrc/lib/gluon/upgrade/021-interface-roles
  package/gluon-core/luasrc/lib/gluon/upgrade/190-preserve-wireless-channels
Labels: 3. topic: package, 2. status: waiting-on-author

#3461 hardware: remove support for D-Link DGS-1210-10P and realtek-rtl838x target
  .github/filters.yml
  docs/user/supported_devices.rst
  package/gluon-core/luasrc/lib/gluon/upgrade/020-interfaces
  targets/realtek-rtl838x
  targets/targets.mk
Labels: 3. topic: docs, 3. topic: hardware, 3. topic: package

#3414 ramips-mt76x8: Add support for Xiaomi Mi Router 4A (100M International Edition v2 - R4ACv2) - closes #3183
  docs/user/supported_devices.rst
  targets/ramips-mt76x8
Labels: 3. topic: docs, 3. topic: hardware

#3464 gluon-wan-dnsmasq privilege reduction
  package/gluon-wan-dnsmasq/files/etc/init.d/gluon-wan-dnsmasq
Labels: 3. topic: package

#3463 gluon-autoupdater: add support for HTTPS and protocol-less URLs
  docs/multidomain-site-example/site.conf
  docs/site-example/site.conf
  docs/user/site.rst
  package/gluon-autoupdater/check_site.lua
  package/gluon-autoupdater/luasrc/lib/gluon/upgrade/500-autoupdater
  package/gluon-tls/Makefile
Labels: 3. topic: docs, 3. topic: package, 3. topic: multidomain

#3467 Shellcheck fixes + enabling of additional lints
  package/gluon-alfred/files/usr/lib/autoupdater/abort.d/60gluon-alfred
  package/gluon-alfred/files/usr/lib/autoupdater/download.d/40gluon-alfred
  package/gluon-autoupdater/files/usr/lib/autoupdater/abort.d/90gluon-autoupdater
  package/gluon-autoupdater/files/usr/lib/autoupdater/download.d/10gluon-autoupdater
  package/gluon-core/files/lib/gluon/label_mac.sh
  package/gluon-core/files/lib/netifd/proto/gluon_mesh.sh
  package/gluon-core/files/lib/netifd/proto/gluon_wired.sh
  package/gluon-ebtables-limit-arp/files/usr/lib/autoupdater/abort.d/15start-arp-limiter
  package/gluon-ebtables-limit-arp/files/usr/lib/autoupdater/upgrade.d/05stop-arp-limiter
  package/gluon-mesh-batman-adv/files/lib/netifd/proto/gluon_bat0.sh
  package/gluon-mesh-batman-adv/files/usr/lib/autoupdater/abort.d/10start-network
  package/gluon-mesh-batman-adv/files/usr/lib/autoupdater/upgrade.d/10stop-network
  package/gluon-mesh-olsrd/files/usr/lib/autoupdater/abort.d/10olsrd
  package/gluon-mesh-olsrd/files/usr/lib/autoupdater/upgrade.d/10olsrd
  package/gluon-mesh-vpn-wireguard/files/lib/gluon/mesh-vpn/wireguard_pubkey.sh
  package/gluon-mesh-vpn-wireguard/files/lib/netifd/proto/gluon_wireguard.sh
  package/gluon-radvd/files/usr/lib/autoupdater/abort.d/80gluon-radvd
  package/gluon-radvd/files/usr/lib/autoupdater/download.d/20gluon-radvd
  package/gluon-respondd/files/usr/lib/autoupdater/abort.d/50gluon-respondd
  package/gluon-respondd/files/usr/lib/autoupdater/download.d/50gluon-respondd
  package/gluon-setup-mode/files/lib/preinit/90_setup_mode
  package/gluon-status-page/files/usr/lib/autoupdater/abort.d/70gluon-status-page
  package/gluon-status-page/files/usr/lib/autoupdater/download.d/30gluon-status-page
  scripts/lint-sh.sh
Labels: 3. topic: package, 3. topic: batman-adv, 3. topic: wireguard, 3. topic: build, 3. topic: firewall, 3. topic: status-page, 3. topic: respondd, 3. topic: olsr
