Repository freifunk-gluon/gluon, pull requests merged in 2025-07, with the labels that each got.

#3148 Image customization: add include() function
  Makefile
  docs/site-example/image-customization.lua
  docs/user/site.rst
  scripts/image_customization_lib.lua
Labels: 3. topic: docs, 2. status: waiting-on-author, 3. topic: build

#3543 docs: Add info about ECDSA keys
  docs/features/autoupdater.rst
  docs/user/site.rst
Labels: 3. topic: docs, 2. status: waiting-on-review

#3541 gluon-harden-dropbear: Add package
  docs/index.rst
  docs/package/gluon-harden-dropbear.rst
  package/gluon-harden-dropbear/Makefile
  package/gluon-harden-dropbear/files/lib/gluon/upgrade/105-harden-dropbear
Labels: 0. type: enhancement, 3. topic: docs, 3. topic: package, 2. status: waiting-on-review, 9. meta: release notes

#3536 gluon-scheduled-domain-switch: Replace ping with gluon-state checks
  docs/package/gluon-scheduled-domain-switch.rst
  package/gluon-autoupdater/check_site.lua
  package/gluon-scheduled-domain-switch/Makefile
  package/gluon-scheduled-domain-switch/check_site.lua
  package/gluon-scheduled-domain-switch/luasrc/usr/bin/gluon-check-connection
Labels: 0. type: enhancement, 0. type: question, 3. topic: docs, 3. topic: package, 0. type: feature-accepted, 2. status: waiting-on-review, 3. topic: multidomain, 9. meta: release notes

#3544 ath79-generic: add support for GL.iNet GL-AR300M16
  docs/user/supported_devices.rst
  targets/ath79-generic
Labels: 0. type: enhancement, 3. topic: docs, 3. topic: hardware, 2. status: waiting-on-review

#3547 mesh-vpn-core: rename gluon-wan to gluon-wan-dns
  package/gluon-mesh-vpn-core/luasrc/usr/bin/gluon-wan-dns
Labels: 3. topic: package, 2. status: waiting-on-review

#3548 docs: Add install command and change debian release
  docs/user/getting_started.rst
Labels: 3. topic: docs, 2. status: waiting-on-author

#3469 gluon-setup-mode: namespace-based implementation for password-less login
  package/gluon-setup-mode/Makefile
  package/gluon-setup-mode/files/lib/gluon/setup-mode/ash-login
  package/gluon-setup-mode/files/lib/gluon/setup-mode/dropbear/ash
  package/gluon-setup-mode/files/lib/gluon/setup-mode/dropbear/dropbear
  package/gluon-setup-mode/files/lib/gluon/setup-mode/dropbear/etc/passwd
  package/gluon-setup-mode/files/lib/gluon/setup-mode/dropbear/etc/shadow
  package/gluon-setup-mode/files/lib/gluon/setup-mode/dropbear/etc/shells
  package/gluon-setup-mode/files/lib/gluon/setup-mode/rc.d/S50dropbear
  patches/openwrt/0003-HACK-opkg-do-not-preserve-opkg-keys-on-upgrades-by-default.patch
  patches/openwrt/0003-dropbear-add-a-failsafe-mode-that-will-always-allow-password-less-root-login.patch
  patches/openwrt/0004-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
  patches/openwrt/0005-mac80211-silence-warning-for-missing-rate-information.patch
  patches/openwrt/0006-net-mac80211-override-incompatible-basic-rates-for-mesh.patch
  patches/openwrt/0007-net-mac80211-force-backwards-compatible-basic-rates.patch
  patches/openwrt/0008-build-include-size-limits-to-device-metadata.patch
  targets/generic
Labels: 3. topic: hardware, 3. topic: package

#3516 ipq806x-generic: add Extreme Networks WS-AP3935i
  targets/ipq806x-generic
Labels: 3. topic: hardware

#3454 gluon-core: add hop penalty per hardif setting
  docs/package/gluon-mesh-batman-adv.rst
  package/gluon-core/files/lib/netifd/proto/gluon_mesh.sh
  package/gluon-core/files/lib/netifd/proto/gluon_wired.sh
  package/gluon-core/luasrc/lib/gluon/upgrade/210-interface-mesh
  package/gluon-mesh-batman-adv/files/lib/netifd/proto/gluon_bat0.sh
  package/gluon-mesh-vpn-core/luasrc/lib/gluon/upgrade/500-mesh-vpn
Labels: 3. topic: docs, 3. topic: package, 2. status: waiting-on-review, 3. topic: batman-adv
