Repository freifunk-gluon/gluon, pull requests merged in 2025-01, with the labels that each got.

#3413 docs: add AP3915i to supported_devices
  docs/user/supported_devices.rst
Labels: 3. topic: docs

#3411 modules: update to latest HEAD
  modules
  package/gluon-core/luasrc/lib/gluon/upgrade/200-wireless
  patches/openwrt/0005-kernel-bridge-Implement-MLD-Querier-wake-up-calls-Android-bug-workaround.patch
  patches/openwrt/0007-net-mac80211-override-incompatible-basic-rates-for-mesh.patch
  patches/openwrt/0008-net-mac80211-always-pretend-1-Mbit-s-as-mesh-basic-rate.patch
  patches/openwrt/0009-wifi-scripts-allow-per-IF-mesh-basic-rate-selection.patch
  targets/generic
Labels: 3. topic: hardware, 3. topic: package

#3412 gluon-private-wifi: rename psk3 to sae as it is used in openwrt that way
  package/gluon-private-wifi/luasrc/lib/gluon/upgrade/325-gluon-private-wifi
  package/gluon-web-private-wifi/luasrc/lib/gluon/config-mode/model/admin/privatewifi.lua
Labels: 3. topic: package, 3. topic: config-mode, 3. topic: wireless

#3407 mediatek-filogic: Add support for D-Link AQUILA PRO AI M60 A1
  docs/user/supported_devices.rst
  targets/mediatek-filogic
Labels: 3. topic: docs, 3. topic: hardware

#3422 docs: move D-Link M30, M60 to mediatek-filogic section
  docs/user/supported_devices.rst
Labels: 3. topic: docs

#3428 modules: update to latest Git HEAD
  modules
  patches/openwrt/0009-wifi-scripts-allow-per-IF-mesh-basic-rate-selection.patch
  targets/armsr.inc
Labels: 3. topic: hardware

#3433 ramips-mt7621: add support netgear eax12
  docs/user/supported_devices.rst
  targets/ramips-mt7621
Labels: 3. topic: docs, 3. topic: hardware

#3432 ramips-mt7621: add tp-link ax23
  targets/ramips-mt7621
Labels: 3. topic: hardware
